@model IEnumerable<HireMe.Models.JobCategory>



<style>
    #footer-container {
        display: none;
    }
</style>

<div id="main-container-user">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                                    .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                                    .Select(c => c.Value);
        string role = roles.FirstOrDefault();}

    <!---- Tab Section -->

    <div class="full-section-container wow fadeInUp">
        <div class="tab-section">
            <div class="tab-section-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="headline text-center mb-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                            @if (role == "Candidate")
                            {
                                @*if (!ViewBag.ProfileUpdated)
                                {
                                    <h2>Please add your skills in order to search a job offer (for first time users)</h2>
                                }*@
                                <h2>Select your Job</h2>
                            }
                            else if (role == "Employer")
                            {
                                <h2>What you are looking for ?</h2>
                            }
                            else if (role == "Agency")
                            {
                                <h2>Select Job for candidate</h2>
                            }

                        </div>
                        <div class="tabs style-2">

                            <ul class="nav nav-tabs job-tab">
                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    var item = Model.ElementAt(i);
                                    <li><a class="@(i == 0 ? "active" : "")" href="@("#tab-1-" + i)" data-toggle="tab"><img src="@item.IconImage" />@item.CategoryName</a></li>
                                }
                            </ul>
                            @*<ul class="nav nav-tabs">
                                    <li><a class="active" href="#tab-1-1" data-toggle="tab"><img src="~/assets/images/home-icon.png" />Home Jobs</a></li>
                                    <li><a href="#tab-1-2" data-toggle="tab"><img src="~/assets/images/settings-icon.png" />Troubleshooting</a></li>
                                    <li><a href="#tab-1-3" data-toggle="tab"><img src="~/assets/images/course-icon.png" />Course</a></li>
                                    <li><a href="#tab-1-4" data-toggle="tab"><img src="~/assets/images/salon-icon.png" />Hairstyle/ Care</a></li>
                                    <li><a href="#tab-1-5" data-toggle="tab"><img src="~/assets/images/ceremony-icon.png" />Organization Ceremony</a></li>
                                </ul>*@

                            <div class="tab-content">

                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    var item = Model.ElementAt(i);
                                    <div class="tab-pane fade show @(i == 0 ? "active" : "")" id="@("tab-1-"+i)">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="isotope cols-3 gutter">
                                                    @foreach (var job in item.Jobs)
                                                    {
                                                        <div class="isotope-item categ-1 categ-2">
                                                            <div class="portfolio-item">
                                                                <div class="portfolio-item-thumbnail">
                                                                    <img src="@(job.IconImage)" alt="">
                                                                    <div class="portfolio-item-hover"></div>
                                                                    <div class="portfolio-item-description">
                                                                        @if (role == "Candidate")
                                                                        {
                                                                            <h5><a href="~/CandidateProfiles/Create/@(job.JobId)">@job.JobName</a></h5>
                                                                        }
                                                                        else if (role == "Employer")
                                                                        {
                                                                            <h5><a href="~/EmployerJobOffers/Create/@(job.JobId)">@job.JobName</a></h5>
                                                                        }
                                                                        else if (role == "Agency")
                                                                        {
                                                                            <h5><a href="~/Agency/CreateCandidateProfile/@(job.JobId)">@job.JobName</a></h5>
                                                                        }
                                                                        else
                                                                        {
                                                                            <h5><a href="~/Jobs/Details/@(job.JobId)">@job.JobName</a></h5>
                                                                        }
                                                                    </div><!-- portfolio-item-description -->
                                                                    @*<a class="fancybox zoom-action" data-fancybox="portfolio" href="#"><i class="bizhub-icon-search"></i></a>*@
                                                                </div><!-- portfolio-item-thumbnail -->
                                                            </div><!-- portfolio-item -->
                                                        </div>
                                                    }


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div><!-- tab-content -->
                        </div><!-- tabs -->
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Our Trusted Partners</h2>
                    </div><!-- headline -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel logos-slider">
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/6.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/5.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/4.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/3.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/2.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/1.jpg);"></a></div>
                    </div><!-- logos-slider -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>

    <!---- Tab Section end-->





</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>