@model IEnumerable<HireMe.Models.UserInfo>

@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin</h1>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="box-title">
                <b>Users</b>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="panel-body">
            <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
                <thead>
                    <tr>
                        <td><b>UserName</b></td>
                        <td><b>Email</b></td>
                        <td><b>Contact Number</b></td>
                        <td><b>Address</b></td>
                        <td><b>Roles</b></td>
                    </tr>
                </thead>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Address</td>
                        <td>@user.Role</td>

                    </tr>
                }
            </table>

            @Html.ActionLink("Manage Role", "Index", "Role")

        </div>
    </div>
}
else
{
    <div id="main-container">
        <header id="header">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">

                        <!-- LOGO -->
                        <div id="logo">
                            <a href="index.html">
                                <img src="~/assets/images/logo.png" alt="">
                            </a>
                        </div><!-- LOGO -->

                    </div><!-- col -->
                    <div class="col-sm-10">

                        <!-- MENU -->
                        <nav>

                            <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>

                            <ul class="menu clearfix" id="menu">
                                @*
                                <li class="active"><a href="index.html">HOME</a></li>*@
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>

                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                }

                                @*
                                <li><a href="#">ADMIN</a></li>
                                <li><a href="#">LOGIN</a></li>*@
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li class="dropdown">
                                    <a href="#">AIDE</a>
                                    <ul>
                                        <li>
                                            <a class="waves" href="about-us.html">REPORT A BUG</a>
                                        </li>
                                        <li>
                                            <a class="waves" href="services.html">SHARE YOUR OPINION</a>
                                        </li>
                                    </ul>
                                </li>

                                @Html.Partial("_LoginPartial")
                                <li class="secondary-menu-btn">
                                    <a href="#"><i class="bizhub-icon-menu-bars"></i></a>
                                    <ul class="secondary-menu">
                                        <li><a class="waves" href="index.html">Home</a></li>
                                        <li><a class="waves" href="#">ADMIN</a></li>
                                        <li><a class="waves" href="#">LOGIN</a></li>
                                        <li><a class="waves" href="#">CONTACT</a></li>
                                        <li><a class="waves" href="#">AIDE</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </nav>

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container-fluid -->

        </header>

        <div class="container"></div>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                    .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                    .Select(c => c.Value);
            string role = roles.FirstOrDefault();}

        @if (role == "Candidate")
        {
            <h2>Candidate Account</h2>
            <a href="~/JobCategories" style="line-height: 40px;"><img src="~/assets/images/search-profile.png" alt=""> Search Employer</a>

            <a href="~/JobRequests" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> My Job Requests</a>

            <a href="#" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> Manage my favorites</a>
        }
        else if (role == "Employer")
        {
            <h2>Employer     Account</h2>
            <a href="~/JobCategories" style="line-height: 40px;"><img src="~/assets/images/search-profile.png" alt=""> Search Employee</a>

            <a href="~/JobOffers" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> My Job Offers</a>

            <a href="#" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> Manage my favorites</a>
        }
        else if (role == "Agency")
        {
            <h2>Agency Account</h2>
            <a href="~/JobCategories" style="line-height: 40px;"><img src="~/assets/images/search-profile.png" alt=""> Search Employer</a>

            <a href="~/Agency/RegisterCandidate" style="line-height: 40px;"><img src="~/assets/images/search-profile.png" alt=""> Create a Job Request</a>

            <a href="~/Agency/GetJobRequests" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> My Job Requests</a>

            <a href="#" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> Manage my favorites</a>
        }


        @*<a href="#"><img src="~/assets/images/lifecycle.png" alt=""> Process recruiment lifecycle</a>
        <a href="#"><img src="~/assets/images/message.png" alt=""> Manage my message & notification</a>
        <a href="#"><img src="~/assets/images/post-message.png" alt=""> Post a new message on the conversation thread</a>
        <a href="#" style="line-height: 40px;"><img src="~/assets/images/settings.png" alt=""> Manage my settings</a>
        <a href="#"><img src="~/assets/images/feedback.png" alt=""> Share my feedbacks about the plate form</a>
        <a href="#" style="line-height: 40px;"><img src="~/assets/images/bug.png" alt=""> Rise an Bug/issue</a>*@
    </div>

    <div id="main-container-user">

        <div id="page-content" style="background: #f3f8fb;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <span class="menu-but" onclick="openNav()">&#9776; MENU</span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="headline text-center">
                            <h2>User Acount</h2>

                            <h3>  Welcome <strong>@ViewBag.Name</strong> :) </h3>
                            <h5>Looking a Job Here</h5>
                        </div><!-- headline -->
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="blog-article">

                                    <div class="blog-article-thumbnail">
                                        <a href="blog-post-no-sidebar.html"><img src="~/assets/images/research-proces.jpg" alt=""></a>
                                    </div><!-- blog-article-thumbnail -->

                                    <h3 class="blog-article-title"><a href="blog-post-no-sidebar.html">Research Process</a></h3>

                                    <div class="blog-article-content">

                                        <p>
                                            Cras metus enim, luctus ut urna in, rutrum accumsan mi. Nunc magna tortor, tincidunt vitae
                                            orci ac, pharetra vehicula erat. Etiam nec odio vestibulum est mattis efficitur vel ut magna.
                                            Pellentesque sit amet tellus blandit, tincidunt enim vel, semper purus.  Donec et molestie
                                            nibh. Fusce faucibus, quam at tempor lobortis, ipsum diam dignissim mauris, et accumsan risus
                                            nibh vel eros. Sed at augue sit amet quam semper eleifend. Sed nulla odio, euismod at orci at,
                                            molestie semper lectus. Maecenas rutrum augue id augue vehicula, ut volutpat risus cursus.
                                            Phasellus cursus blandit nisi id aliquet. Cras bibendum dui at lobortis malesuada. Integer
                                            tristique tellus nisl. Cras id dolor lacus. Pellentesque ac luctus augue. Sed nec posuere
                                            elit. Integer vitae tincidunt mauris.
                                        </p>

                                    </div><!-- blog-article-content -->

                                </div><!-- blog-article -->

                            </div><!-- col -->
                            <div class="col-lg-6">

                                <div class="blog-article">

                                    <div class="blog-article-thumbnail">
                                        <a href="blog-post-no-sidebar.html"><img src="~/assets/images/rules.jpg" alt=""></a>
                                    </div><!-- blog-article-thumbnail -->

                                    <h3 class="blog-article-title"><a href="blog-post-no-sidebar.html">Basic Rules</a></h3>

                                    <div class="blog-article-content">

                                        <p>
                                            Cras metus enim, luctus ut urna in, rutrum accumsan mi. Nunc magna tortor, tincidunt vitae
                                            orci ac, pharetra vehicula erat. Etiam nec odio vestibulum est mattis efficitur vel ut magna.
                                            Pellentesque sit amet tellus blandit, tincidunt enim vel, semper purus.  Donec et molestie
                                            nibh. Fusce faucibus, quam at tempor lobortis, ipsum diam dignissim mauris, et accumsan risus
                                            nibh vel eros. Sed at augue sit amet quam semper eleifend. Sed nulla odio, euismod at orci at,
                                            molestie semper lectus. Maecenas rutrum augue id augue vehicula, ut volutpat risus cursus.
                                            Phasellus cursus blandit nisi id aliquet. Cras bibendum dui at lobortis malesuada. Integer
                                            tristique tellus nisl. Cras id dolor lacus. Pellentesque ac luctus augue. Sed nec posuere
                                            elit. Integer vitae tincidunt mauris.
                                        </p>

                                    </div><!-- blog-article-content -->

                                </div><!-- blog-article -->

                            </div>


                        </div><!-- row -->
                    </div>

                </div><!-- row -->
            </div><!-- container -->
        </div>



    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
            document.getElementById("main-container-user").style.marginLeft = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main-container-user").style.marginLeft = "0";
        }
    </script>
            }  