@*@model IEnumerable<HireMe.Models.UserInfo>

@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin</h1>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="box-title">
                <b>Users</b>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="panel-body">
            <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
                <thead>
                    <tr>
                        <td><b>UserName</b></td>
                        <td><b>Email</b></td>
                        <td><b>Contact Number</b></td>
                        <td><b>Address</b></td>
                        <td><b>Roles</b></td>
                    </tr>
                </thead>
                @foreach (var user in Model)
                {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Address</td>
                    <td>@user.Role</td>

                </tr>
                }
            </table>

            @Html.ActionLink("Manage Role", "Index", "Role")

        </div>
    </div>
}
else
{
    <div id="main-container">
        <header id="header">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">

                        <!-- LOGO -->
                        <div id="logo">
                            <a href="index.html">
                                <img src="~/assets/images/logo.png" alt="">
                            </a>
                        </div><!-- LOGO -->

                    </div><!-- col -->
                    <div class="col-sm-10">

                        <!-- MENU -->
                        <nav>

                            <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>

                            <ul class="menu clearfix" id="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>

                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                }

                              
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li class="dropdown">
                                    <a href="#">AIDE</a>
                                    <ul>
                                        <li>
                                            <a class="waves" href="about-us.html">REPORT A BUG</a>
                                        </li>
                                        <li>
                                            <a class="waves" href="services.html">SHARE YOUR OPINION</a>
                                        </li>
                                    </ul>
                                </li>

                                @Html.Partial("_LoginPartial")
                                <li class="secondary-menu-btn">
                                    <a href="#"><i class="bizhub-icon-menu-bars"></i></a>
                                    <ul class="secondary-menu">
                                        <li><a class="waves" href="index.html">Home</a></li>
                                        <li><a class="waves" href="#">ADMIN</a></li>
                                        <li><a class="waves" href="#">LOGIN</a></li>
                                        <li><a class="waves" href="#">CONTACT</a></li>
                                        <li><a class="waves" href="#">AIDE</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </nav>

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container-fluid -->

        </header>

        <div class="container"></div>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                    .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                    .Select(c => c.Value);
            string role = roles.FirstOrDefault();}

        @if (role == "Candidate")
        {
        <h2>Candidate Account</h2>
        <a href="~/JobCategories" style="line-height: 40px;"><img src="~/assets/images/search-profile.png" alt=""> Search Employer</a>

        <a href="~/JobRequests" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> My Job Requests</a>

        <a href="#" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> Manage my favorites</a>
        }
        else if (role == "Employer")
        {
        <h2>Employer     Account</h2>
        <a href="~/JobCategories" style="line-height: 40px;"><img src="~/assets/images/search-profile.png" alt=""> Search Employee</a>

        <a href="~/JobOffers" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> My Job Offers</a>

        <a href="#" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> Manage my favorites</a>
        }
        else if (role == "Agency")
        {
        <h2>Agency Account</h2>
        <a href="~/JobCategories" style="line-height: 40px;"><img src="~/assets/images/search-profile.png" alt=""> Search Employer</a>

        <a href="~/Agency/RegisterCandidate" style="line-height: 40px;"><img src="~/assets/images/search-profile.png" alt=""> Create a Job Request</a>

        <a href="~/Agency/GetJobRequests" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> My Job Requests</a>

        <a href="#" style="line-height: 40px;"><img src="~/assets/images/manage-favorites.png" alt=""> Manage my favorites</a>
        }
    </div>

    <div id="main-container-user">

        <div id="page-content" style="background: #f3f8fb;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <span class="menu-but" onclick="openNav()">&#9776; MENU</span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="headline text-center">
                            <h2>User Acount</h2>

                            <h3>  Welcome <strong>@ViewBag.Name</strong> :) </h3>
                            <h5>Looking a Job Here</h5>
                        </div><!-- headline -->
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="blog-article">

                                    <div class="blog-article-thumbnail">
                                        <a href="blog-post-no-sidebar.html"><img src="~/assets/images/research-proces.jpg" alt=""></a>
                                    </div><!-- blog-article-thumbnail -->

                                    <h3 class="blog-article-title"><a href="blog-post-no-sidebar.html">Research Process</a></h3>

                                    <div class="blog-article-content">

                                        <p>
                                            Cras metus enim, luctus ut urna in, rutrum accumsan mi. Nunc magna tortor, tincidunt vitae
                                            orci ac, pharetra vehicula erat. Etiam nec odio vestibulum est mattis efficitur vel ut magna.
                                            Pellentesque sit amet tellus blandit, tincidunt enim vel, semper purus.  Donec et molestie
                                            nibh. Fusce faucibus, quam at tempor lobortis, ipsum diam dignissim mauris, et accumsan risus
                                            nibh vel eros. Sed at augue sit amet quam semper eleifend. Sed nulla odio, euismod at orci at,
                                            molestie semper lectus. Maecenas rutrum augue id augue vehicula, ut volutpat risus cursus.
                                            Phasellus cursus blandit nisi id aliquet. Cras bibendum dui at lobortis malesuada. Integer
                                            tristique tellus nisl. Cras id dolor lacus. Pellentesque ac luctus augue. Sed nec posuere
                                            elit. Integer vitae tincidunt mauris.
                                        </p>

                                    </div><!-- blog-article-content -->

                                </div><!-- blog-article -->

                            </div><!-- col -->
                            <div class="col-lg-6">

                                <div class="blog-article">

                                    <div class="blog-article-thumbnail">
                                        <a href="blog-post-no-sidebar.html"><img src="~/assets/images/rules.jpg" alt=""></a>
                                    </div><!-- blog-article-thumbnail -->

                                    <h3 class="blog-article-title"><a href="blog-post-no-sidebar.html">Basic Rules</a></h3>

                                    <div class="blog-article-content">

                                        <p>
                                            Cras metus enim, luctus ut urna in, rutrum accumsan mi. Nunc magna tortor, tincidunt vitae
                                            orci ac, pharetra vehicula erat. Etiam nec odio vestibulum est mattis efficitur vel ut magna.
                                            Pellentesque sit amet tellus blandit, tincidunt enim vel, semper purus.  Donec et molestie
                                            nibh. Fusce faucibus, quam at tempor lobortis, ipsum diam dignissim mauris, et accumsan risus
                                            nibh vel eros. Sed at augue sit amet quam semper eleifend. Sed nulla odio, euismod at orci at,
                                            molestie semper lectus. Maecenas rutrum augue id augue vehicula, ut volutpat risus cursus.
                                            Phasellus cursus blandit nisi id aliquet. Cras bibendum dui at lobortis malesuada. Integer
                                            tristique tellus nisl. Cras id dolor lacus. Pellentesque ac luctus augue. Sed nec posuere
                                            elit. Integer vitae tincidunt mauris.
                                        </p>

                                    </div><!-- blog-article-content -->

                                </div><!-- blog-article -->

                            </div>


                        </div><!-- row -->
                    </div>

                </div><!-- row -->
            </div><!-- container -->
        </div>



    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
            document.getElementById("main-container-user").style.marginLeft = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main-container-user").style.marginLeft = "0";
        }
    </script>
            }*@  





<div id="main-container-user" style="margin-left: 280px;">
    <!-- HEADER -->
    <header id="header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">

                    <!-- LOGO -->
                    <div id="logo">
                        <a href="index.html">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div><!-- LOGO -->

                </div><!-- col -->
                <div class="col-sm-10">

                    <!-- MENU -->
                    <nav>

                        <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>

                        <ul class="menu clearfix" id="menu">
                            @*
                                <li class="active"><a href="index.html">HOME</a></li>*@
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                            }

                            @*
                                <li><a href="#">ADMIN</a></li>
                                <li><a href="#">LOGIN</a></li>*@
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="dropdown">
                                <a href="#">AIDE</a>
                                <ul>
                                    <li>
                                        <a class="waves" href="about-us.html">REPORT A BUG</a>
                                    </li>
                                    <li>
                                        <a class="waves" href="services.html">SHARE YOUR OPINION</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="waves" href="#">Post a Job</a>
                            </li>
                            @Html.Partial("_LoginPartial")
                            <li class="secondary-menu-btn">
                                <a href="#" onclick="openNav()"><i class="bizhub-icon-menu-bars"></i></a>
                            </li>
                        </ul>

                    </nav>

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container-fluid -->

    </header><!-- HEADER -->
    @*<div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="menu-but" onclick="openNav()">&#9776; MENU</span>
                </div>
            </div>
        </div>*@
    <div id="mySidenav" class="sidenav" style="width: 280px;">

        @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                        .Select(c => c.Value);
            string role = roles.FirstOrDefault();}


        <div class="sidenav-header">User Account - @role</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a href="~/Users" class="active"><i class="fa fa-home"></i>Dashboard</a>
        @*<a href="#"><i class="fa fa-search"></i>Job request/ Job offer</a>
        <a href="#"><i class="fa fa-send"></i>Publish a Job offer</a>
        <a href="#"><i class="fa fa-send"></i>Publish a Job request</a>
        <a href="#"><i class="fa fa-heart"></i>Manage my Favorites</a>
        <a href="#"><i class="fa fa-envelope"></i>Messagerie & Notifications</a>
        <a href="#"><i class="fa fa-cogs"></i>Manage my Settings</a>
        <a href="#"><i class="fa fa-share"></i>Share my Feedbacks</a>
        <a href="#"><i class="fa fa-exclamation-triangle"></i>Rise a Bug/ Issue</a>*@

        @if (role == "Candidate")
        {
           
            <a href="~/JobCategories"><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/JobRequests" ><i class="fa fa-search"></i> Job Requests</a>

            <a href="~/FavouriteJobOffers" ><i class="fa fa-heart"></i> Manage my favorites</a>
        }
        else if (role == "Employer")
        {
           
            <a href="~/SearchJobRequests" ><i class="fa fa-search"></i> Search Employee</a>

            <a href="~/JobOffers" ><i class="fa fa-search"></i> My Job Offers</a>

            <a href="~/FavouriteJobRequests" ><i class="fa fa-heart"></i> Manage my favorites</a>
        }
        else if (role == "Agency")
        {
            
            <a href="~/JobCategories" ><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/Agency/RegisterCandidate" ><i class="fa fa-search"></i> Create a Job Request</a>

            <a href="~/Agency/GetJobRequests" ><i class="fa fa-search"></i> My Job Requests</a>

            <a href="#" ><i class="fa fa-heart"></i> Manage my favorites</a>
        }
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="headline text-center mb-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                    <h2>Dashboard</h2>
                </div>
            </div>

            <div class="col-md-6 wow fadeInLeft">
                <div class="image-box style-2 text-left">
                    <div class="image-box-thumbnail">
                        <a href="#"><img src="~/assets/images/tuto-image.jpg" alt=""></a>
                    </div><!-- image-box-thumbnail -->
                    <h4><a href="#">All the Tuto in Video</a></h4>
                    <ul class="video-list">
                        <li><a href="#">How to search a profile?</a></li>
                        <li><a href="#">How to manage favorite?</a></li>
                        <li><a href="#">How to give a Note & Recommandation?</a></li>
                        <li><a href="#">How to publish a Job offer/ Job request?</a></li>
                    </ul>
                </div><!-- text-box -->
            </div>

            <div class="col-md-6 wow fadeInRight">
                <div class="image-box style-2 text-left">
                    <div class="image-box-thumbnail">
                        <a href="#"><img src="~/assets/images/rules1.jpg" alt=""></a>
                    </div><!-- image-box-thumbnail -->
                    <h4><a href="#">What are the rules follow in our communauty?</a></h4>
                    <strong>Respect each other:</strong>
                    <ul class="bullet-list">
                        <li>Once you find a profile and you want to contact him, please be polite, no racism terms, and don’t insist if the user is not interested</li>
                    </ul>
                    <strong>Give note & recommendations:</strong>
                    <ul class="bullet-list">
                        <li>After hiring a profile, don’t forget to let a note & comment to ...</li>
                    </ul>
                </div><!-- text-box -->
            </div>

            <div class="col-md-6 wow fadeInLeft">
                <div class="image-box style-2 text-left">
                    <div class="image-box-thumbnail">
                        <a href="#"><img src="~/assets/images/search-profile.jpg" alt=""></a>
                    </div><!-- image-box-thumbnail -->
                    <h4><a href="#">How to search a profil?</a></h4>
                    <strong>Define your search criterias:</strong>
                    <ul class="bullet-list">
                        <li>Go to the section « Search a Job request/Job offer »</li>
                        <li>Define your search criterias from the panoply of customized criterias</li>
                        <li>Launch the search command</li>
                    </ul>
                    <strong>Check the profile details:</strong>
                    <ul class="bullet-list">
                        <li>Check all the profil detail (profile picture, age,  localisation,ID checked logo…)</li>
                    </ul>
                </div><!-- text-box -->
            </div>

            <div class="col-md-6 wow fadeInRight">
                <div class="image-box style-2 text-left">
                    <div class="image-box-thumbnail">
                        <a href="#"><img src="~/assets/images/publish.jpg" alt=""></a>
                    </div><!-- image-box-thumbnail -->
                    <h4><a href="#">How to publish a Job offer or a Job request?</a></h4>
                    <strong>From your user account:</strong>
                    <ul class="bullet-list">
                        <li>Go to the section « Publish a job offer » or « Job request »</li>
                        <li>Fill a short form to define your profile criterias & expectations</li>
                        <li>Submit the form</li>
                    </ul>
                    <strong>Admin validation:</strong>
                    <ul class="bullet-list">
                        <li>Once the form is submitted, an admin will check you form (text & pictures) and validate it to make it visible by the othter members</li>
                    </ul>
                </div><!-- text-box -->
            </div>

        </div>
    </div>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>