@model HireMe.Models.EmployerJobOfferViewModel
@using HireMe.Models



@functions
{
    private int count = 0;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {


            $("#CityId").empty();
            $.ajax({
                type: 'GET',
                url: '/Account/GetCities?id=1', // we are calling json method

                dataType: 'json',

                // data: { id: $("#CountryId").val() },
                // here we are get value of selected country and passing same value
                //  as inputto json method GetStates.

                success: function (cities) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $("#CityId").append('<option value="0">' + ' --Select City--' + '</option>');
                    $.each(cities, function (i, city) {
                        $("#CityId").append('<option value="' + city.Value + '">' + city.Text + '</option>');
                        // here we are adding option for States

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            //return false;
 

        $("#CityId").change(function () {
            $("#DistrictId").empty();
            $.ajax({
                type: 'GET',
                url: '/Account/GetDistricts?id=' + $("#CityId").val(), // we are calling json method

                dataType: 'json',
                success: function (districts) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $("#DistrictId").append('<option value="0">' + ' --Select District--' + '</option>');
                    $.each(districts, function (i, district) {
                        $("#DistrictId").append('<option value="' + district.Value + '">' + district.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>

@helper ShowTaskTree(IEnumerable<HireMe.Models.JobTaskViewModel> jobTasks)
{
for (int i = 0; i < jobTasks.Count(); i++)
{
    count = count + 1;
    var item = jobTasks.ElementAt(i);

        <div class="col-sm-12">
            <div class="filtersection-panel">
                <div class="filtersection-header">
                    @Html.HiddenFor(p => p.JobTasks[count - 1].JobTaskId, new { @value = "@item.JobTaskId" })
                    @Html.HiddenFor(p => p.JobTasks[count - 1].JobTaskName, new { @value = "@item.JobTaskName" })
                    <span style="background-color:#ff055a;"><img style="width: 15px;" src="@(Model.JobTasks[count - 1].IconImage)" alt=""></span>
                    <span>@item.JobTaskName</span>
                    <div class="switch-area-inner switch-area-inner-cus">
                        <label class="checkbox">
                            @Html.CheckBoxFor(p => p.JobTasks[count - 1].Selected)
                            <span class=""></span>
                        </label>
                    </div>
                </div>

            </div>
            @if (item.SubTasks.Any())
            {

                @ShowTaskTree(item.SubTasks)

            }
        </div>



}
}

<style>
    #footer-container {
        display: none;
    }
</style>

<div id="main-container-user">
   @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                .Select(c => c.Value);
       string role = roles.FirstOrDefault();}

    @if (Request.QueryString["id"] != null)
    {
    <!---- Tab Section -->

    <div class="full-section-container wow fadeInUp pl-3 pr-3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline text-center mb-3">
                                <h2>My Job Offers</h2>
                            </div>
                            <div class="tabs style-2">
                                <div class="tab-header">
                                    My Criterias
                                </div>
                                <div class="tab-content search-criteria" style="margin-top:0;">

                                        <div class="tab-pane fade show active" id="tab-1-1">
                                            <div class="row">
                                                <div class="col-md-6" style="border-right:2px solid #ff6a00;">

                                                    <div class="row">
                                                        @*<div class="col-md-12">
                                                                <div class="common-header mb-2">
                                                                    Set all filters to “inactive”
                                                                    <div class="switch-area">
                                                                        <label class="switchsmall">
                                                                            <input type="checkbox">
                                                                            <span class="slider1 round"></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                        <div class="col-sm-6">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Gender
                                                                    @*<div class="switch-area-inner">
                                                                            <label class="switchsmall">
                                                                                <input type="checkbox">
                                                                                <span class="slider1 round"></span>
                                                                            </label>
                                                                        </div>*@
                                                                </div>

                                                                <div class="filtersection-body">
                                                                    <div class="radio">
                                                                        <label>
                                                                            @Html.RadioButtonFor(p => p.Gender, Gender.Female, new { @value = Gender.Female })
                                                                            Woman
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="radio">
                                                                        <label>
                                                                            @Html.RadioButtonFor(p => p.Gender, Gender.Male, new { @value = Gender.Male })
                                                                            Man
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="row">
                                                                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Type of Staff
                                                                    @*<div class="switch-area-inner">
                                                                            <label class="switchsmall">
                                                                                <input type="checkbox">
                                                                                <span class="slider1 round"></span>
                                                                            </label>
                                                                        </div>*@
                                                                </div>

                                                                <div class="filtersection-body">
                                                                    <div class="radio">
                                                                        <label>
                                                                            @Html.RadioButtonFor(p => p.StaffType, StaffType.Agency, new { @value = StaffType.Agency })
                                                                            Agency
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="radio">
                                                                        <label>
                                                                            @Html.RadioButtonFor(p => p.StaffType, StaffType.Independent, new { @value = StaffType.Independent })
                                                                            Independant
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="radio">
                                                                        <label>
                                                                            @Html.RadioButtonFor(p => p.StaffType, StaffType.DoesNotMatter, new { @value = StaffType.DoesNotMatter })
                                                                            Doesn't Matter
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="row">
                                                                        @Html.ValidationMessageFor(m => m.StaffType, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Age
                                                                    @*<div class="switch-area-inner">
                                                                            <label class="switchsmall">
                                                                                <input type="checkbox">
                                                                                <span class="slider1 round"></span>
                                                                            </label>
                                                                        </div>*@
                                                                </div>

                                                                <div class="filtersection-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-md-6">


                                                                            @*@Html.DropDownListFor(p => p.MinAge, new List<SelectListItem>
                                                                    {
                                                                        new SelectListItem{ Text="25", Value = "25" },
                                                                        new SelectListItem{ Text="30", Value = "30" },
                                                                        new SelectListItem{ Text="35", Value = "35" },
                                                                        new SelectListItem{ Text="40", Value = "40" },
                                                                     }, "--select--")*@
                                                                            @Html.TextBoxFor(p => p.MinAge, "{0:#.#}", new { @class = "form-control", @placeholder = "Min Age", @value = "", @type = "number" })
                                                                        </div>
                                                                        <div class="col-lg-6 col-md-6">
                                                                            @*@Html.DropDownListFor(p => p.MaxAge, new List<SelectListItem>
                                                                    {
                                                                        new SelectListItem{ Text="25", Value = "25" },
                                                                        new SelectListItem{ Text="30", Value = "30" },
                                                                        new SelectListItem{ Text="35", Value = "35" },
                                                                        new SelectListItem{ Text="40", Value = "40" },
                                                                     },"--select--")*@
                                                                            @Html.TextBoxFor(p => p.MaxAge, "{0:#.#}", new { @class = "form-control", @placeholder = "Min Age", @value = "", @type = "number" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        @Html.ValidationMessageFor(m => m.MinAge, "", new { @class = "text-danger" })
                                                                        @Html.ValidationMessageFor(m => m.MaxAge, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Years of Experience
                                                                    @*<div class="switch-area-inner">
                                                                            <label class="switchsmall">
                                                                                <input type="checkbox">
                                                                                <span class="slider1 round"></span>
                                                                            </label>
                                                                        </div>*@
                                                                </div>

                                                                <div class="filtersection-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-md-6">
                                                                            @*@Html.TextBoxFor(p => p.ExperienceInYears, new { @class = "form-control" })*@
                                                                            @Html.DropDownListFor(p => p.ExperienceInYears, new List<SelectListItem>
                                                                        {
                                                                            new SelectListItem{ Text="1", Value = "1" },
                                                                            new SelectListItem{ Text="2", Value = "2" },
                                                                            new SelectListItem{ Text="3", Value = "3" },
                                                                            new SelectListItem{ Text="4", Value = "4" },
                                                                            new SelectListItem{ Text="5", Value = "5" },
                                                                            new SelectListItem{ Text="6", Value = "6" },
                                                                            new SelectListItem{ Text="7", Value = "7" },
                                                                            new SelectListItem{ Text="8", Value = "8" },
                                                                            new SelectListItem{ Text="1", Value = "9" },
                                                                            new SelectListItem{ Text="2", Value = "10" }
                                                                         }, "--years--")
                                                                        </div>
                                                                        <div class="col-lg-6 col-md-6">
                                                                            @*@Html.TextBoxFor(p => p.ExperienceInMonths, new { @class = "form-control" })*@
                                                                            @Html.DropDownListFor(p => p.ExperienceInMonths, new List<SelectListItem>
                                                                        {
                                                                             new SelectListItem{ Text="1", Value = "1" },
                                                                            new SelectListItem{ Text="2", Value = "2" },
                                                                            new SelectListItem{ Text="3", Value = "3" },
                                                                            new SelectListItem{ Text="4", Value = "4" },
                                                                            new SelectListItem{ Text="5", Value = "5" },
                                                                            new SelectListItem{ Text="6", Value = "6" },
                                                                            new SelectListItem{ Text="7", Value = "7" },
                                                                            new SelectListItem{ Text="8", Value = "8" },
                                                                            new SelectListItem{ Text="7", Value = "9" },
                                                                            new SelectListItem{ Text="8", Value = "10" },
                                                                            new SelectListItem{ Text="8", Value = "12" }
                                                                         }, "--months--")
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        @Html.ValidationMessageFor(m => m.ExperienceInYears, "", new { @class = "text-danger" })
                                                                        @Html.ValidationMessageFor(m => m.ExperienceInMonths, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Localizations
                                                                    @*<div class="switch-area-inner">
                                                                            <label class="switchsmall">
                                                                                <input type="checkbox">
                                                                                <span class="slider1 round"></span>
                                                                            </label>
                                                                        </div>*@
                                                                </div>

                                                                <div class="filtersection-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-md-6">
                                                                            @Html.HiddenFor(p => p.Country, new { @value = "Ivory" })
                                                                            @Html.HiddenFor(p => p.CountryId, new { @value = 1 })
                                                                            @Html.DropDownList("CityId", new SelectList(string.Empty, "Value", "Text"), "--Select City --", new { @class = "form-control" })
                                                                            @*@Html.DropDownListFor(model => model.CityId, ViewBag.Cities as IEnumerable<SelectListItem>, "Select City", new { @class = "form-control" })*@
                                                                        </div>
                                                                        <div class="col-lg-6 col-md-6">
                                                                            @Html.DropDownList("DistrictId", new SelectList(string.Empty, "Value", "Text"), "--Select District--", new { @class = "form-control" })
                                                                            @*@Html.DropDownListFor(p => p.DistrictId, ViewBag.Districts as IEnumerable<SelectListItem>, "Select District", new { @class = "form-control" })*@
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        @Html.ValidationMessageFor(m => m.CityId, "", new { @class = "text-danger" })
                                                                        @Html.ValidationMessageFor(m => m.DistrictId, "", new { @class = "text-danger" })
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Salary Between
                                                                    @*<div class="switch-area-inner">
                                                                            <label class="switchsmall">
                                                                                <input type="checkbox">
                                                                                <span class="slider1 round"></span>
                                                                            </label>
                                                                        </div>*@
                                                                </div>

                                                                <div class="filtersection-body">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(p => p.SalaryType, SalaryType.Monthly, new { @value = SalaryType.Monthly })
                                                                                    Monthly
                                                                                    <span></span>
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(p => p.SalaryType, SalaryType.Hourly, new { @value = SalaryType.Hourly })
                                                                                    Hourly
                                                                                    <span></span>
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <label>
                                                                                    @Html.RadioButtonFor(p => p.SalaryType, SalaryType.Hourly, new { @value = SalaryType.PriceOfService })
                                                                                    Price Of Service
                                                                                    <span></span>
                                                                                </label>
                                                                            </div>
                                                                            <div class="salary-type-other" style="display:none">
                                                                                @Html.TextBoxFor(p => p.SalaryTypeOtherDesc, new { @class = "form-control", @placeholder = "Salary type" })
                                                                            </div>
                                                                            <div class="row">
                                                                                @Html.ValidationMessageFor(m => m.SalaryType, "", new { @class = "text-danger" })
                                                                                @Html.ValidationMessageFor(m => m.SalaryTypeOtherDesc, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="row">
                                                                                <div class="col-lg-6 col-md-6">
                                                                                    @Html.TextBoxFor(p => p.ExpectedMinSalary, "{0:#.#}", new { @class = "form-control", @placeholder = "Min Salary", @value = "", @type = "number" })
                                                                                </div>
                                                                                <div class="col-lg-6 col-md-6">
                                                                                    @Html.TextBoxFor(p => p.ExpectedMaxSalary, "{0:#.#}", new { @class = "form-control", @placeholder = "Max Salary", @value = "", @type = "number" })
                                                                                </div>
                                                                                @*<div class="col-md-12">
                                                                                        <input type="text" class="form-control" placeholder="Additional Description" />
                                                                                    </div>*@

                                                                                <div class="row">
                                                                                    @Html.ValidationMessageFor(m => m.ExpectedMinSalary, "", new { @class = "text-danger" })
                                                                                    @Html.ValidationMessageFor(m => m.ExpectedMaxSalary, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div><!-- tab-pane -->
                                        <div class="tab-pane fade show active" id="tab-1-2">
                                            <div class="row">
                                                <div class="col-md-6" style="border-right:2px solid #ff6a00;">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Read
                                                                    <div class="switch-area-inner switch-area-inner-cus">
                                                                        <label class="checkbox">
                                                                            @Html.CheckBoxFor(p => p.CanRead)
                                                                            <span class=""></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="filtersection-body">
                                                                    <div class="icon-section">
                                                                        <img src="~/assets/images/eyeglass1.png" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Write
                                                                    <div class="switch-area-inner switch-area-inner-cus">
                                                                        <label class="checkbox">
                                                                            @Html.CheckBoxFor(p => p.CanWrite)
                                                                            <span class=""></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="filtersection-body">
                                                                    <div class="icon-section">
                                                                        <img src="~/assets/images/write1.png" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Sleep on Site
                                                                    <div class="switch-area-inner switch-area-inner-cus">
                                                                        <label class="checkbox">
                                                                            @Html.CheckBoxFor(p => p.SleepOnSite, new { })
                                                                            <span class=""></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="filtersection-body">
                                                                    <div class="icon-section">
                                                                        <img src="~/assets/images/sleep1.png" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Disponibility
                                                                    @*<div class="switch-area-inner">
                                                                            <label class="switchsmall">
                                                                                <input type="checkbox">
                                                                                <span class="slider1 round"></span>
                                                                            </label>
                                                                        </div>*@
                                                                </div>

                                                                <div class="filtersection-body">
                                                                    <div class="">
                                                                        @Html.TextBoxFor(p => p.Disponibility, new { @type = "date", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    @Html.ValidationMessageFor(m => m.Disponibility, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 room-section" style="display:none;">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Number of rooms

                                                                </div>

                                                                <div class="filtersection-body">

                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-md-6">
                                                                            @Html.TextBoxFor(p => p.ExpectedMinRooms, new { @class = "form-control", @placeholder = "Min Rooms" })

                                                                        </div>
                                                                        <div class="col-lg-6 col-md-6">
                                                                            @Html.TextBoxFor(p => p.ExpectedMaxRooms, new { @class = "form-control", @placeholder = "Max Rooms" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 room-section" style="display:none;">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Number of people

                                                                </div>

                                                                <div class="filtersection-body">

                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-md-6">
                                                                            @Html.TextBoxFor(p => p.MinGroupPeople, new { @class = "form-control", @placeholder = "Min no. of people" })

                                                                        </div>
                                                                        <div class="col-lg-6 col-md-6">
                                                                            @Html.TextBoxFor(p => p.MaxGroupPeople, new { @class = "form-control", @placeholder = "Max no. of people" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        @ShowTaskTree(Model.JobTasks.Where(p => p.ParentJobTaskId == null))
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="filtersection-panel">
                                                                <div class="filtersection-header">
                                                                    Additional Description
                                                                    @*<div class="switch-area-inner">
                                                                            <label class="switchsmall">
                                                                                <input type="checkbox">
                                                                                <span class="slider1 round"></span>
                                                                            </label>
                                                                        </div>*@
                                                                </div>
                                                                <div class="filtersection-body">
                                                                    @*<textarea id="comment" class="form-control" name="comment" rows="2" placeholder="Comment"></textarea>*@
                                                                    @Html.TextAreaFor(p => p.AdditionalDescription, new { @class = "form-control", @placeholder = "Comment" })
                                                                    @Html.HiddenFor(p => p.JobId, new { @value = Model.JobId })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="row">
                                                        <div class="col-md-12">

                                                            <label class="checkbox">

                                                                @Html.CheckBoxFor(p => p.PublishProfile)
                                                                <span class=""></span>
                                                            </label>
                                                            &nbsp; &nbsp; Publish as a job offer

                                                        </div>
                                                    </div>*@
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button style="float:right;" class="btn btn-style-1 btn-lg waves" id="submit" type="submit" name="submit" value="">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- tab-pane -->
                                    </div>
                                    <ul class="nav nav-tabs" style="width: 100%;">
                                        <li style="width: 50%;">
                                            <a style="float:left;cursor:pointer;" class="active backbtn" href="#tab-1-1" data-toggle="tab">Back</a>
                                        </li>
                                        <li style="width: 50%;">
                                            <a style="float:right;cursor:pointer;" class="active nextbtn">Next</a>
                                        </li>
                                    </ul>
                                </div>




                        </div>
                    </div>
               
        }
    </div>

    <!---- Tab Section end-->
    }
    else
    {
        <div class="full-section-container wow fadeInUp">
            <div class="tab-section">
                <div class="tab-section-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline text-center mb-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                @if (role == "Candidate")
                                {
                                    <h2>Select your Job</h2>
                                }
                                else if (role == "Employer")
                                {
                                    <h2>What you are looking for ?</h2>
                                }
                                else if (role == "Agency")
                                {
                                    <h2>Select Job for candidate</h2>
                                }

                            </div>
                            @if (ViewBag.JobCategories != null && ViewBag.JobCategories.Count > 0)
                            {
                                <div class="tabs style-2">
                                    @{ var JobCategories = ViewBag.JobCategories; }
                                    <ul class="nav nav-tabs">
                                        @for (int i = 0; i < JobCategories.Count; i++)
                                        {
                                            var item = JobCategories[i];
                                            <li><a class="@(i == 0 ? "active" : "")" href="@("#tab-create-job-offer-" + i)" data-toggle="tab"><img src="@item.IconImage" />@item.CategoryName</a></li>
                                        }
                                    </ul>
                                    <div class="tab-content">

                                        @for (int i = 0; i < JobCategories.Count; i++)
                                        {
                                            var item = JobCategories[i];
                                            <div class="tab-pane fade show @(i == 0 ? "active" : "")" id="@("tab-create-job-offer-"+i)">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="isotope cols-3 gutter">
                                                            @foreach (var job in item.Jobs)
                                                            {
                                                                <div class="isotope-item categ-1 categ-2">
                                                                    <div class="portfolio-item">
                                                                        <div class="portfolio-item-thumbnail">
                                                                            <img src="@(job.IconImage)" alt="">
                                                                            <div class="portfolio-item-hover"></div>
                                                                            <div class="portfolio-item-description">
                                                                                <h5><a href='~/@("EmployerJobOffers/Create?id="+job.JobId)'>@job.JobName</a></h5>
                                                                            </div><!-- portfolio-item-description -->
                                                                            @*<a class="zoom-action" href='~/@("SearchJobRequests?id="+job.JobId)'><i class="bizhub-icon-search"></i></a>*@
                                                                        </div><!-- portfolio-item-thumbnail -->
                                                                    </div><!-- portfolio-item -->
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div><!-- tab-content -->
                                </div><!-- tabs -->
                                        }
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="headline text-center">
                            <h2>Our Trusted Partners</h2>
                        </div><!-- headline -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel logos-slider">
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/6.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/5.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/4.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/3.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/2.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/1.jpg);"></a></div>
                        </div><!-- logos-slider -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div>
                                        }

</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript" src="~/assets/plugins/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
    $("body").on("change", "input[name='SleepOnSite']", function (event) {
        console.log($("input[name='SleepOnSite']").val());
    });


</script>
<script type="text/javascript">


    //alert(jobRequestId);
    $(document).ready(function () {
        // alert("s")
        $(".backbtn").hide();
        $("#tab-1-2").hide();
        $("#tab-1-1").show();
        $(".backbtn").click(function () {
            //alert("s")
            $(this).hide();
            $(".nextbtn").show();
            $(".nextbtn").addClass("active");
            $("#tab-1-2").hide();
            $("#tab-1-1").show();
            //$(".backbtn").click();
        })
        $(".nextbtn").click(function () {

            // first check if the form is valid
            //alert();
            if ($('input[name="Gender"]').valid()
                && $('input[name="StaffType"]').valid()
                && $('#MinAge').valid()
                && $('#MaxAge').valid()
                && $('#ExperienceInYears').valid()
                //&& $('input[name="ExperienceInMonths"]').valid()
                && $('#CityId').valid()
                && $('#DistrictId').valid()
                && $('#ExpectedMaxSalary').valid()
                && $('#ExpectedMinSalary').valid()
                && $('#SalaryType').valid()) {

                $(this).hide();
                $(".backbtn").show();
                $(".backbtn").addClass("active");
                // $(".nextbtn").click();
                $("#tab-1-1").hide();
                $("#tab-1-2").show();
            }
            //$("#job-creation-form-container form").valid();

            //$(this).hide();
            //$(".backbtn").show();
            //$(".backbtn").addClass("active");
            //// $(".nextbtn").click();
            //$("#tab-1-1").hide();
            //$("#tab-1-2").show();
        })

        $("#SleepOnSite").click(function (event) {
            console.log($(event.target).prop("checked"));
            if ($(event.target).prop("checked")) {
                $(".room-section").show();
            } else {
                $(".room-section").hide();
            }
        });

        $("input[name='SalaryType']").change(function (event) {
            console.log(event);
            //salary-type-other
        })
    })

</script>