@model IEnumerable<HireMe.Models.Agency>
<style>
    #footer-container {
        display: none;
    }
</style>



<script type="text/javascript">
    function activateAgencyAccount(agencyId) {

        //alert(jobRequestId);
        $.ajax
            ({
                url: '/Admin/ActivateAgency?id=' + agencyId,
                //data: { "id": jobRequestId },
                type: 'get',
                success: function (result) {
                    //$('.modal-box').text(result).fadeIn(700, function () {
                    //    setTimeout(function () {
                    //        $('.modal-box').fadeOut();
                    //    }, 2000);
                    //});

                    alert("Agency Profile verified successfully.");
                    window.location.reload();
                }
            });

    }
    showAgencyInfo = function (agencyId) {
        $("#agency-info").html("");
        $.ajax
            ({
                url: '/Agency/GetAgencyDetailsPartialView?agencyId=' + agencyId,
                //data: { "id": jobRequestId },
                type: 'get',
                success: function (result) {
                    //$('.modal-box').text(result).fadeIn(700, function () {
                    //    setTimeout(function () {
                    //        $('.modal-box').fadeOut();
                    //    }, 2000);
                    //});

                    // alert("Job Request added to your favourite list.");
                    $("#agency-info").html("");
                    $("#agency-info").html(result);
                    $('#agency-info-modal').modal('show');
                }
            });
    }
</script>

<div id="main-container-user">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
        .Select(c => c.Value);
        string role = roles.FirstOrDefault();}

    <section class="right-side">
        <div class="full-section-container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="tab-section">
                <div class="tab-section-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline text-center mb-1">
                                <h2>Verify Agency Profiles</h2>
                            </div>
                        </div>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                <div class="col-sm-6">
                                    <div class="profileitems searchprofile-section">
                                        @if (item.ProfileVerified)
                                        {
                                            <span class="validate">
                                                <img src="~/assets/images/verified.png" />
                                            </span>
                                        }
                                        <div class="left">
                                            <img src="data:image/jpeg;base64,@item.ProfilePicUrl" />
                                            @*<div class="rating">&nbsp;</div>
                                            <div class="favorite"></div>*@
                                            <h2 class="contact-num"><i class="fa fa-phone"></i> @item.PhoneNo</h2>
                                            @if (!item.ProfileVerified)
                                            {
                                                <button class="btn btn-default btn-xs btn-block" type="button" onclick="activateAgencyAccount(@item.AgencyId)"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Verify</button>
                                            }
                                            else
                                            {
                                                @*<p>Verified</p>*@

                                            }
                                        </div>
                                        <div class="right">
                                            <div class="idcard">
                                                <a href="data:image/jpeg;base64,@item.AgencyLogo" class="fancybox">
                                                    <img src="data:image/jpeg;base64,@item.AgencyLogo" />
                                                </a>
                                            </div>
                                            <div class="right-left">
                                                <h1>@(item.AgencyName)<span></span></h1>
                                                <h2 class="name"><img src="~/assets/images/man-user.png" /> @item.ManagerFirstName</h2>

                                                <h2 class="email"><i class="fa fa-envelope"></i>@item.EmailId</h2>
                                                <h2 class="url"><i class="fa fa-globe"></i> <a href="@item.AgencyWebsiteURL" target="_blank">@item.AgencyWebsiteURL</a></h2>
                                                <div class="published">Registered on: <span>@item.CreatedDate</span></div>
                                                @*<div class="published">Candidates Registered: 5 </div>*@
                                            </div>
                                        </div>
                                        <div class="profile-footer">
                                            @item.CompanyActivityDesc
                                        </div>
                                        <div class="team-contact-info">
                                            <ul class="social-icons">
                                              <li><a href="#" onclick="showAgencyInfo(@item.AgencyId)" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            }
                        }
                        else
                        {
                            <div class="row"><h2>No Agency registered yet.</h2></div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="agency-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel13" aria-hidden="true">
            <div class="modal-wrapper">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel13">Agency Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">

                                <div id="agency-info"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
