@model HireMe.Models.Agency

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Agency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyWebsiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyWebsiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyActivityDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyActivityDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
