@model IEnumerable<HireMe.Models.JobRequest>


<style>
    #footer-container {
        display: none;
    }
</style>

<div id="main-container-user">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                .Select(c => c.Value);
        string role = roles.FirstOrDefault();}

    <section class="right-side">
        <!---- Tab Section -->

        <div class="full-section-container wow fadeInUp">
            <div class="tab-section">
                <div class="tab-section-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="headline text-center mb-1">
                                    <h2>Job Requests</h2>
                                </div>
                            </div>
                            @*<div class="headline text-center mb-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                    @if (role == "Candidate")
                                    {
                                        <h2>Select your Job</h2>
                                    }
                                    else if (role == "Employer")
                                    {
                                        <h2>What you are looking for ?</h2>
                                    }
                                    else if (role == "Agency")
                                    {
                                        <h2>Select Job for candidate</h2>
                                    }

                                </div>*@
                            <div class="tabs style-2">

                                @*<ul class="nav nav-tabs job-tab">
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            var item = Model.ElementAt(i);
                                            <li><a class="@(i == 0 ? "active" : "")" href="@("#tab-1-" + i)" data-toggle="tab"><img src="@item.IconImage" />@item.CategoryName</a></li>
                                        }
                                    </ul>*@
                                <ul class="nav nav-tabs job-tab">
                                    <li><a class="active" href="#tab-validatejobrequest-1" data-toggle="tab"><img src="~/assets/images/home-icon.png" />Home Jobs</a></li>
                                    <li><a href="#tab-validatejobrequest-2" data-toggle="tab"><img src="~/assets/images/settings-icon.png" />Troubleshooting</a></li>
                                    <li><a href="#tab-validatejobrequest-3" data-toggle="tab"><img src="~/assets/images/salon-icon.png" />Hairstyle/ Care</a></li>
                                    <li><a href="#tab-validatejobrequest-4" data-toggle="tab"><img src="~/assets/images/ceremony-icon.png" />Ceremony Organization</a></li>
                                    <li><a href="#tab-validatejobrequest-5" data-toggle="tab"><img src="~/assets/images/course-icon.png" />Course</a></li>
                                </ul>

                                <div class="tab-content">



                                    <div class="tab-pane fade show active" id="tab-validatejobrequest-1">

                                        <div class="row">
                                            @foreach (var item in Model.Where(p => p.Job.JobCategoryId == 1).ToList())
                                            {
                                                <div class="col-sm-6">
                                                    <div class="profileitems searchprofile-section">
                                                        @if (item.VerifiedByAdmin)
                                                        {
                                                            <span class="validate">
                                                                <img src="~/assets/images/verified.png" />
                                                            </span>
                                                        }
                                                        <div class="left">
                                                            <img src="data:image/jpeg;base64,@item.Candidate.ProfilePicUrl" />
                                                            @*<div class="rating">
                                                                    <a href="javascropt(0);"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></a>
                                                                </div>
                                                                <div class="favorite">
                                                                    <a href="javascropt(0);"><i class="fa fa-heart-o"></i></a>
                                                                </div>*@

                                                            <h3>
                                                                <span class="age">@item.Candidate.Age Yrs </span>
                                                                <span class="experience">Exp: @item.Candidate.ExperienceInYears Yrs</span>
                                                            </h3>
                                                            <h2 class="contact-num">
                                                                <i class="fa fa-phone"></i> @item.Candidate.ContactNo
                                                            </h2>

                                                        </div>
                                                        <div class="right">
                                                            <div class="idcard">
                                                                @if (item.Candidate != null && !string.IsNullOrWhiteSpace(item.Candidate.ProfilePicUrl))
                                                                {
                                                                    <a href="data:image/jpeg;base64,@item.Candidate.IdProofDoc" class="fancybox">
                                                                        <img src="data:image/jpeg;base64,@item.Candidate.IdProofDoc" />
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    // Put a default image if id proof is not available
                                                                }

                                                            </div>
                                                            <div class="right-left">
                                                                <h1>
                                                                    @if (item.Candidate.Gender == HireMe.Models.Gender.Female)
                                                                    {
                                                                        <span><img src="~/assets/images/woman-user.png" /></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span><img src="~/assets/images/user.png" /></span>
                                                                    }
                                                                    <span>@(item.Candidate.StaffType == HireMe.Models.StaffType.Agency ? "(Agency)" : "(Individual)")</span>
                                                                </h1>
                                                                <h2 class="name"><span>@(item.Candidate.FirstName + " " + item.Candidate.LastName ?? item.Candidate.LastName) </span></h2>
                                                                <h2 class="jobname">@item.Job.JobName</h2>
                                                                <p class="location"><i class="fa fa-map-marker"></i> <span>@item.Candidate.Country,</span><span> @item.Candidate.City,</span><span> @item.Candidate.District</span></p>
                                                                <div class="published">Published: <span>@item.PublishedDate.ToString("dd-MMM-yyyy")</span></div>
                                                                <div class="published">Disponibility: <span>@item.Candidate.Disponibility.ToString("dd-MMM-yyyy")</span></div>
                                                            </div>

                                                        </div>
                                                        <div class="profile-footer">
                                                            @item.Candidate.AdditionalDescription &nbsp;
                                                        </div>
                                                        <div class="team-contact-info">
                                                            <ul class="social-icons">
                                                                @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                <li>@*<a href="" title="Favorite" id="set_favourite_job_req_link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>*@</li>
                                                                @*<li><a href="#" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                <li><a href="~/JobRequests/Details/@item.JobRequestId" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>

                                    </div>
                                    <div class="tab-pane fade show" id="tab-validatejobrequest-2">

                                        <div class="row">
                                            @foreach (var item in Model.Where(p => p.Job.JobCategoryId == 2).OrderByDescending(p => p.JobRequestId))
                                            {
                                                <div class="col-sm-6">
                                                    <div class="profileitems searchprofile-section">
                                                        @if (item.VerifiedByAdmin)
                                                        {
                                                            <span class="validate">
                                                                <img src="~/assets/images/verified.png" />
                                                            </span>
                                                        }
                                                        <div class="left">
                                                            <img src="data:image/jpeg;base64,@item.Candidate.ProfilePicUrl" />
                                                            <h3>
                                                                <span class="age">@item.Candidate.Age Yrs </span>
                                                                <span class="experience">Exp: @item.Candidate.ExperienceInYears Yrs</span>
                                                            </h3>
                                                            <h2 class="contact-num">
                                                                <i class="fa fa-phone"></i> @item.Candidate.ContactNo
                                                            </h2>
                                                        </div>
                                                        <div class="right">
                                                            <div class="idcard">
                                                                @if (item.Candidate != null && !string.IsNullOrWhiteSpace(item.Candidate.ProfilePicUrl))
                                                                {
                                                                    <a href="data:image/jpeg;base64,@item.Candidate.IdProofDoc" class="fancybox">
                                                                        <img src="data:image/jpeg;base64,@item.Candidate.IdProofDoc" />
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    // Put a default image if id proof is not available
                                                                }
                                                            </div>
                                                            <div class="right-left">
                                                                <h1>
                                                                    @if (item.Candidate.Gender == HireMe.Models.Gender.Female)
                                                                    {
                                                                        <span><img src="~/assets/images/woman-user.png" /></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span><img src="~/assets/images/user.png" /></span>
                                                                    }

                                                                    @*<span data-ng-bind="jr.Candidate.StaffType == 1 ? '(Individual)' : '(Agency)'"></span>*@
                                                                    <span>@(item.Candidate.StaffType == HireMe.Models.StaffType.Agency ? "(Agency)" : "(Individual)")</span>


                                                                </h1>


                                                                @*<h1>@(item.Candidate.Gender == HireMe.Models.Gender.Male ? "Man" : "Woman")<span>@(item.Candidate.StaffType == HireMe.Models.StaffType.Agency ? "(AGENCY)" : "(INDIVIDUAL)")</span></h1>*@


                                                                <h2 class="name"><span>@(item.Candidate.FirstName + " " + item.Candidate.LastName ?? item.Candidate.LastName) </span></h2>
                                                                <h2 class="jobname">@item.Job.JobName</h2>

                                                                <p class="location"><i class="fa fa-map-marker"></i> <span>@item.Candidate.Country,</span><span> @item.Candidate.City,</span><span> @item.Candidate.District</span></p>
                                                                <div class="published">Published: <span>@item.PublishedDate.ToString("dd-MMM-yyyy")</span></div>
                                                                <div class="published">Disponibility: <span>@item.Candidate.Disponibility.ToString("dd-MMM-yyyy")</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="profile-footer">
                                                            @item.Candidate.AdditionalDescription &nbsp;
                                                        </div>
                                                        <div class="team-contact-info">
                                                            <ul class="social-icons">
                                                                @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                <li>@*<a href="" title="Favorite" id="set_favourite_job_req_link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>*@</li>
                                                                @*<li><a href="#" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                <li><a href="~/JobRequests/Details/@item.JobRequestId" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>

                                    </div>
                                    <div class="tab-pane fade show" id="tab-validatejobrequest-3">
                                        <div class="row">
                                            @foreach (var item in Model.Where(p => p.Job.JobCategoryId == 3).OrderByDescending(p => p.JobRequestId))
                                            {
                                                <div class="col-sm-6">
                                                    <div class="profileitems searchprofile-section">
                                                        @if (item.VerifiedByAdmin)
                                                        {
                                                            <span class="validate">
                                                                <img src="~/assets/images/verified.png" />
                                                            </span>
                                                        }
                                                        <div class="left">
                                                            <img src="data:image/jpeg;base64,@item.Candidate.ProfilePicUrl" />
                                                           

                                                            <h3>
                                                                <span class="age">@item.Candidate.Age Yrs </span>
                                                                <span class="experience">Exp: @item.Candidate.ExperienceInYears Yrs</span>
                                                            </h3>
                                                            <h2 class="contact-num">
                                                                <i class="fa fa-phone"></i> @item.Candidate.ContactNo
                                                            </h2>
                                                        </div>
                                                        <div class="right">
                                                            <div class="idcard">
                                                                @if (item.Candidate != null && !string.IsNullOrWhiteSpace(item.Candidate.ProfilePicUrl))
                                                                {
                                                                    <a href="data:image/jpeg;base64,@item.Candidate.IdProofDoc" class="fancybox">
                                                                        <img src="data:image/jpeg;base64,@item.Candidate.IdProofDoc" />
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    // Put a default image if id proof is not available
                                                                }
                                                            </div>
                                                            <div class="right-left">


                                                                <h1>
                                                                    @if (item.Candidate.Gender == HireMe.Models.Gender.Female)
                                                                    {
                                                                        <span><img src="~/assets/images/woman-user.png" /></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span><img src="~/assets/images/user.png" /></span>
                                                                    }

                                                                    @*<span data-ng-bind="jr.Candidate.StaffType == 1 ? '(Individual)' : '(Agency)'"></span>*@
                                                                    <span>@(item.Candidate.StaffType == HireMe.Models.StaffType.Agency ? "(Agency)" : "(Individual)")</span>
                                                                </h1>
                                                                @*<h1>@(item.Candidate.Gender == HireMe.Models.Gender.Male ? "Man" : "Woman")<span>@(item.Candidate.StaffType == HireMe.Models.StaffType.Agency ? "(AGENCY)" : "(INDIVIDUAL)")</span></h1>*@


                                                                <h2 class="name"><span>@(item.Candidate.FirstName + " " + item.Candidate.LastName ?? item.Candidate.LastName) </span></h2>
                                                                <h2 class="jobname">@item.Job.JobName</h2>

                                                                <p class="location"><i class="fa fa-map-marker"></i> <span>@item.Candidate.Country,</span><span> @item.Candidate.City,</span><span> @item.Candidate.District</span></p>
                                                                <div class="published">Published: <span>@item.PublishedDate.ToString("dd-MMM-yyyy")</span></div>
                                                                <div class="published">Disponibility: <span>@item.Candidate.Disponibility.ToString("dd-MMM-yyyy")</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="profile-footer">
                                                            @item.Candidate.AdditionalDescription &nbsp;
                                                        </div>
                                                        <div class="team-contact-info">
                                                            <ul class="social-icons">
                                                                @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                <li>@*<a href="" title="Favorite" id="set_favourite_job_req_link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>*@</li>
                                                                @*<li><a href="#" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                <li><a href="~/JobRequests/Details/@item.JobRequestId" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        @*<div style="    text-align: center;">

                                                <button class="btn btn-style-1 btn-lg waves" id="submit" name="submit" value=""><a style="color: #ffffff;" href="~/JobCategories"><i class="fa fa-plus"></i> Create a Job Request</a></button>

                                            </div>*@

                                    </div>
                                    <div class="tab-pane fade show" id="tab-validatejobrequest-4">

                                        <div class="row">
                                            @foreach (var item in Model.Where(p => p.Job.JobCategoryId == 4).OrderByDescending(p => p.JobRequestId))
                                            {
                                                <div class="col-sm-6">
                                                    <div class="profileitems searchprofile-section">
                                                        @if (item.VerifiedByAdmin)
                                                        {
                                                            <span class="validate">
                                                                <img src="~/assets/images/verified.png" />
                                                            </span>
                                                        }
                                                        <div class="left">
                                                            <img src="data:image/jpeg;base64,@item.Candidate.ProfilePicUrl" />
                                                           
                                                            <h3>
                                                                <span class="age">@item.Candidate.Age Yrs </span>
                                                                <span class="experience">Exp: @item.Candidate.ExperienceInYears Yrs</span>
                                                            </h3>
                                                            <h2 class="contact-num">
                                                                <i class="fa fa-phone"></i> @item.Candidate.ContactNo
                                                            </h2>
                                                        </div>
                                                        <div class="right">
                                                            <div class="idcard">
                                                                <a href="~/assets/images/idcard.jpg" class="fancybox">
                                                                    <img src="~/assets/images/idcard.jpg" />
                                                                </a>
                                                            </div>
                                                            <div class="right-left">
                                                                <h1>
                                                                    @if (item.Candidate.Gender == HireMe.Models.Gender.Female)
                                                                    {
                                                                        <span><img src="~/assets/images/woman-user.png" /></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span><img src="~/assets/images/user.png" /></span>
                                                                    }

                                                                    @*<span data-ng-bind="jr.Candidate.StaffType == 1 ? '(Individual)' : '(Agency)'"></span>*@
                                                                    <span>@(item.Candidate.StaffType == HireMe.Models.StaffType.Agency ? "(Agency)" : "(Individual)")</span>
                                                                </h1>
                                                                @*<h1>@(item.Candidate.Gender == HireMe.Models.Gender.Male ? "Man" : "Woman")<span>@(item.Candidate.StaffType == HireMe.Models.StaffType.Agency ? "(AGENCY)" : "(INDIVIDUAL)")</span></h1>*@
                                                                <h2 class="name"><span>@(item.Candidate.FirstName + " " + item.Candidate.LastName ?? item.Candidate.LastName) </span></h2>
                                                                <h2 class="jobname">@item.Job.JobName</h2>
                                                                <p class="location"><i class="fa fa-map-marker"></i> <span>@item.Candidate.Country,</span><span> @item.Candidate.City,</span><span> @item.Candidate.District</span></p>
                                                                <div class="published">Published: <span>@item.PublishedDate.ToString("dd-MMM-yyyy")</span></div>
                                                                <div class="published">Disponibility: <span>@item.Candidate.Disponibility.ToString("dd-MMM-yyyy")</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="profile-footer">
                                                            @item.Candidate.AdditionalDescription &nbsp;
                                                        </div>
                                                        <div class="team-contact-info">
                                                            <ul class="social-icons">
                                                                @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                <li>@*<a href="" title="Favorite" id="set_favourite_job_req_link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>*@</li>
                                                                @*<li><a href="#" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                <li><a href="~/JobRequests/Details/@item.JobRequestId" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        @*<div style="    text-align: center;">

                                                <button class="btn btn-style-1 btn-lg waves" id="submit" name="submit" value=""><a style="color: #ffffff;" href="~/JobCategories"><i class="fa fa-plus"></i> Create a Job Request</a></button>

                                            </div>*@

                                    </div>
                                    <div class="tab-pane fade show" id="tab-validatejobrequest-5">

                                        <div class="row">
                                            @foreach (var item in Model.Where(p => p.Job.JobCategoryId == 5).OrderByDescending(p => p.JobRequestId))
                                            {
                                                <div class="col-sm-6">
                                                    <div class="profileitems searchprofile-section">
                                                        @if (item.VerifiedByAdmin)
                                                        {
                                                            <span class="validate">
                                                                <img src="~/assets/images/verified.png" />
                                                            </span>
                                                        }
                                                        <div class="left">
                                                            <img src="data:image/jpeg;base64,@item.Candidate.ProfilePicUrl" />
                                                            <h3>
                                                                <span class="age">@item.Candidate.Age Yrs </span>
                                                                <span class="experience">Exp: @item.Candidate.ExperienceInYears Yrs</span>
                                                            </h3>
                                                            <h2 class="contact-num">
                                                                <i class="fa fa-phone"></i> @item.Candidate.ContactNo
                                                            </h2>
                                                        </div>
                                                        <div class="right">
                                                            <div class="idcard">
                                                                @if (item.Candidate != null && !string.IsNullOrWhiteSpace(item.Candidate.ProfilePicUrl))
                                                                {
                                                                    <a href="data:image/jpeg;base64,@item.Candidate.IdProofDoc" class="fancybox">
                                                                        <img src="data:image/jpeg;base64,@item.Candidate.IdProofDoc" />
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    // Put a default image if id proof is not available
                                                                }
                                                            </div>
                                                            <div class="right-left">
                                                                <h1>
                                                                    @if (item.Candidate.Gender == HireMe.Models.Gender.Female)
                                                                    {
                                                                        <span><img src="~/assets/images/woman-user.png" /></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span><img src="~/assets/images/user.png" /></span>
                                                                    }

                                                                    @*<span data-ng-bind="jr.Candidate.StaffType == 1 ? '(Individual)' : '(Agency)'"></span>*@
                                                                    <span>@(item.Candidate.StaffType == HireMe.Models.StaffType.Agency ? "(Agency)" : "(Individual)")</span>
                                                                </h1>
                                                                @*<h1>@(item.Candidate.Gender == HireMe.Models.Gender.Male ? "Man" : "Woman")<span>@(item.Candidate.StaffType == HireMe.Models.StaffType.Agency ? "(AGENCY)" : "(INDIVIDUAL)")</span></h1>*@
                                                                <h2 class="name"><span>@(item.Candidate.FirstName + " " + item.Candidate.LastName ?? item.Candidate.LastName) </span></h2>
                                                                <h2 class="jobname">@item.Job.JobName</h2>

                                                                <p class="location"><i class="fa fa-map-marker"></i> <span>@item.Candidate.Country,</span><span> @item.Candidate.City,</span><span> @item.Candidate.District</span></p>
                                                                <div class="published">Published: <span>@item.PublishedDate.ToString("dd-MMM-yyyy")</span></div>
                                                                <div class="published">Disponibility: <span>@item.Candidate.Disponibility.ToString("dd-MMM-yyyy")</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="profile-footer">
                                                            @item.Candidate.AdditionalDescription &nbsp;
                                                        </div>
                                                        <div class="team-contact-info">
                                                            <ul class="social-icons">
                                                                @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                <li>@*<a href="" title="Favorite" id="set_favourite_job_req_link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>*@</li>
                                                                @*<li><a href="#" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                <li><a href="~/JobRequests/Details/@item.JobRequestId" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>

                                </div><!-- tab-content -->
                            </div><!-- tabs -->
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <!---- Tab Section end-->

    </section>



</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>



