@model IEnumerable<HireMe.Models.JobOffer>
<style>
    #footer-container {
        display: none;
    }
</style>

<div id="main-container-user">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                    .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                    .Select(c => c.Value);
        string role = roles.FirstOrDefault();}

    <div class="full-section-container wow fadeInUp">
        <div class="tab-section">
            <div class="tab-section-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="headline text-center mb-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                            @*@if (role == "Candidate")
                                {
                                    <h2>Select your Job</h2>
                                }
                                else if (role == "Employer")
                                {
                                    <h2>What you are looking for ?</h2>
                                }
                                else if (role == "Agency")
                                {
                                    <h2>Select Job for candidate</h2>
                                }*@
                            <h2>Job Offers</h2>
                        </div>
                        <div class="tabs style-2">

                            @*<ul class="nav nav-tabs job-tab">
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        var item = Model.ElementAt(i);
                                        <li><a class="@(i == 0 ? "active" : "")" href="@("#tab-1-" + i)" data-toggle="tab"><img src="@item.IconImage" />@item.CategoryName</a></li>
                                    }
                                </ul>*@
                            <ul class="nav nav-tabs job-tab">
                                <li><a class="active" href="#tab-1-1" data-toggle="tab"><img src="~/assets/images/home-icon.png" />Home Jobs</a></li>
                                <li><a href="#tab-1-2" data-toggle="tab"><img src="~/assets/images/settings-icon.png" />Troubleshooting</a></li>
                                <li><a href="#tab-1-3" data-toggle="tab"><img src="~/assets/images/course-icon.png" />Course</a></li>
                                <li><a href="#tab-1-4" data-toggle="tab"><img src="~/assets/images/salon-icon.png" />Hairstyle/ Care</a></li>
                                <li><a href="#tab-1-5" data-toggle="tab"><img src="~/assets/images/ceremony-icon.png" />Organization Ceremony</a></li>
                            </ul>

                            <div class="tab-content">



                                <div class="tab-pane fade show active" id="tab-1-1">
                                    <div class="row">
                                        
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model.Where(p => p.Job.JobCategoryId == 1))
                                                    {
                                                        <div class="col-md-4 col-sm-6">

                                                            <div class="profileitems searchprofile-section">
                                                                @if (item.ProfileVerified)
                                                                {
                                                                    <span class="validate"><i class="fa fa-check" aria-hidden="true"></i></span>
                                                                }

                                                                <div class="left">
                                                                    <img src="data:image/jpeg;base64,@item.Employer.ProfilePicUrl" />
                                                                    <div class="rating">
                                                                        @for (int i = 0; i < item.StarRating; i++)
                                                                        {
                                                                            <i class="fa fa-star"></i>
                                                                        }
                                                                        @for (int i = 0; i < (5 - item.StarRating); i++)
                                                                        {
                                                                            <i class="fa fa-star-o"></i>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="right">
                                                                    <h2 class="name">
                                                                        @if (item.Employer.Gender == HireMe.Models.Gender.Female)
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/woman-user.png" /></span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/user.png" /></span>
                                                                        }
                                                                        @item.Employer.FirstName
                                                                    </h2>
                                                                    <p class="location"><span> @item.Job.JobName</span><span>, Exp : (@item.ExperienceInYears) Yrs</span></p>
                                                                    <p class="location"><span>Salary:  @item.ExpectedMinSalary - @item.ExpectedMaxSalary</span></p>
                                                                    <h3 class="location"><i class="fa fa-birthday-cake"></i> <span>@item.MinAge Yrs - @item.MaxAge Yrs</span></h3>
                                                                    <p class="location"><span>Staff Type:  @item.StaffType</span></p>


                                                                </div>
                                                                <div class="profile-footer">
                                                                    @item.AdditionalDescription&nbsp;
                                                                </div>
                                                                <div class="team-contact-info">
                                                                    <ul class="social-icons">
                                                                        @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                            <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="" title="Favorite" id="set_favourite_job_req_link" data-ng-click="setFavouriteJobRequest(jr.JobRequestId)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" onclick="deleteJobOffer(@item.JobOfferId)" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                        <li><a href="~/@("JobOffers/Details/"+item.JobOfferId)" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    }


                                                }
                                                else
                                                {
                                                    <div style="    text-align: center;">
                                                        <div class="col-lg-12">No job offers available</div>
                                                        <div></div>


                                                    </div>

                                                }
                                                

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-1-2">
                                    <div class="row">
                                        
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model.Where(p => p.Job.JobCategoryId == 2))
                                                    {
                                                        <div class="col-md-4 col-sm-6">

                                                            <div class="profileitems searchprofile-section">
                                                                @if (item.ProfileVerified)
                                                                {
                                                                    <span class="validate"><i class="fa fa-check" aria-hidden="true"></i></span>
                                                                }

                                                                <div class="left">
                                                                    <img src="data:image/jpeg;base64,@item.Employer.ProfilePicUrl" />
                                                                    <div class="rating">
                                                                        @for (int i = 0; i < item.StarRating; i++)
                                                                        {
                                                                            <i class="fa fa-star"></i>
                                                                        }
                                                                        @for (int i = 0; i < (5 - item.StarRating); i++)
                                                                        {
                                                                            <i class="fa fa-star-o"></i>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="right">
                                                                    <h2 class="name">
                                                                        @if (item.Employer.Gender == HireMe.Models.Gender.Female)
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/woman-user.png" /></span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/user.png" /></span>
                                                                        }
                                                                        @item.Employer.FirstName
                                                                    </h2>
                                                                    <p class="location"><span> @item.Job.JobName</span><span>, Exp : (@item.ExperienceInYears) Yrs</span></p>
                                                                    <p class="location"><span>Salary:  @item.ExpectedMinSalary - @item.ExpectedMaxSalary</span></p>
                                                                    <p class="location"><i class="fa fa-birthday-cake"></i> <span>@item.MinAge Yrs - @item.MaxAge Yrs</span></p>
                                                                    <p class="location"><span>Staff Type:  @item.StaffType</span></p>


                                                                </div>
                                                                <div class="profile-footer">
                                                                    @item.AdditionalDescription&nbsp;
                                                                </div>
                                                                <div class="team-contact-info">
                                                                    <ul class="social-icons">
                                                                        @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                            <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="" title="Favorite" id="set_favourite_job_req_link" data-ng-click="setFavouriteJobRequest(jr.JobRequestId)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" onclick="deleteJobOffer(@item.JobOfferId)" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                        <li><a href="~/@("JobOffers/Details/"+item.JobOfferId)" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    }


                                                }
                                                else
                                                {
                                                    <div style="    text-align: center;">
                                                        <div class="col-lg-12">No job offers available</div>
                                                        <div></div>


                                                    </div>


                                                }
                                                

                                            
                                    </div><!-- service-box -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane fade" id="tab-1-3">
                                    <div class="row">
                                       
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model.Where(p => p.Job.JobCategoryId == 3))
                                                    {
                                                        <div class="col-md-4 col-sm-6">

                                                            <div class="profileitems searchprofile-section">
                                                                @if (item.ProfileVerified)
                                                                {
                                                                    <span class="validate"><i class="fa fa-check" aria-hidden="true"></i></span>
                                                                }

                                                                <div class="left">
                                                                    <img src="data:image/jpeg;base64,@item.Employer.ProfilePicUrl" />
                                                                    <div class="rating">
                                                                        @for (int i = 0; i < item.StarRating; i++)
                                                                        {
                                                                            <i class="fa fa-star"></i>
                                                                        }
                                                                        @for (int i = 0; i < (5 - item.StarRating); i++)
                                                                        {
                                                                            <i class="fa fa-star-o"></i>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="right">
                                                                    <h2 class="name">
                                                                        @if (item.Employer.Gender == HireMe.Models.Gender.Female)
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/woman-user.png" /></span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/user.png" /></span>
                                                                        }
                                                                        @item.Employer.FirstName
                                                                    </h2>
                                                                    <p class="location"><span> @item.Job.JobName</span><span>, Exp : (@item.ExperienceInYears) Yrs</span></p>
                                                                    <p class="location"><span>Salary:  @item.ExpectedMinSalary - @item.ExpectedMaxSalary</span></p>
                                                                    <p class="location"><i class="fa-birthday-cake"></i> <span>@item.MinAge Yrs - @item.MaxAge Yrs</span></p>
                                                                    <p class="location"><span>Staff Type:  @item.StaffType</span></p>


                                                                </div>
                                                                <div class="profile-footer">
                                                                    @item.AdditionalDescription&nbsp;
                                                                </div>
                                                                <div class="team-contact-info">
                                                                    <ul class="social-icons">
                                                                        @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                            <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="" title="Favorite" id="set_favourite_job_req_link" data-ng-click="setFavouriteJobRequest(jr.JobRequestId)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" onclick="deleteJobOffer(@item.JobOfferId)" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                        <li><a href="~/@("JobOffers/Details/"+item.JobOfferId)" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    }


                                                }
                                                else
                                                {
                                                    <div style="    text-align: center;">
                                                        <div class="col-lg-12">No job offers available</div>
                                                        <div></div>


                                                    </div>


                                                }
                                                

                                           
                                    </div><!-- service-box -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane fade" id="tab-1-4">
                                    <div class="row">
                                        
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model.Where(p => p.Job.JobCategoryId == 4))
                                                    {
                                                        <div class="col-md-4 col-sm-6">

                                                            <div class="profileitems searchprofile-section">
                                                                @if (item.ProfileVerified)
                                                                {
                                                                    <span class="validate"><i class="fa fa-check" aria-hidden="true"></i></span>
                                                                }

                                                                <div class="left">
                                                                    <img src="data:image/jpeg;base64,@item.Employer.ProfilePicUrl" />
                                                                    <div class="rating">
                                                                        @for (int i = 0; i < item.StarRating; i++)
                                                                        {
                                                                            <i class="fa fa-star"></i>
                                                                        }
                                                                        @for (int i = 0; i < (5 - item.StarRating); i++)
                                                                        {
                                                                            <i class="fa fa-star-o"></i>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="right">
                                                                    <h2 class="name">
                                                                        @if (item.Employer.Gender == HireMe.Models.Gender.Female)
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/woman-user.png" /></span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/user.png" /></span>
                                                                        }
                                                                        @item.Employer.FirstName
                                                                    </h2>
                                                                    <p class="location"><span> @item.Job.JobName</span><span>, Exp : (@item.ExperienceInYears) Yrs</span></p>
                                                                    <p class="location"><span>Salary:  @item.ExpectedMinSalary - @item.ExpectedMaxSalary</span></p>
                                                                    <p class="location"><i class="fa-birthday-cake"></i> <span>@item.MinAge Yrs - @item.MaxAge Yrs</span></p>
                                                                    <p class="location"><span>Staff Type:  @item.StaffType</span></p>
                                                                </div>
                                                                <div class="profile-footer">
                                                                    @item.AdditionalDescription&nbsp;
                                                                </div>
                                                                <div class="team-contact-info">
                                                                    <ul class="social-icons">
                                                                        @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                            <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="" title="Favorite" id="set_favourite_job_req_link" data-ng-click="setFavouriteJobRequest(jr.JobRequestId)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" onclick="deleteJobOffer(@item.JobOfferId)" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                        <li><a href="~/@("JobOffers/Details/"+item.JobOfferId)" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    }


                                                }
                                                else
                                                {
                                                    <div style="    text-align: center;">
                                                        <div class="col-lg-12">No job offers available</div>
                                                        <div></div>


                                                    </div>

                                                }
                                                

                                            
                                    </div><!-- service-box -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane fade" id="tab-1-5">
                                    <div class="row">
                                       
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model.Where(p => p.Job.JobCategoryId == 5))
                                                    {
                                                        <div class="col-md-4 col-sm-6">

                                                            <div class="profileitems searchprofile-section">
                                                                @if (item.ProfileVerified)
                                                                {
                                                                    <span class="validate"><i class="fa fa-check" aria-hidden="true"></i></span>
                                                                }

                                                                <div class="left">
                                                                    <img src="data:image/jpeg;base64,@item.Employer.ProfilePicUrl" />
                                                                    <div class="rating">
                                                                        @for (int i = 0; i < item.StarRating; i++)
                                                                        {
                                                                            <i class="fa fa-star"></i>
                                                                        }
                                                                        @for (int i = 0; i < (5 - item.StarRating); i++)
                                                                        {
                                                                            <i class="fa fa-star-o"></i>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="right">
                                                                    <h2 class="name">
                                                                        @if (item.Employer.Gender == HireMe.Models.Gender.Female)
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/woman-user.png" /></span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span><img style="width: 16px;" src="~/assets/images/user.png" /></span>
                                                                        }
                                                                        @item.Employer.FirstName
                                                                    </h2>
                                                                    <p class="location"><span> @item.Job.JobName</span><span>, Exp : (@item.ExperienceInYears) Yrs</span></p>
                                                                    <p class="location"><span>Salary:  @item.ExpectedMinSalary - @item.ExpectedMaxSalary</span></p>
                                                                    <p class="location"><i class="fa-birthday-cake"></i> <span>@item.MinAge Yrs - @item.MaxAge Yrs</span></p>
                                                                    <p class="location"><span>Staff Type:  @item.StaffType</span></p>
                                                                </div>
                                                                <div class="profile-footer">
                                                                    @item.AdditionalDescription&nbsp;
                                                                </div>
                                                                <div class="team-contact-info">
                                                                    <ul class="social-icons">
                                                                        @*<li><a href="#" title="+225 07-02-54-69"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                            <li><a href="#" title="jk@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="" title="Favorite" id="set_favourite_job_req_link" data-ng-click="setFavouriteJobRequest(jr.JobRequestId)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" onclick="deleteJobOffer(@item.JobOfferId)" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>*@
                                                                        @*<li><a href="#" title="Note"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>*@
                                                                        <li><a href="~/@("JobOffers/Details/"+item.JobOfferId)" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    }


                                                }
                                                else
                                                {
                                                    <div style="    text-align: center;">
                                                        <div class="col-lg-12">No job offers available</div>
                                                        <div></div>


                                                    </div>


                                                }

                                    </div><!-- service-box -->
                                </div><!-- tab-pane -->

                            </div><!-- tab-content -->
                        </div><!-- tabs -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---- Tab Section end-->


</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>



