@model HireMe.Models.ForgotPasswordViewModel

@*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}*@

<!-- HEADER -->
<style>
    #footer-container {
        display: none;
    }

    .background {
        background: #008ad2 url(/assets/images/reg-bg.jpg) no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
        top: 0;
        position: fixed;
    }
</style>

<!-- PAGE CONTENT -->


@{
    ViewBag.Title = "Log in";
}
<div class="background"></div>
<!--NEW CODE-->
<div class="form-box">
    <div class="row">
        <div class="col-md-12">
            <div class="home">
                <a href="/" class="">
                    <i class="fa fa-home"></i>&nbsp;Home
                </a>
            </div>
            <div class="headline text-center">
                <div class="form-logo">
                    <img src="~/assets/images/logo.png" alt="JOBtek" />
                </div>
                <h2>Login</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div><!-- headline -->
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-12 regd-form formreg">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form", name = "loginForm" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="form-section">

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="~/assets/images/email.png" alt=""></span>
                            </div>
                            @*<input type="text" class="form-control">
                                <span class="input-lable">E-mail address</span>*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @name = "Email", @required = "true" })
                            <span class="input-lable">User Name</span>

                            @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="row" style="padding-left:17px;">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger  " })
                        </div>
                        @*<div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="~/assets/images/password.png" alt=""></span>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @name = "password", @required = "true" })
                            <span class="input-lable">Password</span>
                        </div>
                        <div class="row" style="padding-left:17px;">
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger  " })
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                Remember me
                                <span></span>
                            </label>
                        </div>*@
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-style-1 btn-lg waves">Send Password <i class="decode-icon-cursor"></i></button>
                        </div>
                        <span>
                            @Html.ActionLink("Have an account?", "Login")
                        </span>
                        @*<span style="float:right;"><a href="#">Forgotten password?</a></span>*@
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
<!--/NEW CODE-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
