@*@model HireMe.Models.RegisterViewModel
    @{
        ViewBag.Title = "Register";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("User Role", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">

                @Html.DropDownList("UserRoles", (SelectList)ViewBag.UserRolesViewBag, "--select--", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

@model HireMe.Models.RegisterViewModel
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div id="page-content" style="background: #f3f8fb;">

        <div class="container-fluid">
            <div class="row">
                <div class="hr mt-0 ml-3 mr-3 ml-xl-5 mr-xl-5"></div>
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Registration form</h2>
                        <h5>Donec quis dignissim magna. In gravida volutpat risus</h5>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div><!-- headline -->
                </div>
            </div><!-- row -->
        </div><!-- container -->

        <div class="container">
            <div class="mx-auto col-md-8 formreg">
                <div class="tabs style-2">
                    <div class="tab-content" style="margin-top:0;">
                        <div class="tab-pane fade show active" id="tab-1-1">
                            <div class="form-section">
                                <h6 class="text-uppercase">Name & Address</h6>

                                <fieldset>

                                    <div id="alert-area"></div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First name" })
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
                                    </div>


                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                        </div>
                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Address" })
                                    </div>
                                </fieldset>

                            </div>
                            <div class="form-section">
                                <h6 class="text-uppercase">Email & Phone</h6>

                                <fieldset>

                                    <div id="alert-area"></div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/email.png" alt=""></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User name" })
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/phone.png" alt=""></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Contact number" })
                                    </div>

                                </fieldset>

                            </div>
                        </div><!-- tab-pane -->
                        <div class="tab-pane fade" id="tab-1-2">
                            <div class="form-section">
                                <h6 class="text-uppercase">Document to Upload</h6>

                                <fieldset>

                                    <div id="alert-area"></div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                        </div>
                                        <input type="file" class="form-control" placeholder="Profile Picture" id="profile_pic" name="profile_pic">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                        </div>
                                        <input type="file" class="form-control" placeholder="Proof of ID" id="id_proof" name="id_proof">
                                    </div>
                                    <div class="input-group mb-3" style="display:none;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                        </div>
                                        @Html.DropDownList("UserRoles", (SelectList)ViewBag.UserRolesViewBag, "--select role--", new { @class = "form-control", @style = "display:none;" })
                                    </div>

                                </fieldset>
                            </div>

                            @if (ViewBag.SelectedRole == "Agency")
                            {
                                <div class="form-section">
                                    <h6 class="text-uppercase">Agency Section</h6>

                                    <fieldset>

                                        <div id="alert-area"></div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.ResponsibleName, new { @class = "form-control", @placeholder = "Responsible name" })
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.WebSiteUrl, new { @class = "form-control", @placeholder = "Website URL" })
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                            </div>
                                            @Html.TextAreaFor(m => m.CompanyActivity, new { @class = "form-control", @placeholder = "Some description about the company activities" })
                                        </div>
                                    </fieldset>
                                </div>
                            }
                            <div class="form-section">
                                <h6 class="text-uppercase">Passwords</h6>

                                <fieldset>

                                    <div id="alert-area"></div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/key.png" alt=""></span>
                                        </div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="~/assets/images/key.png" alt=""></span>
                                        </div>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                    </div>

                                </fieldset>

                            </div>
                            <div class="form-section">


                                <fieldset>


                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1"><a href="#"><i>I agree terms and conditions</i></a></label>
                                    </div>


                                </fieldset>
                            </div>
                            <button style="float:right;" class="btn btn-style-1 btn-lg waves" id="submit" type="submit" name="submit" value="">Submit</button>
                            @*<input type="submit" class="btn btn-style-1 btn-lg waves" value="Register" />*@
                        </div><!-- tab-pane -->
                    </div>
                    <ul class="nav nav-tabs" style="width: 100%;">
                        <li style="width: 50%;">
                            <a style="float:left;" class="active" href="#tab-1-1" data-toggle="tab">Back</a>
                        </li>
                        <li style="width: 50%;">
                            <a style="float:right;" href="#tab-1-2" data-toggle="tab">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
}