

@model HireMe.Models.RegisterViewModel
@using System.Linq


        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()

            @*<div id="page-content" style="background: #f3f8fb;">*@

                <div class="outer">
                    <div class="form-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="headline text-center">
                                    <h2>Registration form</h2>
                                   
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                </div><!-- headline -->
                            </div>
                        </div><!-- row -->


                        <div class="row">
                            <div class="col-md-12 formreg">
                                <div class="tabs style-2">
                                    <div class="tab-content" style="margin-top:0;">
                                        <div class="tab-pane fade show active" id="tab-1-1">
                                            <div class="form-section">
                                                <h6 class="text-uppercase">Name & Address</h6>

                                                <fieldset>

                                                    <div id="alert-area"></div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First name" })
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
                                                    </div>


                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                        </div>
                                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Address" })
                                                    </div>
                                                </fieldset>

                                            </div>
                                            <div class="form-section">
                                                <h6 class="text-uppercase">Email & Phone</h6>

                                                <fieldset>

                                                    <div id="alert-area"></div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/email.png" alt=""></span>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User name" })
                                                    </div>

                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/phone.png" alt=""></span>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Contact number" })
                                                    </div>

                                                </fieldset>

                                            </div>
                                        </div><!-- tab-pane -->
                                        <div class="tab-pane fade" id="tab-1-2">
                                            <div class="form-section">
                                                <h6 class="text-uppercase">Document to Upload</h6>

                                                <fieldset>

                                                    <div id="alert-area"></div>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                        </div>
                                                        <input type="file" class="form-control" placeholder="Profile Picture" id="profile_pic" name="profile_pic">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                                        </div>
                                                        <input type="file" class="form-control" placeholder="Proof of ID" id="id_proof" name="id_proof">
                                                    </div>
                                                    <div class="input-group mb-3" style="display:none;">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                        </div>
                                                        @Html.DropDownList("UserRoles", (SelectList)ViewBag.UserRolesViewBag, "--select role--", new { @class = "form-control", @style = "display:none;" })
                                                    </div>

                                                </fieldset>
                                            </div>

                                            @if (ViewBag.SelectedRole == "Agency")
                                    {
                                <div class="form-section">
                                    <h6 class="text-uppercase">Agency Section</h6>

                                    <fieldset>

                                        <div id="alert-area"></div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.ResponsibleName, new { @class = "form-control", @placeholder = "Responsible name" })
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.WebSiteUrl, new { @class = "form-control", @placeholder = "Website URL" })
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                            </div>
                                            @Html.TextAreaFor(m => m.CompanyActivity, new { @class = "form-control", @placeholder = "Some description about the company activities" })
                                        </div>
                                    </fieldset>
                                </div>
                                    }
                                            <div class="form-section">
                                                <h6 class="text-uppercase">Passwords</h6>

                                                <fieldset>

                                                    <div id="alert-area"></div>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/key.png" alt=""></span>
                                                        </div>
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="~/assets/images/key.png" alt=""></span>
                                                        </div>
                                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                                    </div>

                                                    @if (ViewBag.SecurityQuestions != null)
                                            {
                                            <div class="row">
                                                @foreach (var item in ViewBag.SecurityQuestions)
                                                    {
                                                    <div class="col-lg-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <b>Security Question</b><br />
                                                                <input type="checkbox" class="chb" name="SecurityQuestionId" value="@item.SecurityQuestionId" />
                                                                @*@Html.CheckBoxFor(p => p.SecurityQuestionId, new { @value= item.Id})*@
                                                                @item.Question
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    }
                                            </div>

                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><img src="~/assets/images/key.png" alt=""></span>
                                                </div>
                                                @Html.TextBoxFor(m => m.SecurityQuestionAnswer, new { @class = "form-control", @placeholder = "Enter security question's answer" })
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.AgreeTermsAndConditions)
                                                    @Html.ActionLink("I agree terms and conditions", "actionname", "controllername")
                                                    <span></span>
                                                </label>
                                            </div>
                                                    }

                                                </fieldset>

                                            </div>

                                            <button style="float:right;" class="btn btn-style-1 btn-lg waves" id="submit" type="submit" name="submit" value="">Submit</button>
                                            @*<input type="submit" class="btn btn-style-1 btn-lg waves" value="Register" />*@
                                        </div><!-- tab-pane -->
                                    </div>
                                    <ul class="nav nav-tabs" style="width: 100%;">
                                        <li style="width: 50%;">
                                            <a style="float:left;" class="active" href="#tab-1-1" data-toggle="tab">Back</a>
                                        </li>
                                        <li style="width: 50%;">
                                            <a style="float:right;" href="#tab-1-2" data-toggle="tab">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
       
                    }
               