
<style>
    /*Custom Modal*/
    .Terms_Condition {
        max-height: 500px;
        overflow-x: auto;
    }

        .Terms_Condition p {
            margin-bottom: 10px;
        }

    .modal-xl {
        max-width: 85%;
    }

    .terms-header {
        background: #efefef;
        padding: 2px 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .terms-subheader {
        font-size: 16px;
    }

    .terms-list {
    }

        .terms-list li {
            padding-left: 20px;
        }
    /*/////////Custom Modal////////////*/
    #footer-container {
        display: none;
    }

    .background {
        background: #008ad2 url(/assets/images/reg-bg.jpg) no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
        top: 0;
        position: fixed;
    }

    #Address {
        height: 100%;
    }

    #mySidenav {
        display: none;
    }

    #header {
        display: none;
    }
</style>




@model HireMe.Models.RegisterViewModel
@using System.Linq
@using Newtonsoft.Json
@using HireMe.Models

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    @*<div id="page-content" style="background: #f3f8fb;">*@
    <div class="background"></div>
    @*<div class="outer"> </div>*@
    <div class="mobile-view">
        <div class="form-box wow zoomInUp">
            <div class="row">
                <div class="col-md-12">
                    <div class="home">
                        <a href="/" class="">
                            <span>
                                <i class="bizhub-icon-home"></i>
                            </span>
                            @*<i class="fa fa-home"></i>&nbsp;Home*@
                        </a>
                    </div>
                    <div class="headline text-center">
                        <div class="form-logo">
                            <img src="~/assets/images/logo.png" alt="JOBtek" />
                        </div>
                        <h2><span id="role" class="text-danger"></span> Formulaire d'inscription</h2>

                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                    </div><!-- headline -->
                </div>
            </div><!-- row -->


            <div class="row">
                <div class="col-md-12 formreg">
                    <div class="tabs style-2">
                        <div class="tab-content regd-form" style="margin-top:0;">
                            <div class="tab-pane fade show active" id="tab-1-1">
                                <div class="form-section">
                                    <h6 class="text-uppercase">Détail Personnel </h6>

                                    <fieldset>

                                        <div id="alert-area"></div>
                                        <div class="input-group">
                                            <div class="mr-3">
                                                <label class="label pr-2">Sexe<span class="required-field"></span></label>
                                            </div>
                                            <div class="radio mr-3">
                                                <label>
                                                    @Html.RadioButtonFor(p => p.Gender, Gender.Male, new { @value = Gender.Male })
                                                    Homme
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButtonFor(p => p.Gender, Gender.Female, new { @value = Gender.Female })
                                                    Femme
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "" })
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">Prénom</span>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">Nom</span>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/calendar.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @placeholder = "", @type = "date" })
                                            <span class="input-lable">Date de Naissance</span>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger", @placeholder = "Date de naissance" })
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>
                                <div class="form-section">
                                    <h6 class="text-uppercase">Détail de l'adresse </h6>
                                    <fieldset>
                                        <div id="alert-area"></div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.DropDownList("CountryId", ViewData["Country"] as List<SelectListItem>, "--Choisissez le pays--", new { @class = "form-control" })

                                            @*@Html.DropDownListFor(m => m.CountryId, ViewData["Country"] as List<SelectListItem>, htmlAttributes: new { @class = "form-control", id = "Country" })*@
                                            <span class="input-lable">Pays</span>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.DropDownList("CityId", new SelectList("", "Value", "Text"), "--Choisissez la ville  --", new { @class = "form-control" })
                                            <span class="input-lable">Ville </span>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.CityId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.DropDownList("DistrictId", new SelectList("", "Value", "Text"), "--Choisissez le quartier--", new { @class = "form-control" })
                                            <span class="input-lable">Quartier</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.DistrictId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                            </div>
                                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "", @rows = 3, @height = "100%" })
                                            <span class="input-lable">l'adresse </span>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="form-section">
                                    <h6 class="text-uppercase">Email et Contact</h6>
                                    <fieldset>
                                        <div id="alert-area"></div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/email.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">Email</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/phone.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            <div style="width:100px;">
                                                @Html.DropDownListFor(m => m.CountryCode, new List
                                                <SelectListItem>
                                                {
                                                new SelectListItem{ Text="(+225)", Value = "+225" },
                                                }, htmlAttributes: new { @class = "", @style = "margin:0;", id = "country_code" })
                                            </div>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable contact-lable">Numéro de contact</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>
                            </div><!-- tab-pane -->
                            <div class="tab-pane fade show" id="tab-1-2">
                                <!--Phone no validation with google recaptcha-->
                                <div class="form-section verify-tel-sec">
                                    <h6 class="text-uppercase">Verify your tel number</h6>
                                    <fieldset>
                                        <div id="alert-area"></div>

                                        <div class="input-group mb-2 gr-captcha-sec">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/phone.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            <div style="width:100px;">
                                                @Html.DropDownListFor(m => m.CountryCode, new List
                                                <SelectListItem>
                                                {
                                                new SelectListItem{ Text="(+225)", Value = "+225" },
                                                }, htmlAttributes: new { @class = "", @style = "margin:0;", id = "country_code" })
                                            </div>
                                            @Html.TextBoxFor(m => m.ConfirmPhoneNumber, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable contact-lable">Numéro de contact</span>
                                        </div>
                                        @*<div class="row gr-captcha-sec">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="g-recaptcha gr-captcha-sec" data-sitekey="6LdHcTwUAAAAAIFoGNGSjl_daxhYsQUWVV9PKWWW"></div>
                                        <div class="row gr-captcha-sec">
                                            <button type="button" class="btn-sm pull-left" onclick="goBackToUserForm()">Cancel</button>
                                            <button type="button" class="btn-sm pull-right" onclick="validateGoogleRecaptcha()">Validate</button>
                                        </div>
                                        <div class="row gr-captcha-sec">
                                            By clicking on Validate an sms will be sent to your mobile number
                                        </div>*@
                                        <div class="row gr-captcha-sec">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="g-recaptcha gr-captcha-sec" data-sitekey="6LdHcTwUAAAAAIFoGNGSjl_daxhYsQUWVV9PKWWW"></div>

                                        <div id="beforeDiv">
                                        <div class="gr-captcha-sec" style="margin-top:-50px;text-align: right;position:absolute;right:15px;">
                                            <button type="button" class="btn-sm ml-2 btn-info" onclick="goBackToUserForm()" style="cursor:pointer;padding: 6px 12px;">Annuler</button>
                                            <button type="button" class="btn-sm" onclick="validateGoogleRecaptcha()" style="cursor:pointer;padding: 6px 12px;">Valider</button>
                                        </div>


                                        <div class="row gr-captcha-sec">
                                            <div class="col-sm-12">
                                                En cliquant sur «Valider» un SMS vous seras envoyé
                                            </div>
                                        </div>
                                        @*<div class="row mt-2">
                                            <div class="col-sm-12 mb-2 text-center">
                                                <a href="#" style="padding: 5px 12px;border: 1px solid #ccc;">Renvoyer le code</a>
                                            </div>
                                        </div>*@
                                        </div>
                                        <div class="info-bip-sec" style="display:none;">
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <h3 id="tel-num"></h3>
                                                    <input id="info-bip-code" class="form-control" placeholder="Code à 4 chiffres" />
                                                    <input type="hidden" class="form-control" value="" id="info-bip-pinid" />

                                                    <div class="">
                                                        <button type="button" class="btn-sm btn-info" onclick="goBackGrCaptchaForm()" style="cursor:pointer;padding: 6px 12px;">Annuler</button>
                                                        <button type="button" class="btn-sm ml-2" onclick="validateInfoBipPin()" style="cursor:pointer;padding: 6px 12px;">Valider</button>
                                                    </div>

                                                    <div>
                                                        En cliquant sur «Continuer» vous allez confirmer le code
                                                    </div>

                                                    <div class="row mt-2">
                                                        <div class="col-sm-12 mb-2 text-center">
                                                            <a onclick="resendRequestForInfoBipPin()" href="#" style="padding: 5px 12px;border: 1px solid #ccc;">Renvoyer le code</a>
                                                        </div>
                                                    </div>

                                                </div>
                                                
                                            </div>
                                         </div>
                                        
                                        @*<div class="row info-bip-sec" style="display:none;">
                                            <button type="button" class="btn-sm pull-left" onclick="goBackGrCaptchaForm()">Cancel</button>
                                            <button type="button" class="btn-sm pull-right" onclick="validateInfoBipPin()">Continue</button>
                                        </div>*@
                                    </fieldset>

                                </div>

                                <div class="form-section doc-sec" style="display:none;">
                                    <h6 class="text-uppercase">Document a télécharger</h6>

                                    <fieldset>

                                        <div id="alert-area"></div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                            </div>
                                            <input type="file" class="form-control" placeholder="Photo de profil" id="profile_pic" name="profile_pic">
                                            <span class="input-lable">Photo de profil</span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                            </div>
                                            <input type="file" class="form-control" placeholder="Pièce d'identité" id="id_proof" name="id_proof">
                                            <span class="input-lable">Pièce d'identité(Recto)</span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                            </div>
                                            <input type="file" class="form-control" placeholder="Pièce d'identité" id="id_proof_1" name="id_proof_back">
                                            <span class="input-lable">Pièce d'identité(Verso)</span>
                                        </div>
                                        <div class="input-group mb-3" style="display:none;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                            </div>
                                            @Html.DropDownList("UserRoles", (SelectList)ViewBag.UserRolesViewBag, "--Sélectionnez le rôle--", new { @class = "form-control", @style = "display:none;" })
                                            <span class="input-lable">Rôles d'utilisateur</span>
                                        </div>

                                    </fieldset>
                                </div>

                                @if (ViewBag.SelectedRole == "Agency")
                                {
                                    <div class="form-section doc-sec" style="display:none;">
                                        <h6 class="text-uppercase">Section Agence</h6>

                                        <fieldset>

                                            <div id="alert-area"></div>

                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                    <span class="required-field"></span>
                                                </div>
                                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @placeholder = "" })
                                                <span class="input-lable">Nom de la compagnie</span>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 error-arrow">
                                                    @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                                    <span class="required-field"></span>
                                                </div>
                                                @Html.TextBoxFor(m => m.ResponsibleName, new { @class = "form-control", @placeholder = "" })
                                                <span class="input-lable">Nom du responsable</span>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 error-arrow">
                                                    @Html.ValidationMessageFor(m => m.ResponsibleName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                                    <span class="required-field"></span>
                                                </div>
                                                @Html.TextBoxFor(m => m.WebSiteUrl, new { @class = "form-control", @placeholder = "" })
                                                <span class="input-lable">URL du site WEB</span>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 error-arrow">
                                                    @Html.ValidationMessageFor(m => m.WebSiteUrl, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                                    <span class="required-field"></span>
                                                </div>
                                                @Html.TextAreaFor(m => m.CompanyActivity, new { @class = "form-control", @placeholder = "" })
                                                <span class="input-lable">Description</span>
                                            </div>
                                        </fieldset>
                                    </div>
                                }
                                <div class="form-section doc-sec" style="display:none;">
                                    <h6 class="text-uppercase">Nom d'utilisateur & Mot de passe</h6>

                                    <fieldset>

                                        <div id="alert-area"></div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">Nom d'utilisateur</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/key.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">Mot de passe</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/key.png" alt=""></span>
                                                <span class="required-field"></span>
                                            </div>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">Confirmez le mot de passe</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*@if (ViewBag.SecurityQuestions != null)
                                            {
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/question.png" alt=""></span>
                                                        <span class="required-field"></span>
                                                    </div>
                                                    @Html.DropDownList("SecurityQuestionId", new SelectList(ViewBag.SecurityQuestions, "SecurityQuestionId", "Question"), new { @class = "form-control" })
                                                    <span class="input-lable">Security Question</span>
                                                </div>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/answer.png" alt=""></span>
                                                        <span class="required-field"></span>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.SecurityQuestionAnswer, new { @class = "form-control", @placeholder = "" })
                                                    <span class="input-lable">Security Answer</span>
                                                </div>
                                            }*@
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.AgreeTermsAndConditions)
                                                <span></span>
                                            </label>
                                            <span data-toggle="modal" data-target="#myModal" style="cursor: pointer;">J'accepte les termes et conditions</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 error-arrow">
                                                @Html.ValidationMessageFor(m => m.AgreeTermsAndConditions, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>

                                <button style="float:right; display:none;" class="btn btn-style-1 btn-lg waves doc-sec" id="submit" type="submit" name="submit" value="" onclick="return Validate();">Submit</button>
                                @*<input type="submit" class="btn btn-style-1 btn-lg waves" value="Register" />*@
                            </div><!-- tab-pane -->
                        </div>
                        <span>
                            @Html.ActionLink("Avoir un compte?", "Login")
                        </span>
                        @*<span style="float:right;"><a href="/Account/ForgotPassword">Forgotten password?</a></span>*@
                        <ul class="nav nav-tabs" style="width: 100%;">
                            <li style="width: 50%;">
                                <a style="float:left;" class="active backbtn" href="#tab-1-1" data-toggle="tab">Retour</a>
                            </li>
                            <li style="width: 50%;">
                                <a style="float:right;" class="active nextbtn" href="#tab-1-2" data-toggle="tab">Suivant</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-xl">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Terms & Condition</h4>
                        </div>
                        <div class="modal-body Terms_Condition">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="terms-header">1. Préambule</div>
                                    <h4 class="terms-subheader">a) Mentions légales</h4>
                                    <p>
                                        Le présent Site est édité par la société JOBTEK au capital de 1.000.000 FCFA, immatriculée au Registre ****************, et dont le siège social *******************
                                    </p>
                                    <p>
                                        L’Editeur est joignable par courrier électronique à l’adresse suivante <a href="mailto:jobtek.ci@gmail.com">jobtek.ci@gmail.com</a> ou par téléphone au ******************
                                    </p>
                                    <p>
                                        Le présent Site est hébergé *********** dont le siège social est ************
                                    </p>
                                    <h4 class="terms-subheader"> b) Objet</h4>
                                    <p>
                                        Le présent Site est d’accès libre et gratuit à tout Internaute. Il consiste en une plateforme Internet permettant aux utilisateurs inscrits de constituer des profils publics et de postuler à des annonces d’emploi.
                                    </p>
                                    <p>
                                        Il propose également aux Membres recruteurs de publier des annonces d’emploi à titre gratuit et/ou à titre onéreux.
                                    </p>
                                    <p>
                                        Le présent contrat est un contrat à distance qui a pour objet de définir les droits et obligations des parties dans le cadre de l´utilisation du présent Site.
                                    </p>
                                    <h4 class="terms-subheader"> c) Acceptation des conditions générales</h4>
                                    <p>
                                        Le Membre reconnaît avoir pris pleinement connaissance des conditions générales d´utilisation et renoncer à ses propres conditions générales. Cette acceptation consistera dans le fait, pour le Membre, de cocher la case correspondant à la phrase suivante : « Je reconnais avoir lu et accepté les conditions générales d’utilisation du Site ».
                                    </p>
                                    <p>
                                        Le fait de cocher la case sera réputé avoir la même valeur qu’une signature manuscrite de la part du Membre. Le Membre reconnaît la valeur de preuve des systèmes d’enregistrement automatique de l’Editeur du présent Site et, sauf pour lui d’apporter preuve contraire, il renonce à les contester en cas de litige.
                                    </p>
                                    <p>
                                        L’acceptation des présentes conditions générales suppose de la part des Membres qu’ils jouissent de la capacité juridique nécessaire pour cela, ou à défaut qu'ils en aient l’autorisation d’un tuteur ou d’un curateur s’ils sont incapables, de leur représentant légal s’ils sont mineurs, ou encore qu'ils soient titulaires d’un mandat s’ils agissent pour le compte d’une personne morale.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">2. Définitions</div>
                                    <ul class="terms-list">
                                        <li>
                                            « Site » : Site Internet accessible à l’URL <a href="www.Jobtek.com" target="_blank">https://www.Jobtek.com</a>,
                                        </li>
                                        <li>
                                            « Editeur » : la societe jobtek en sa qualité d’Editeur du Site. L´Editeur du Site a reçu, de la part du propriétaire de la plateforme Internet, de la marque et du nom de domaine utilisés par le Site, l´autorisation d´exploiter ceux-ci,
                                        </li>
                                        <li>
                                            « Internaute » : Toute personne, physique ou morale, de droit privé ou de droit public, se connectant au Site,
                                        </li>
                                        <li>
                                            « Membre » : Toute personne, physique ou morale, de droit privé ou de droit public, inscrite sur le Site,
                                        </li>
                                        <li>
                                            « Membre recruteur » : Toute personne, physique ou morale, de droit privé ou de droit public, inscrite sur le Site en qualité de professionnel ou de particulier et, le cas échéant, souhaitant pourvoir un poste,
                                        </li>
                                        <li>
                                            « Membre candidat » : Toute personne physique inscrite sur le Site afin de trouver une offre d’emploi,
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">3. Code de bonne conduite</div>
                                    <p>
                                        Dans le cadre de l’utilisation des services proposés sur le Site, le Membre s’engage par ailleurs et sans aucune limite ni réserve à :
                                    </p>
                                    <ul class="terms-list">
                                        <li>
                                            utiliser les services fournis par l’Editeur en bon père de famille,
                                        </li>
                                        <li>
                                            ne pas recourir à l’utilisation de logiciels robot ou similaires,
                                        </li>
                                        <li>
                                            ne pas porter atteinte à la jouissance paisible du service par les autres Membres,
                                        </li>
                                        <li>
                                            respecter les droits des tiers,
                                        </li>
                                        <li>
                                            ne pas utiliser les services du Site à des fins commerciales,
                                        </li>
                                        <li>
                                            ne pas diffuser partiellement ou totalement les informations ou documents obtenus par le biais du présent Site à un tiers, pour quelque raison que ce soit,
                                        </li>
                                        <li>
                                            respecter toutes les dispositions législatives ou réglementaires en vigueur,
                                        </li>
                                        <li>
                                            ne pas tenir de propos racistes, contraires à l’ordre public ou aux bonnes mœurs ou contrevenant à une disposition législative ou réglementaire en vigueur.
                                        </li>
                                    </ul>
                                    <p>
                                        Les Membres restent, en toute hypothèse, responsables des données personnelles contenues dans leur compte, sur leur profil ou échangées dans le cadre de l’utilisation des services. Ils restent responsables de leurs actions commises dans le cadre de l’utilisation du présent service et en répondent devant les juridictions compétentes.
                                    </p>
                                    <p>
                                        Toute contravention aux présentes conditions générales ayant entraîné un dommage ou étant constitutive d’une violation des dispositions réglementaires ou législatives pourra être poursuivie directement à l’encontre du Membre qui affranchit, par là même, l’Editeur du service de toute responsabilité en la matière.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">4. Compte</div>
                                    <h4 class="terms-subheader">a) Création du compte</h4>
                                    <p>
                                        La création d'un compte est un préalable indispensable à toute utilisation par un Internaute d´un service sur le présent Site.
                                    </p>
                                    <p>
                                        A cette fin, le Membre sera invité à fournir un certain nombre d'informations personnelles et sociétaires. Le Membre recruteur s'engage à fournir des informations exactes sous peine de suppression du compte.
                                    </p>
                                    <p>
                                        Certaines informations seront réputées indispensables à la création du compte et à l´utilisation de services. Le refus par un Membre de fournir lesdites informations aura pour effet d’empêcher la création du compte ainsi que, incidemment, l’utilisation des services proposés sur le Site.
                                    </p>
                                    <h4 class="terms-subheader"> b)  Fonctionnement</h4>
                                    <p>
                                        L’espace Membre permet au Membre de consulter toutes ses utilisations des services effectuées sur le Site, de gérer certaines informations éventuellement visibles par les autres Membres ou encore d’utiliser les services dont ils disposent.
                                    </p>
                                    <p>
                                        Si les données du compte venaient à disparaître à la suite d'un cas fortuit, d'une panne technique ou d'un cas de force majeure, la responsabilité de l’Editeur du présent Site ne pourrait être engagée, ces informations n'ayant aucune valeur probante mais uniquement un caractère informatif. L’Editeur s’engage cependant à conserver de façon sécurisée tous les éléments contractuels dont la conservation est requise par la loi ou la réglementation en vigueur.
                                    </p>
                                    <p>
                                        Cette exclusion n'est pas exclusive de la possibilité, pour l'Editeur, d'entreprendre des poursuites d'ordre judiciaire à l'encontre du Membre, lorsque les faits l'auront justifié.
                                    </p>
                                    <h4 class="terms-subheader"> c) Mot de passe</h4>
                                    <p>
                                        Lors de la création du compte, le Membre est invité à choisir un mot de passe. Ce mot de passe constitue la garantie de la confidentialité des informations contenues dans son compte et le Membre  s'interdit donc de le transmettre ou de le communiquer à un tiers. A défaut, le Site ne pourra être tenu pour responsable des accès non autorisés au compte du Membre.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">5. Dispositions relatives à la publication d’un profil</div>
                                    <h4 class="terms-subheader">a) Généralités</h4>
                                    <p>
                                        Les Membres se voient offrir la faculté de se constituer un profil. Dans ce cadre, les Membres devront renseigner un certain nombre d’informations personnelles et/ou professionnelles les concernant.
                                    </p>
                                    <p>
                                        Il est expressément entendu que le Membre, en décidant d´utiliser les services offerts par l’Editeur et en complétant la fiche relative à son profil entreprise ou candidat, reconnaît que ces données sont susceptibles d’être publiées sur le présent Site et diffusées auprès de tous les Membres et Internautes, ainsi que sur tous autres supports déterminés par l’Editeur, dans le respect de ces conditions.
                                    </p>
                                    <p>
                                        Le simple fait de fournir ces informations et de compléter son profil constituera, pour le Membre, son acceptation pleine et entière et une manifestation expresse de sa volonté de publier lesdites informations sur le présent Site ainsi que sur tous autres supports déterminés par l’Editeur, dans le respect de ces conditions.
                                    </p>

                                    <p>
                                        Les informations personnelles du Membre recruteur professionnel ne seront pas publiées et seront gardées par l´Editeur pour la gestion administrative de son compte sauf avis contraire du membre lui-même.
                                    </p>
                                    <h4 class="terms-subheader"> b)  Contenu</h4>
                                    <p>
                                        Le Membre, pour toute contribution mise en ligne sur son profil, déclare être le propriétaire de tous les contenus associés et présentés et qu'ils sont libres de tous droits, ou qu’il dispose de l'autorisation du titulaire de ces droits. Le Membre ne peut publier des contenus qui enfreignent le droit à l’image et les droits de propriété intellectuelle d'autres personnes. Le Membre dégage le Site et l´Editeur de toutes réclamations éventuelles de tiers à son encontre en raison de la violation de leurs droits ou de la violation d’une législation applicable.
                                    </p>
                                    <p>
                                        L’Editeur est dégagé de toute responsabilité quant à l’originalité des contributions, se fondant sur la bonne foi des Membres et sur la difficulté manifeste d’effectuer des contrôles en la matière. Néanmoins, si l'équipe des modérateurs venait à détecter ce genre d'abus, l'Editeur s'autorise à prendre les dispositions nécessaires de modification ou de suppression.
                                    </p>
                                    <h4 class="terms-subheader"> c) Suppression</h4>
                                    <p>
                                        Il est expressément porté à la connaissance des Membres qu’ils disposeront de la faculté de faire cesser la diffusion de leur profil. Ils devront pour cela faire une demande à l’éditeur via le site ou par l’un des contacts fournis par l’éditeur. Pour des raisons techniques et administratives, le compte d’un Client ayant acheté des services auprès de l´Editeur ne peut être supprimé par l’Editeur à la demande du Membre.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">6. Modalité d´utilisation des services de publication d’annonces </div>
                                    <h4 class="terms-subheader">a) Nature des services</h4>
                                    <p>
                                        Le Site propose aux Membres  d’utiliser ses services gratuits et/ou ses services payants. Les Membres pourront notamment publier des offres ou demandes d’emploi ou encore accéder aux informations pour contacter un Membre candidat.
                                    </p>
                                    <p>
                                        Les Membres s´engagent à utiliser les services proposés sur le présent Site pour contacter les autres membres pour un emploi réel, et à ne pas tenter de leur offrir un quelconque autre service ou une information.
                                    </p>
                                    <p>
                                        Toutes les interfaces d’utilisation et de gestion des services seront entièrement sécurisées par l’Editeur qui répondra de toute intrusion ou de tout usage abusif directement imputable à une défaillance de cette sécurisation.
                                    </p>

                                    <h4 class="terms-subheader"> b)  Modalités d´utilisation</h4>
                                    <p>
                                        Afin d’utiliser l’un des services gratuits ou payants proposés sur le présent Site, les Membres devront préalablement se constituer un compte conformément aux présentes conditions générales.
                                    </p>
                                    <p>
                                        Dès lors que leur compte sera créé et qu’ils seront connectés à leur espace Membre, ils pourront alors utiliser les services de l’Editeur en cliquant sur les boutons prévus à cet effet.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">7. Dispositions relatives à la publication d’annonces d’emploi</div>
                                    <h4 class="terms-subheader">a) Généralités</h4>
                                    <p>
                                        <strong>La publication des annonces est ouverte à tout Membre  disposant d’un compte. Elle est effectuée à titre gratuit conformément aux présentes conditions générales.</strong>
                                    </p>
                                    <p>
                                        Le Membre recruteur s’engage à ne publier ses annonces que dans le plus profond respect des dispositions légales en vigueur, dans le respect de l’ordre public et des bonnes mœurs. Elles devront donc être rédigées en français et dépourvues de tout critère discriminatoire quant à la qualité de l’éventuel candidat.
                                    </p>
                                    <p>
                                        Les Internautes et les Membres peuvent signaler auprès de l’Editeur tout contenu, toute annonce contraire à l’ordre public, aux bonnes mœurs, ou à toute disposition législative ou réglementaire en vigueur, et notamment tous types de contenus à caractère discriminatoire, pour lesquels l’Editeur se réserve le droit de procéder à tous contrôles, modérations et signalement aux autorités compétentes.
                                    </p>
                                    <p>
                                        L’Editeur se réserve le droit de supprimer toute annonce non conforme aux présentes conditions générales ou à la réglementation en vigueur. La suppression de l´annonce entraînerait également celle de la mise en avant affectée à celle-ci, sous les mêmes conditions que celles de l’annonce.
                                    </p>

                                    <h4 class="terms-subheader"> b)  Contenu</h4>
                                    <p>
                                        Les annonces devront être réelles et ne pourront en aucun cas se rapporter à un emploi éventuel, hypothétique ou fictif. De même, il est rigoureusement interdit de publier des annonces comportant des allégations fausses ou susceptibles d'induire en erreur. Tout abus avéré pourra donner lieu à la suppression de l’annonce par l’Editeur.
                                    </p>
                                    <p>
                                        Les Membres s’engagent sans aucune limite ni réserve à se conformer aux dispositions du code du travail, pour toute la procédure de recrutement, de même qu’ils s’engagent à ne faire preuve en aucun cas d’une quelconque attitude discriminatoire, quel qu’en soit le fondement, à l’égard des candidats et postulants.
                                    </p>
                                    <p>
                                        Le Membre déclare être parfaitement informé qu’il ne pourra pas publier une seule et même annonce afin de pourvoir des postes de natures différentes et qu’il est strictement interdit de faire apparaître dans les champs du formulaire des informations autres que celles demandées.
                                    </p>
                                    <p>
                                        Les Membres s’interdisent de publier, dans le cadre de leurs annonces, des liens hypertextes vers d’autres sites Internet ou encore de faire ostensiblement la promotion de leur société ou la promotion d’un site (le cas échéant) concurrent.
                                    </p>
                                    <p>
                                        Les annonces publiées sur le présent Site seront susceptibles d’être publiées sur toutes les plateformes de JOBTEK.
                                    </p>
                                    <h4 class="terms-subheader"> c)  Modération des annonces </h4>
                                    <p>
                                        L’Editeur se réserve le droit de procéder à une modération des annonces publiées sur le présent Site. Il peut aussi les supprimer ou les modifier avant ou au cours de leur publication sur le présent Site.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">8. Newsletter de l’Editeur</div>
                                    <p>
                                        En cochant la case prévue à cet effet ou en donnant expressément leur accord à cette fin, les Membres acceptent que l’Editeur puisse leur faire parvenir, à une fréquence et sous une forme qu’il déterminera, une newsletter (lettre d’information) pouvant comporter des informations relatives à son activité.
                                    </p>
                                    <p>
                                        Les Membres abonnés auront la faculté de se désinscrire de la newsletter en cliquant sur le lien prévu à cet effet, présent dans chacune des newsletters (lettres d’informations).
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">9. Protection des données</div>
                                    <h4 class="terms-subheader">a) Généralités – Finalité – Durée</h4>
                                    <p>
                                        Les Internautes disposent de la libre faculté de fournir des informations personnelles les concernant. L’inscription sur le présent Site nécessite la collecte, par l’Editeur, d’informations personnelles et professionnelles concernant les Internautes. Les Internautes ne souhaitant pas fournir les informations nécessaires à la création de leur compte ne pourront pas utiliser les services proposés par l’Editeur sur le présent Site.
                                    </p>
                                    <p>
                                        Les données récoltées sont nécessaires à la bonne administration des services proposés ainsi qu’au respect par l’Editeur de ses obligations contractuelles. Ces données sont conservées par l’Editeur en cette unique qualité, ce dernier s’engageant à ne pas les utiliser dans un autre cadre, ni à les transmettre à des tiers, hors accord express des Membres ou cas prévus par la loi.
                                    </p>
                                    <h4 class="terms-subheader">b) Droit d’accès et de rectification</h4>
                                    <p>
                                        Les Membres recruteurs disposent d’un droit d’accès et de rectification des données qu’ils ont fournies avant la validation de leur compte.
                                    </p>
                                    <p>
                                        La validation du compte se fait par l’éditeur une fois que le membre aura fourni sa pièce d’identité et une photo de profil.
                                    </p>
                                    <p>
                                        Une fois le compte vérifié le membre ne pourra plus modifier les informations relatives à son identité (nom, âge, pièce d’identité, photo de profil, genre, etc …).
                                    </p>
                                    <p>
                                        Les données personnelles collectées font l’objet d’un traitement informatique et sont exclusivement réservées à l’Editeur du Site.
                                    </p>
                                    <h4 class="terms-subheader">c) Adresse IP</h4>
                                    <p>
                                        En outre, l'Editeur se réserve le droit de collecter l’adresse IP (Internet Protocol) publique de tous les Internautes. La collecte de cette adresse IP sera effectuée de façon anonyme, elle sera conservée pour la même durée que les informations personnelles et ne sera destinée qu’à permettre une bonne administration des services proposés sur le présent Site. L'adresse IP correspond à une série de chiffres séparés de points permettant l’identification unique d’un ordinateur sur le réseau Internet.
                                    </p>
                                    <p>
                                        L'Editeur devra communiquer toutes les données personnelles relatives à un Internaute à la Police (sur réquisition judiciaire) ou à toute personne (sur ordonnance du juge). L’adresse IP de votre ordinateur pourra faire l’objet d’un rapprochement avec l’identité effective de l’abonné détenue par le FAI (fournisseurs d’accès à l’Internet).
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">10. Exonération de la responsabilité de l’Editeur dans le cadre de l’exécution du présent contrat</div>

                                    <p>
                                        En cas d’impossibilité d’accéder ou d’utiliser le Site, en raison de problèmes techniques ou de toutes natures, le Membre ne pourra se prévaloir d’un dommage et ne pourra prétendre à aucune indemnité.
                                    </p>
                                    <p>
                                        Les services fournis par l’Editeur à titre gratuit ne sont soumis à aucune obligation, les Membres ne pourront ainsi prétendre à l’octroi d’aucune indemnité de ce fait, quel que soit le préjudice allégué.
                                    </p>

                                    <p>
                                        Une restriction d’utilisation des services pourra également intervenir à la simple diligence de l’Editeur et à titre de sanction, dans les cas définis aux présentes conditions générales, et notamment en cas d’attitude contraire à l’ordre public, aux bonnes mœurs, aux dispositions législatives ou réglementaires en vigueur et jusqu’à régularisation de ladite violation par le Membre. Cette restriction ne pourra donner lieu à l’octroi d’aucune indemnité au profit du Membre recruteur qui ne pourra en aucun cas considérer cette restriction comme lui causant un préjudice de quelque nature que ce soit. Cette restriction d’accès n’est pas exclusive pour l’Editeur de l’exercice de tout autre mode de sanction, tel que défini aux présentes conditions générales.
                                    </p>
                                    <p>
                                        L'Editeur se réserve le droit exclusif de supprimer le compte de tout Membre qui aurait contrevenu aux présentes conditions générales, notamment, mais sans que cet exemple n'ait un quelconque caractère exhaustif, lorsque le Membre aura sciemment fourni des informations erronées lors de la création du compte. Ladite suppression ne sera pas susceptible de constituer un dommage pour le Membre exclu qui ne pourra prétendre à aucune indemnité ni aucun remboursement de ce fait. L´Editeur n’aura à respecter aucun préavis ni aucune formalité si ce n’est la notification de la résiliation au Membre, par voie électronique.
                                    </p>
                                    <p>
                                        Il est expressément porté à la connaissance des Membres que l’Editeur ne garantit en aucun cas l’exactitude des données contenues dans leurs profils, annonces publiés sur le Site. Il appartient donc à toute personne intéressée de s’assurer de l’exactitude de toutes ces données préalablement à toute prise de contact. De même, l’Editeur n’interviendra pas dans la relation établie entre les Membres, et ne garantira en aucun cas aux Membres recruteurs l’embauche effective d´un candidat, le cas échéant, convoité et son adéquation avec le poste à pourvoir.
                                    </p>
                                    <p>
                                        En outre, les Membres  répondent seuls et sans réserve de toutes les actions intentées à l’encontre de l’Editeur, du fait de la publication de profils, d´annonces ou du processus de recrutement, lequel se réserve la faculté d’appeler en garantie tout Membre.
                                    </p>

                                    <p>
                                        Les liens hypertextes présents sur le présent Site peuvent renvoyer sur d’autres sites Internet et la responsabilité de l’Editeur du présent Site ne saurait être engagée si le contenu de ces sites contrevient aux législations en vigueur. De même la responsabilité de l’Editeur du présent Site ne saurait être engagée si la visite, par l’Internaute, de l’un de ces sites, lui causait un préjudice.
                                    </p>

                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">11. Les droits de propriété intellectuelle relatifs aux éléments publiés sur le présent Site</div>

                                    <p>
                                        Tous les éléments constituant le présent Site appartiennent à l’Editeur ou font l’objet d’une autorisation d’exploitation accordée à l´Editeur par le propriétaire de la plateforme Internet, de la marque et du nom de domaine utilisés par le Site et sont protégés par la législation relative à la propriété intellectuelle.
                                    </p>
                                    <p>
                                        Les Membres reconnaissent donc que, en l’absence d’autorisation, toute copie totale ou partielle et toute diffusion ou exploitation d’un ou plusieurs de ces éléments, même modifiés, seront susceptibles de donner lieu à des poursuites judiciaires menées à leur encontre par l’Editeur ou ses ayants droits.
                                    </p>

                                    <p>
                                        Cette protection portera sur tous les contenus textuels et graphiques du Site, mais également sur sa structure, ses programmes informatiques, son nom et sa charte graphique.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">12. Modifications des conditions générales</div>

                                    <p>
                                        Les présentes conditions générales peuvent être modifiées à tout moment par l’Editeur du Site ou son mandataire. Les conditions générales applicables au Membre
                                    </p>
                                    <p>
                                        Sont celles en vigueur au jour de sa commande ou de sa connexion sur le présent Site. L’Editeur s’engage bien évidemment à conserver toutes ses anciennes conditions générales et à les faire parvenir à tout Membre qui en ferait la demande.ments, même modifiés, seront susceptibles de donner lieu à des poursuites judiciaires menées à leur encontre par l’Editeur ou ses ayants droits.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">13. Droit applicable et juridictions compétentes</div>

                                    <p>
                                        Les présentes conditions générales sont soumises à l’application du droit ivoirien et de la compétence exclusive des juridictions dans le ressort desquelles l’Editeur à son siège social.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">14. Règlement amiable des litiges</div>

                                    <p>
                                        Sauf dispositions d’ordre public, tous litiges qui pourraient survenir dans le cadre de l’exécution des présentes conditions générales pourront avant toute action judiciaire être soumis à l’appréciation de l’Editeur du Site en vue d’un règlement amiable. Il est expressément rappelé que les demandes de règlement amiable ne suspendent pas les délais ouverts pour intenter les actions judiciaires.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">15. Nullité</div>

                                    <p>
                                        Si l’une des clauses des présentes conditions générales venait à être déclarée nulle par une décision de justice, cette nullité ne saurait emporter la nullité de l’ensemble des autres clauses, qui continueraient à produire leur effet.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="terms-header">16. Non renonciation</div>

                                    <p>
                                        Le fait, pour l’Editeur, de ne pas se prévaloir à titre temporaire ou permanent d’une ou plusieurs clauses des présentes conditions générales, n’emportera en aucun cas renonciation à se prévaloir du reste des conditions générales.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>-->
                    </div>

                </div>
            </div>
            <!-- /Modal -->
        </div>
    </div>

}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/assets/plugins/jquery/jquery-2.2.4.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery.inputmask.bundle.js"></script>
<script type="text/javascript">
    function goBackToUserForm() {
        grecaptcha.reset();
        // $(this).hide();
        $(".nextbtn").show();
        $(".nextbtn").addClass("active");
        $("#tab-1-2").hide();
        $("#tab-1-1").show();
    }

    function goBackGrCaptchaForm() {
        grecaptcha.reset();
        $(".gr-captcha-sec").show();
        $(".info-bip-sec").hide();
    }

    function requestForInfoBipPin(contactNumber) {
        var data = {
            applicationId: "C875EB281731D7407DC415D5D1CDA216",
            messageId: "3CFD4CFADFFC4DD6F8710B966C2C7768",
            from: "JobTek",
            //to: "+919861696748" //contactNumber
            to: contactNumber
        };

        $.ajax({
            url: "https://gn9g6.api.infobip.com/2fa/1/pin",
            method: "POST",
            //dataType: "json",
            crossDomain: true,
            contentType: "application/json",
            data: JSON.stringify(data),
            cache: false,
            //beforeSend: function (xhr) {
            //    /* Authorization header */
            //    xhr.setRequestHeader("Authorization", "Basic " + Utils.getUsernamePassword());
            //    xhr.setRequestHeader("X-Mobile", "false");
            //},
            headers: { "Authorization": "App 75ba074d74c8443fb7477345b600f110-c1f7659a-4b43-4a34-ad2f-38e9bbef9a15" },
            success: function (response) {
                //console.log(response);
                //console.log(response.pinId)
                $("#info-bip-pinid").val(response.pinId);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Unable to request for pin. Please try after sometime.");
            }
        });
    }

    function resendRequestForInfoBipPin() {
        var pinId = $("#info-bip-pinid").val();

        if (pinId) {
            $.ajax({
                url: "https://gn9g6.api.infobip.com/2fa/1/pin/" + pinId + "/resend",
                method: "POST",
                //dataType: "json",
                crossDomain: true,
                contentType: "application/json",
                cache: false,
                headers: { "Authorization": "App 75ba074d74c8443fb7477345b600f110-c1f7659a-4b43-4a34-ad2f-38e9bbef9a15" },
                success: function (response) {
                    console.log(response);
                    console.log(response.pinId);
                    $("#info-bip-pinid").val(response.pinId);
                    alert("Resend pin successfull.Please check your phone number and enter the code.");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Unable to request for pin. Please try after sometime.");
                }
            });
        } else {
            alert("Unable to process your request. Please try again later.")
        }
    }

    function validateInfoBipPin() {
        var pinId = $("#info-bip-pinid").val();
        var pin = $("#info-bip-code").val();
        $.ajax({
            type: 'GET',
            url: '/Account/ValidateInfoBipPin?pinId=' + pinId + '&pin=' + pin, // we are calling json method
            //dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                console.log(response);
                if (response.Verified) {
                    $('.verify-tel-sec').hide();
                    $('.gr-captcha-sec').hide();
                    $('.info-bip-sec').hide();
                    $('.doc-sec').show();
                } else {
                    alert("Incorrect Pin");
                }
            },
            error: function (ex) {
                console.log(ex);
                alert('Invalid PIN');
            }
        });
    }

    function validateGoogleRecaptcha() {
        // check whether the google recaptcha is valid or not
        var gCaptchaResponse = grecaptcha.getResponse();
        //console.log(gCaptchaResponse);
        //alert(gCaptchaResponse);

        // send the response making an ajax call to validate through google recaptcha
        $.ajax({
            type: 'GET',
            url: '/Account/ValidateCaptcha?gcaptchaResp=' + gCaptchaResponse, // we are calling json method
            //dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                console.log(response);
                if (response.Success) {
                    $(".gr-captcha-sec").hide();
                    $(".info-bip-sec").show();
                    $("#tel-num").html($("#ConfirmPhoneNumber").val());

                    var cntryCode = $("#country_code").val();
                    var unmaskedPhoneNum = $("#ConfirmPhoneNumber").val().replace(/-/g, ''); //$("#ConfirmPhoneNumber").inputmask('unmaskedvalue');
                    var phoneNumWithCntryCode = cntryCode + unmaskedPhoneNum;
                    //console.log(phoneNumWithCntryCode);
                    // raise a request for PIN
                    requestForInfoBipPin(phoneNumWithCntryCode);

                } else {
                    alert("Invalid captcha");
                    $("#beforeDiv").hide();
                    $(".gr-captcha-sec").hide();
                    $(".info-bip-sec").show();
                    $("#tel-num").html($("#ConfirmPhoneNumber").val());

                    var cntryCode = $("#country_code").val();
                    var unmaskedPhoneNum = $("#ConfirmPhoneNumber").val().replace(/-/g, ''); //$("#ConfirmPhoneNumber").inputmask('unmaskedvalue');
                    var phoneNumWithCntryCode = cntryCode + unmaskedPhoneNum;
                }

            },
            error: function (ex) {
                console.log(ex);
                alert('Invalid Captcha');
            }
        });
    }


    function Validate() {
        var input = $("#AgreeTermsAndConditions");
        if (input.is(':checked') === true) {
            return true;
        }
        else {
            alert("Veuillez accepter les termes et conditions.");
            return false;
        }

    }
    $(document).ready(function () {

        var districts = ["", ""]

        $("#CountryId").change(function () {
            $("#CityId").empty();
            $.ajax({
                type: 'GET',
                url: '/Account/GetCities?id=' + $("#CountryId").val(), // we are calling json method
                dataType: 'json',
                success: function (cities) {
                    $("#CityId").append('<option value="">' + ' --Choisissez la ville--' + '</option>');
                    $.each(cities, function (i, city) {
                        $("#CityId").append('<option value="' + city.Value + '">' + city.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })

        $("#CityId").change(function () {
            $("#DistrictId").empty();
            $.ajax({
                type: 'GET',
                url: '/Account/GetDistricts?id=' + $("#CityId").val(), // we are calling json method

                dataType: 'json',
                success: function (districts) {
                    $("#DistrictId").append('<option value="">' + ' --Choisissez le quartier--' + '</option>');
                    $.each(districts, function (i, district) {
                        $("#DistrictId").append('<option value="' + district.Value + '">' + district.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
@*<script>
        $(document).ready(function () {
            var locations = {
                '0': [],
                '1': ['Choose District', 'Abobo', 'Adjamé', 'Anyama', 'Attécoubé', 'Bingerville'],
                '2': ['Choose District'],
                '3': ['Choose District'],
                '4': ['Choose District'],
                '5': ['Choose District'],

            }

            var $District = $('#District');
            $('#City').change(function () {
                if ($(this).val()) {

                    var city = $(this).val(), lcns = locations[city] || [];

                    //var html = $.map(lcns, function (lcn,index) {
                    //    return '<option value="' + index + '">' + lcn + '</option>'
                    //}).join('');

                    var html = "";
                    for (var i = 0; i < locations[city].length; i++) {
                        //alert(html);
                        html = html + '<option value="' + i + '">' + locations[city][i] + '</option>'
                    }

                    $District.html(html)
                }
            });
        });
    </script>*@
<script type="text/javascript">
    var urlParams = new URLSearchParams(window.location.search);
    var myParam = urlParams.get('userRole');
    $("#role").text(myParam);
    $("input[name=Role][value=" + myParam + "]").attr('checked', true);
    $(document).ready(function () {
        // alert("s")
        $(".backbtn").hide();
        $("#tab-1-2").hide();
        $("#tab-1-1").show();
        $(".backbtn").click(function () {
            //alert("s")
            $(this).hide();
            $(".nextbtn").show();
            $(".nextbtn").addClass("active");
            $("#tab-1-2").hide();
            $("#tab-1-1").show();
            //$(".backbtn").click();
        })
        $(".nextbtn").click(function () {

            if ($('#Gender').valid()
                && $('#FirstName').valid()
                && $('#LastName').valid()
                && $('#DOB').valid()
                && $('#CountryId').valid()
                && $('#CityId').valid()
                //&& $('#District').valid()
                //&& $('input[name="ExperienceInMonths"]').valid()
                //&& $('#Address').valid()
                && $('#Email').valid()
                && $('#PhoneNumber').valid()) {

                // set the confirm phone number for validation
                $("#ConfirmPhoneNumber").val($('#PhoneNumber').val());

                $(this).hide();
                $(".backbtn").show();
                $(".backbtn").addClass("active");
                // $(".nextbtn").click();
                $("#tab-1-1").hide();
                $("#tab-1-2").show();
            }
            //$("#job-creation-form-container form").valid();

            //$(this).hide();
            //$(".backbtn").show();
            //$(".backbtn").addClass("active");
            //// $(".nextbtn").click();
            //$("#tab-1-1").hide();
            //$("#tab-1-2").show();
        })

        $('input[type=radio][name=Role]').change(function () {

            //window.location.href = "http://stackoverflow.com";
            window.location.href = window.location.pathname + "?userRole=" + this.value;
        });
    })

    //$(window).load(function () {
    $("#phone").inputmask({ "mask": "(999) 999-9999" });
    $("#PhoneNumber").inputmask({ "mask": "99-99-99-99" });
    $("#ConfirmPhoneNumber").inputmask({ "mask": "99-99-99-99" });
    //});
</script>





