@model IEnumerable<HireMe.Models.JobTekNotification>

@{
    ViewBag.Title = "Index";
}



<style>
    #footer-container {
        display: none;
    }
</style>

<div id="main-container-user" style="margin-left: 280px;">
    <!-- HEADER -->
    <header id="header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">

                    <!-- LOGO -->
                    <div id="logo">
                        <a href="index.html">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div><!-- LOGO -->

                </div><!-- col -->
                <div class="col-sm-10">

                    <!-- MENU -->
                    <nav>

                        <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>

                        <ul class="menu clearfix" id="menu">
                            @*
                                <li class="active"><a href="index.html">HOME</a></li>*@
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                            }

                            @*
                                <li><a href="#">ADMIN</a></li>
                                <li><a href="#">LOGIN</a></li>*@
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="dropdown">
                                <a href="#">AIDE</a>
                                <ul>
                                    <li>
                                        <a class="waves" href="about-us.html">REPORT A BUG</a>
                                    </li>
                                    <li>
                                        <a class="waves" href="services.html">SHARE YOUR OPINION</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="waves" href="#">Post a Job</a>
                            </li>
                            @Html.Partial("_LoginPartial")
                            <li class="secondary-menu-btn">
                                <a href="#" onclick="openNav()"><i class="bizhub-icon-menu-bars"></i></a>
                            </li>
                        </ul>

                    </nav>

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container-fluid -->

    </header><!-- HEADER -->
    <div id="mySidenav" class="sidenav" style="width: 280px;">

        @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                                                            .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                                                            .Select(c => c.Value);
            string role = roles.FirstOrDefault();}


        <div class="sidenav-header">User Account - @role</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a href="~/Users"><i class="fa fa-home"></i>Dashboard</a>

        @if (role == "Candidate")
        {

            <a href="~/SearchJobOffers/CheckCandidateProfileExists"><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/JobRequests"><i class="fa fa-graduation-cap"></i> Job Requests</a>

            <a href="~/FavouriteJobOffers"><i class="fa fa-heart"></i> Manage my favorites</a>

            <a href="~/Notification" class="active"><i class="fa fa-envelope"></i> Messages &Aacute; Notifications</a>

            <a href="~/Manage"><i class="fa fa-cog"></i> Manage my settings</a>
        }
        else if (role == "Employer")
        {

            <a href="~/SearchJobRequests"><i class="fa fa-search"></i> Search Employee</a>

            <a href="~/JobOffers"><i class="fa fa-graduation-cap"></i> My Job Offers</a>

            <a href="~/FavouriteJobRequests"><i class="fa fa-heart"></i> Manage my favorites</a>

            <a href="~/Notification" class="active"><i class="fa fa-envelope"></i> Messages & Notifications</a>

            <a href="~/Manage"><i class="fa fa-cog"></i> Manage my settings</a>
        }
        else if (role == "Agency")
        {

            <a href="~/JobCategories"><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/Agency/RegisterCandidate"><i class="fa fa-search"></i> Create a Job Request</a>

            <a href="~/Agency/GetJobRequests"><i class="fa fa-search"></i> My Job Requests</a>

            <a href="#"><i class="fa fa-heart"></i> Manage my favorites</a>
        }
    </div>


    <!---- Tab Section -->

    <div class="full-section-container wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Messages & Notifications</h2>
                    </div><!-- headline -->
                </div><!-- col -->
            </div><!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="notification">
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <li>
                                    <a href="#" class="notification-link">
                                        <span class="photo">
                                            <img src="data:image/jpeg;base64,@item.Sender.ProfilePicUrl" />
                                        </span>
                                        <div class="info">
                                            <span class="name">@item.Sender.FirstName</span>
                                            <span class="others">Lorem ipsum dolor sit</span>
                                        </div>
                                        <div class="subject">
                                            @item.Content
                                        </div>
                                        <span class="date-time">@item.CreatedDate.ToString("dd-MMM-yyyy")</span>
                                    </a>
                                </li>
                            }

                        }
                        else {
                            <li>No Notification available.</li>
                        }</ul>
                </div>
            </div>
        </div><!-- container -->
    </div>

    <!---- Tab Section end-->


</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>






























@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeenByReceiver)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiverId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeenByReceiver)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobTekNotificationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobTekNotificationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobTekNotificationId })
        </td>
    </tr>
}

</table>*@
