@model IEnumerable<HireMe.Models.JobTekNotification>

@{
    ViewBag.Title = "Index";
}



<style>
    #footer-container {
        display: none;
    }
</style>

<div id="main-container-user" style="margin-left: 280px;">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                        .Select(c => c.Value);
        string role = roles.FirstOrDefault();}
    
    <!---- Tab Section -->

    <div class="full-section-container wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Messages & Notifications</h2>
                    </div><!-- headline -->
                </div><!-- col -->
            </div><!-- row -->
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <ul class="notification">
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <li>
                                    <a href="#" class="notification-link">
                                        <span class="photo">
                                            <img src="data:image/jpeg;base64,@item.Sender.ProfilePicUrl" />
                                        </span>
                                        <div class="info">
                                            <span class="name">@item.Sender.FirstName</span>
                                            <span class="others">Lorem ipsum dolor sit</span>
                                        </div>
                                        <div class="subject">
                                            @item.Content
                                        </div>
                                        <span class="date-time">@item.CreatedDate.ToString("dd-MMM-yyyy")</span>
                                    </a>
                                </li>
                            }

                        }
                        else {
                            <li>No Notification available.</li>
                        }</ul>
                </div>
            </div>
        </div><!-- container -->
    </div>

    <!---- Tab Section end-->


</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>






























@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeenByReceiver)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiverId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeenByReceiver)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobTekNotificationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobTekNotificationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobTekNotificationId })
        </td>
    </tr>
}

</table>*@
