@model HireMe.Models.JobRequest
@using HireMe.Models

<style>
    #footer-container {
        display: none;
    }

    .rating {
        color: #a9a9a9;
        margin: 0;
        padding: 0;
    }

    ul.rating {
        display: inline-block;
    }

    .rating li {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        font-size: 20px;
    }

    .rating .filled {
        color: orangered;
    }

    .clear {
        margin-top: 20px;
    }
</style>

<script type="text/javascript">
    function validateJobRequest(jobRequestId) {
        if (jobRequestId) {
            $.ajax
                ({
                    url: '/Admin/ValidateJobRequest?jobRequestId=' + jobRequestId,
                    //data: { "id": jobRequestId },
                    type: 'get',
                    success: function (result) {
                        alert("Job Request validated successfully.");
                        window.history.back();
                    }
                });
        }
    }
    function goBack() {
        window.history.back();
    }
</script>


@functions
{
    private int count = 0;
}

@helper ShowTaskTree(IEnumerable<HireMe.Models.JobTask> jobTasks)
{
for (int i = 0; i < jobTasks.Count(); i++)
{
    count = count + 1;
    var item = jobTasks.ElementAt(i);
    if (Model.JobRequestJobTasks.Any(p => p.JobTaskId == item.JobTaskId))
    {
            @*@<div class="checkbox" style="margin-left:25px;">
                <label>

                    @Html.HiddenFor(p => p.JobTasks[count - 1].JobTaskId, new { @value = "@item.JobTaskId" })
                        @Html.HiddenFor(p => p.JobTasks[count - 1].JobTaskName, new { @value = "@item.JobTaskName" })
                        @Html.CheckBoxFor(p => p.JobTasks[count - 1].Selected)
                        @item.JobTaskName
                        @Html.TextBoxFor(p => p.JobTasks[count - 1].Note)*@
            @*<input type="checkbox" name="SelectedJobTasks[@ViewBag.count].SelectedJobTaskId" value="@item.JobTaskId" />*@
            @*<input type="text" name="SelectedJobTasks[@i].SelectedJobTaskNote" value="" />*@
            @*@<img src="~/assets/images/home-icon.png" />
                        @(item.JobTaskName)

                        <div class="toggle-group">
                            <input type="checkbox" name="on-off-switch" id="on-off-switch" checked="" tabindex="1">
                            <label for="on-off-switch">

                            </label>
                            <div class="onoffswitch" aria-hidden="true">
                                <div class="onoffswitch-label">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </div>
                            </div>
                        </div>
                        @{
                            var selectedTask = Model.JobRequestJobTasks.FirstOrDefault(p => p.JobTaskId == item.JobTaskId);
                        }
                        @if (!string.IsNullOrWhiteSpace(selectedTask.TaskResponseAdditionalDescription))
                        {
                            <span>@selectedTask.TaskResponseAdditionalDescription</span>
                        }


                        <span></span>
                    </label>
                    @if (item.SubTasks.Any())
                {

                        @ShowTaskTree(item.SubTasks)

                    }
                </div>



            @*<div>


                <div class="icon-section">
                    <div class="icon-section-main">
                        <img style="" src="@item.IconImage" />
                        <span>@(item.JobTaskName)</span>
                    </div>

                    <div>
                        @{
                            var selectedTask = Model.JobRequestJobTasks.FirstOrDefault(p => p.JobTaskId == item.JobTaskId);
                        }
                        @if (!string.IsNullOrWhiteSpace(selectedTask.TaskResponseAdditionalDescription))
                        {
                            <span>@selectedTask.TaskResponseAdditionalDescription</span>
                        }
                    </div>
                    @if (item.SubTasks.Any())
                    {

                        @ShowTaskTree(item.SubTasks)

                    }
                </div>
            </div>*@



            @*<ul class="tree">
                <li>
                    <input type="checkbox" checked="checked" id="@("tree-task"+count)"/>
                    <label class="tree_label" for="@("tree-task"+count)"><img style="" src="@item.IconImage" />@(item.JobTaskName)</label>
                    @if (item.SubTasks.Any())
                    {
                        
                            @ShowTaskTree(item.SubTasks)
                        
                    }
                </li>
            </ul>*@




            @*<div class="row" style="margin-left: 5px;">
                    <div class="col-lg-1 col-md-1">
                        <img style="width:20px" src="@item.IconImage" />
                    </div>
                    <div class="col-lg-11 col-md-11">
                        <div>
                            @(item.JobTaskName)
                        </div>

                    </div>

                </div>*@
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-1 pl-0 pr-0">
                        <img class="tree-img" src="@item.IconImage" />
                    </div>
                    <div class="col-md-11 pl-0 pr-0">
                        <div class="tree-title">
                            @{
                                var selectedTask = Model.JobRequestJobTasks.FirstOrDefault(p => p.JobTaskId == item.JobTaskId);
                            }
                            @(item.JobTaskName)
                            @if (!string.IsNullOrWhiteSpace(selectedTask.TaskResponse))
                            {
                                <p><strong>Desc:</strong> @selectedTask.TaskResponse</p>
                            }
                        </div>

                        @if (item.SubTasks.Any())
                        {
                        @ShowTaskTree(item.SubTasks)
                        }
                    </div>

                </div>
            </div>
                                    }
                                }
}

<script>
    function setFavouriteJobRequest(jobRequestId) {

        //alert(jobRequestId);
        $.ajax
            ({
                url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                //data: { "id": jobRequestId },
                type: 'get',
                success: function (result) {
                    //$('.modal-box').text(result).fadeIn(700, function () {
                    //    setTimeout(function () {
                    //        $('.modal-box').fadeOut();
                    //    }, 2000);
                    //});

                    alert("Job Request added to your favourite list.");
                }
            });

    }

</script>


<div id="main-container-user" ng-app="myApp" ng-controller="searchJobRequestCtrl">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                            .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                            .Select(c => c.Value);
        string role = roles.FirstOrDefault();}


    <!---- Tab Section -->

    <div class="full-section-container pl-3 pr-3 wow fadeInUp">
        @*<div class="tab-section">
                <div class="tab-section-body"></div>
            </div>*@
        <div class="row">
            <div class="col-md-12">
                <div class="headline text-center mb-3">
                    <h2>Employee Details</h2>
                </div>
                <div class="tabs style-2">
                    <div class="tab-header">
                        @(Model.Job.JobName + "(" + Model.Candidate.Age + " yrs)")
                        <div class="tab-header-back">
                            <a href="" onclick="goBack()" class="back-btn"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                        </div>
                    </div>
                    <div class="tab-content search-criteria" style="margin-top:0;">

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="profile-pic">
                                    <img src="data:image/jpeg;base64,@Model.Candidate.ProfilePicUrl" />
                                </div>
                                @*<button type="submit" class="btn btn-style-1 btn-lg waves"><i class="fa fa-check"></i>&nbsp;Validate</button>*@
                            </div>
                            <div class="col-md-8">
                                @*<div class="row">
                                        <div class="col-md-4">Email:</div>
                                        <div class="col-md-8">agency@gmail.com</div>
                                    </div>*@
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td>@(Model.Candidate.FirstName + " " + Model.Candidate.LastName) </td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>@Model.Candidate.EmailId</td>
                                        </tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td>@Model.Candidate.ContactNo</td>
                                        </tr>
                                        <tr>
                                            <td>Address:</td>
                                            <td>@(Model.Candidate.Country + ", " + (Model.Candidate.City ?? "") + ", " + (Model.Candidate.District ?? "") )</td>
                                        </tr>
                                        <tr>
                                            <td>Rating:</td>
                                            <td>
                                                @for (int i = 0; i < Model.StarRating; i++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                @for (int i = 0; i < (5 - Model.StarRating); i++)
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Description:</td>
                                            <td>@Model.JobRequestDescription</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="border-right:2px solid #ff6a00;">

                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Gender
                                            </div>

                                            <div class="filtersection-body">
                                                @if (Model.Candidate.Gender == HireMe.Models.Gender.Male)
                                                {
                                                    <div class="body-item">
                                                        <img src="~/assets/images/user.png" alt="">
                                                        <span>Man</span>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="body-item">
                                                        <img src="~/assets/images/woman-user.png" alt="">
                                                        <span>Woman</span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Type of Staff
                                            </div>

                                            <div class="filtersection-body">
                                                @Model.Candidate.StaffType.ToString()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Age
                                            </div>

                                            <div class="filtersection-body">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        @(Model.Candidate.Age + " yrs")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Years of Experience
                                            </div>

                                            <div class="filtersection-body">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        @Model.Candidate.ExperienceInYears Yrs &nbsp;&nbsp;
                                                        @Model.Candidate.ExperienceInMonths Mth
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Localizations

                                            </div>

                                            <div class="filtersection-body">

                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        @(Model.Candidate.Country + ", " + (Model.Candidate.City ?? "") + ", " + (Model.Candidate.District ?? ""))
                                                    </div>
                                                    @*<div class="col-lg-6 col-md-6">
                                                            @Model.Candidate.District
                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Salary Between
                                            </div>

                                            <div class="filtersection-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        @Model.Candidate.SalaryType.ToString()
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6">
                                                                @Model.Candidate.ExpectedMinSalary
                                                            </div>
                                                            <div class="col-lg-6 col-md-6">
                                                                @Model.Candidate.ExpectedMaxSalary
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6" style="border-right:2px solid #ff6a00;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Read
                                                @*<div class="switch-area-inner switch-area-inner-cus">
                                                        @(Model.Candidate.CanRead ? "Yes" : "No")
                                                    </div>*@
                                            </div>
                                            <div class="filtersection-body">
                                                @*<div class="icon-section">
                                                        <img src="~/assets/images/eyeglass1.png" alt="">
                                                    </div>*@
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        @(Model.Candidate.CanRead ? "Yes" : "No")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Write
                                                @*<div class="switch-area-inner switch-area-inner-cus">
                                                        @(Model.Candidate.CanWrite ? "Yes" : "No")
                                                    </div>*@
                                            </div>
                                            <div class="filtersection-body">
                                                @*<div class="icon-section">
                                                        <img src="~/assets/images/write1.png" alt="">
                                                    </div>*@
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        @(Model.Candidate.CanWrite ? "Yes" : "No")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Sleep on Site
                                                @*<div class="switch-area-inner switch-area-inner-cus">
                                                        @(Model.Candidate.SleepOnSite ? "Yes" : "No")
                                                    </div>*@
                                            </div>
                                            <div class="filtersection-body">
                                                @*<div class="icon-section">
                                                        <img src="~/assets/images/sleep1.png" alt="">
                                                    </div>*@
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        @(Model.Candidate.SleepOnSite ? "Yes" : "No")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Disponibility

                                            </div>

                                            <div class="filtersection-body">
                                                @Model.Candidate.Disponibility
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-12">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Number of rooms
                                            </div>

                                            <div class="filtersection-body">
                                                Min: @Model.Candidate.ExpectedMinRooms &nbsp;&nbsp;
                                                Max: @Model.Candidate.ExpectedMaxRooms
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="col-sm-12">
            <div class="filtersection-panel">
                <div class="filtersection-header">
                    Number of people
                </div>

                <div class="filtersection-body">
                    No.of Adults: @Model.Candidate.MinGroupPeople &nbsp;&nbsp;
                    No.of Childrens: @Model.Candidate.MaxGroupPeople
                </div>
            </div>
        </div>
                                    @*<div class="col-sm-12">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Number of people
                                            </div>

                                            <div class="filtersection-body">
                                                Min:
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        @Model.Candidate.MinGroupPeople

                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        @Model.Candidate.MaxGroupPeople
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Candidate Skills
                                            </div>
                                            <div class="filtersection-body">
                                                @ShowTaskTree(Model.MasterJobTasks.Where(p => p.ParentJobTaskId == null))
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="filtersection-panel">
                                            <div class="filtersection-header">
                                                Additional Description
                                            </div>
                                            <div class="filtersection-body">
                                                @Model.JobRequestDescription
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @if (!string.IsNullOrWhiteSpace(Model.SkillPic1))
                                    {
                                        <div class="col-lg-4">
                                            <div class="additional-desc">
                                                <img src="data:image/jpeg;base64,@Model.SkillPic1" />
                                            </div>
                                        </div>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(Model.SkillPic2))
                                    {
                                        <div class="col-lg-4">
                                            <div class="additional-desc">
                                                <img src="data:image/jpeg;base64,@Model.SkillPic2" />
                                            </div>
                                        </div>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(Model.SkillPic3))
                                    {
                                        <div class="col-md-4">
                                            <div class="additional-desc">
                                                <img src="data:image/jpeg;base64,@Model.SkillPic3" />
                                            </div>
                                        </div>
                                    }
                                </div>
                                @if (role == "Admin")
                                {
                                    <div class="row mt-3">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-style-1 waves mb-0" onclick="validateJobRequest(@Model.JobRequestId)">Validate</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="ratingsandreviews">
                                    <h3 class="ratings-header">
                                        Candidate Reviews & Ratings
                                    </h3>
                                    <div class="ratings-body">
@if (ViewBag.UserFeedbacks != null && ViewBag.UserFeedbacks.Count > 0)
{
                                        foreach (UserFeedback feedback in ViewBag.UserFeedbacks)
                                        {
                                            @*<tr>
                                                <td>@feedback.CreatedDate.ToString("dd-MMM-yyyy")</td>
                                                <td>@(feedback.Sender != null ? feedback.Sender.FirstName : "")</td>
                                                <td>@feedback.JobName</td>
                                                <td>@feedback.Comments</td>
                                                <td>@feedback.Rating</td>
                                            </tr>*@

                                            <div class="ratings-list">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="rates-num">
                                                            @feedback.Rating/5&nbsp;<i class="fa fa-star"></i>
                                                        </div>&nbsp;
                                                        <span class="rate-jobname">@feedback.JobName</span>
                                                        <p>
                                                            @feedback.Comments
                                                        </p>
                                                        <p>
                                                            <span class="user-name">
                                                                <i class="fa fa-user"></i>&nbsp;@(feedback.Sender != null ? feedback.Sender.FirstName : "")
                                                            </span>
                                                            <span class="feedback-date">
                                                                <i class="fa fa-calendar"></i>&nbsp;@feedback.CreatedDate.ToString("dd-MMM-yyyy")
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
}
else {
    <div style="text-align:center;padding:15px;font-size:20px;">No review and ratings for this candidate</div>
}@*<div class="ratings-list">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="rates-num">
                                                        5/3&nbsp;<i class="fa fa-star"></i>
                                                    </div>&nbsp;
                                                    <span class="rate-jobname">Job Name</span>
                                                    <p>
                                                        Excellent product (Feedback)
                                                    </p>
                                                    <p>
                                                        <span class="user-name">
                                                            <i class="fa fa-user"></i>&nbsp;User Name
                                                        </span>
                                                        <span class="feedback-date">
                                                            <i class="fa fa-calendar"></i>&nbsp;12/12/2018
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ratings-list">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="rates-num">
                                                        5/3&nbsp;<i class="fa fa-star"></i>
                                                    </div>&nbsp;
                                                    <span class="rate-jobname">Job Name</span>
                                                    <p>
                                                        Excellent product (Feedback)
                                                    </p>
                                                    <p>
                                                        <span class="user-name">
                                                            <i class="fa fa-user"></i>&nbsp;User Name
                                                        </span>
                                                        <span class="feedback-date">
                                                            <i class="fa fa-calendar"></i>&nbsp;12/12/2018
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <h2>Candidate Reviews & Ratings</h2>
            @if (ViewBag.UserFeedbacks != null && ViewBag.UserFeedbacks.Count > 0)
            {
                <table>
                    <tr>
                        <td>Date</td>
                        <td>User Name</td>
                        <td>Job Name</td>
                        <td>Comment</td>
                        <td>Rating</td>
                    </tr>
                    @foreach (UserFeedback feedback in ViewBag.UserFeedbacks)
                    {
                        <tr>
                            <td>@feedback.CreatedDate.ToString("dd-MMM-yyyy")</td>
                            <td>@(feedback.Sender != null ? feedback.Sender.FirstName : "")</td>
                            <td>@feedback.JobName</td>
                            <td>@feedback.Comments</td>
                            <td>@feedback.Rating</td>
                        </tr>
                    }
                </table>
            }
        </div>-->


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Our Trusted Partners</h2>
                    </div><!-- headline -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel logos-slider">
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/6.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/5.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/4.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/3.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/2.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/1.jpg);"></a></div>
                    </div><!-- logos-slider -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>

    <!---- Tab Section end-->



</div>




<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#FilterjobId").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '358px');
                $('.jobsearch-section .right-section').css('right', '0');
                $('.Filterjob').css('display', 'none');
                $('.switch').css('right', '10px');
                $('.filter-overlay').css('display', 'block');

            });
            $("#FilterClose").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '0');
                $('.jobsearch-section .right-section').css('right', '-350px');
                $('.Filterjob').css('display', 'block');
                $('.switch').css('right', '50px');
                $('.filter-overlay').css('display', 'none');
            });
        });

    </script>

    <script>
        //$('#set_favourite_job_req_link').click(function () {



        //    $.ajax
        //        ({
        //            url: 'reservebook.php',
        //            data: { "bookID": book_id },
        //            type: 'post',
        //            success: function (result) {
        //                $('.modal-box').text(result).fadeIn(700, function () {
        //                    setTimeout(function () {
        //                        $('.modal-box').fadeOut();
        //                    }, 2000);
        //                });
        //            }
        //        });
        //});
    </script>
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('searchJobRequestCtrl', function ($scope, $http) {
            $scope.jobRequests = [];
            $scope.message = "Welcome Angular JS";
            $scope.searchParam = {};


            $scope.searchJobRequests = function () {
                $http.get("/api/jobtekapi/SearchJobRequests", {
                    //params: { page: 1, limit: 100, sort: 'name', direction: 'desc' },
                    //headers: { 'Authorization': 'Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==' }
                    params: $scope.searchParam
                })
                    .then(function (response) {
                        console.log(response.data);
                        $scope.jobRequests = response.data;
                    });
            }

            $scope.setFavouriteJobRequest = function (jobRequestId) {

                //alert(jobRequestId);
                $.ajax
                    ({
                        url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                        //data: { "id": jobRequestId },
                        type: 'get',
                        success: function (result) {
                            //$('.modal-box').text(result).fadeIn(700, function () {
                            //    setTimeout(function () {
                            //        $('.modal-box').fadeOut();
                            //    }, 2000);
                            //});

                            alert("Job Request added to your favourite list.");
                        }
                    });

            }

            $scope.searchJobRequests();
        });
    </script>

}

@*<div>
        <h4>JobRequest</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CandidateId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CandidateId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsPublished)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsPublished)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublishedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidTill)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValidTill)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobRequestDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobRequestDescription)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.JobRequestId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
