@model HireMe.Models.JobRequest

<style>
    #footer-container {
        display: none;
    }
</style>

<script type="text/javascript">
    function validateJobRequest(jobRequestId) {
        if (jobRequestId) {
            $.ajax
                ({
                    url: '/Admin/ValidateJobRequest?jobRequestId=' + jobRequestId,
                    //data: { "id": jobRequestId },
                    type: 'get',
                    success: function (result) {
                        alert("Job Request validated successfully.");
                        window.history.back();
                    }
                });
        }
    }
</script>


@functions
{
    private int count = 0;
}

@helper ShowTaskTree(IEnumerable<HireMe.Models.JobTask> jobTasks)
{
for (int i = 0; i < jobTasks.Count(); i++)
{
    count = count + 1;
    var item = jobTasks.ElementAt(i);
    if (Model.JobRequestJobTasks.Any(p => p.JobTaskId == item.JobTaskId))
    {
            <div class="row" style="margin-left: 5px;">
                <div class="col-lg-1 col-md-1">
                    <img src="~/assets/images/home-icon.png" />
                </div>
                <div class="col-lg-11 col-md-11">
                    <div>
                        @(item.JobTaskName)
                    </div>
                    <div>
                        @{
                            var selectedTask = Model.JobRequestJobTasks.FirstOrDefault(p => p.JobTaskId == item.JobTaskId);
                        }
                        @if (!string.IsNullOrWhiteSpace(selectedTask.TaskResponseAdditionalDescription))
                        {
                            <span>@selectedTask.TaskResponseAdditionalDescription</span>
                        }
                    </div>

                </div>
                @if (item.SubTasks.Any())
                {

                    @ShowTaskTree(item.SubTasks)

                }
            </div>
                                }
                            }
}

<script>
    function setFavouriteJobRequest(jobRequestId) {

        //alert(jobRequestId);
        $.ajax
            ({
                url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                //data: { "id": jobRequestId },
                type: 'get',
                success: function (result) {
                    //$('.modal-box').text(result).fadeIn(700, function () {
                    //    setTimeout(function () {
                    //        $('.modal-box').fadeOut();
                    //    }, 2000);
                    //});

                    alert("Job Request added to your favourite list.");
                }
            });

    }

    function setJobRequestSearchParam() {
        var gender = $('input[name="options"]').val();
        var yearsOfExp = $(".yrs_of_exp").val();

        console.log("Gender" + gender);
        console.log("years of exp = " + yearsOfExp);
        //SetJobRequestSearchParam

        //$.ajax
        //    ({
        //        url: '/SearchJobRequests/SetJobRequestSearchParam?Gender=' + gender + "&YearsOfExperience=" + yearsOfExp,
        //        data: { "Gender": gender, "YearsOfExperience": yearsOfExp },
        //        contentType: "json",
        //        type: 'get',
        //        success: function (result) {
        //            //$('.modal-box').text(result).fadeIn(700, function () {
        //            //    setTimeout(function () {
        //            //        $('.modal-box').fadeOut();
        //            //    }, 2000);
        //            //});

        //            alert("Job Request added to your favourite list.");
        //        }
        //    });

        // window.location.href = "SearchJobRequests?gender=" + gender + "&yearsOfExperience=" + yearsOfExp;
    }
</script>


<div id="main-container-user" style="margin-left: 280px;" ng-app="myApp" ng-controller="searchJobRequestCtrl">

    <header id="header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">

                    <!-- LOGO -->
                    <div id="logo">
                        <a href="index.html">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div><!-- LOGO -->

                </div><!-- col -->
                <div class="col-sm-10">

                    <!-- MENU -->
                    <nav>

                        <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>

                        <ul class="menu clearfix" id="menu">
                            @*
                                <li class="active"><a href="index.html">HOME</a></li>*@
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                            }

                            @*
                                <li><a href="#">ADMIN</a></li>
                                <li><a href="#">LOGIN</a></li>*@
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="dropdown">
                                <a href="#">AIDE</a>
                                <ul>
                                    <li>
                                        <a class="waves" href="about-us.html">REPORT A BUG</a>
                                    </li>
                                    <li>
                                        <a class="waves" href="services.html">SHARE YOUR OPINION</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="waves" href="#">Post a Job</a>
                            </li>
                            @Html.Partial("_LoginPartial")
                            <li class="secondary-menu-btn">
                                <a href="#" onclick="openNav()"><i class="bizhub-icon-menu-bars"></i></a>
                            </li>
                        </ul>

                    </nav>

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container-fluid -->

    </header>

    <div id="mySidenav" class="sidenav" style="width: 280px;">

        @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                                                                                                            .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                                                                                                            .Select(c => c.Value);
            string role = roles.FirstOrDefault();}


        <div class="sidenav-header">User Account - @role</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a href="~/Users"><i class="fa fa-home"></i>Dashboard</a>

        @if (role == "Candidate")
        {

            <a href="~/JobCategories"><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/JobRequests"><i class="fa fa-search"></i> Job Requests</a>

            <a href="~/FavouriteJobOffers"><i class="fa fa-heart"></i> Manage my favorites</a>
        }
        else if (role == "Employer")
        {
            <a href="~/SearchJobRequests" class="active"><i class="fa fa-search"></i> Search Employee</a>

            <a href="~/JobOffers"><i class="fa fa-graduation-cap"></i> My Job Offers</a>

            <a href="~/FavouriteJobRequests"><i class="fa fa-heart"></i> Manage my favorites</a>

            <a href="#"><i class="fa fa-envelope"></i> Messages & Notifications</a>

            <a href="~/Manage"><i class="fa fa-cog"></i> Manage my settings</a>
        }
        else if (role == "Agency")
        {

            <a href="~/JobCategories"><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/Agency/RegisterCandidate"><i class="fa fa-search"></i> Create a Job Request</a>

            <a href="~/Agency/GetJobRequests"><i class="fa fa-search"></i> My Job Requests</a>

            <a href="#"><i class="fa fa-heart"></i> Manage my favorites</a>
        }
    </div>



    <!---- Tab Section -->

    <div class="full-section-container wow fadeInUp">
        <div class="tab-section">
            <div class="tab-section-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs style-2">
                            <div class="tab-header">
                                @(Model.Job.JobName + "(" + Model.Candidate.Age + " yrs)")
                            </div>
                            <div class="tab-content search-criteria" style="margin-top:0;">

                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <div class="profile-pic">
                                            <img src="data:image/jpeg;base64,@Model.Candidate.ProfilePicUrl" />
                                        </div>
                                        @*<button type="submit" class="btn btn-style-1 btn-lg waves"><i class="fa fa-check"></i>&nbsp;Validate</button>*@
                                    </div>
                                    <div class="col-md-8">
                                        @*<div class="row">
                                                <div class="col-md-4">Email:</div>
                                                <div class="col-md-8">agency@gmail.com</div>
                                            </div>*@
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td>@Model.Candidate.EmailId</td>
                                                </tr>
                                                <tr>
                                                    <td>Phone:</td>
                                                    <td>@Model.Candidate.ContactNo</td>
                                                </tr>
                                                <tr>
                                                    <td>Rating:</td>
                                                    <td><a href="javascropt(0);"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Description:</td>
                                                    <td>@Model.JobRequestDescription</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="border-right:2px solid #ff6a00;">

                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Gender

                                                    </div>

                                                    <div class="filtersection-body">
                                                        @Model.Candidate.Gender.ToString()
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Type of Staff

                                                    </div>

                                                    <div class="filtersection-body">
                                                        @Model.Candidate.StaffType.ToString()
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Age

                                                    </div>

                                                    <div class="filtersection-body">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12">
                                                                @(Model.Candidate.Age + " yrs")

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Years of Experience

                                                    </div>

                                                    <div class="filtersection-body">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12">
                                                                @Model.Candidate.ExperienceInYears
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Localizations

                                                    </div>

                                                    <div class="filtersection-body">

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6">
                                                                @(Model.Candidate.Country + ", " + Model.Candidate.City)

                                                            </div>
                                                            <div class="col-lg-6 col-md-6">
                                                                @Model.Candidate.District
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Salary Between

                                                    </div>

                                                    <div class="filtersection-body">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                @Model.Candidate.SalaryType.ToString()
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6">
                                                                        @Model.Candidate.ExpectedMinSalary
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6">
                                                                        @Model.Candidate.ExpectedMaxSalary
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6" style="border-right:2px solid #ff6a00;">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Read
                                                        @*<div class="switch-area-inner switch-area-inner-cus">
                                                                @(Model.Candidate.CanRead ? "Yes" : "No")
                                                            </div>*@
                                                    </div>
                                                    <div class="filtersection-body">
                                                        @*<div class="icon-section">
                                                                <img src="~/assets/images/eyeglass1.png" alt="">
                                                            </div>*@
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12">
                                                                @(Model.Candidate.CanRead ? "Yes" : "No")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Write
                                                        @*<div class="switch-area-inner switch-area-inner-cus">
                                                                @(Model.Candidate.CanWrite ? "Yes" : "No")
                                                            </div>*@
                                                    </div>
                                                    <div class="filtersection-body">
                                                        @*<div class="icon-section">
                                                                <img src="~/assets/images/write1.png" alt="">
                                                            </div>*@
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12">
                                                                @(Model.Candidate.CanWrite ? "Yes" : "No")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Sleep on Site
                                                        @*<div class="switch-area-inner switch-area-inner-cus">
                                                                @(Model.Candidate.SleepOnSite ? "Yes" : "No")
                                                            </div>*@
                                                    </div>
                                                    <div class="filtersection-body">
                                                        @*<div class="icon-section">
                                                                <img src="~/assets/images/sleep1.png" alt="">
                                                            </div>*@
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12">
                                                                @(Model.Candidate.SleepOnSite ? "Yes" : "No")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Disponibility

                                                    </div>

                                                    <div class="filtersection-body">
                                                        @Model.Candidate.Disponibility
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Number of rooms

                                                    </div>

                                                    <div class="filtersection-body">

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6">
                                                                @Model.Candidate.ExpectedMinRooms

                                                            </div>
                                                            <div class="col-lg-6 col-md-6">
                                                                @Model.Candidate.ExpectedMaxRooms
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Number of people

                                                    </div>

                                                    <div class="filtersection-body">

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6">
                                                                @Model.Candidate.MinGroupPeople

                                                            </div>
                                                            <div class="col-lg-6 col-md-6">
                                                                @Model.Candidate.MaxGroupPeople
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">


                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Candidate Skills
                                                    </div>
                                                    <div class="filtersection-body">
                                                        @ShowTaskTree(Model.MasterJobTasks.Where(p => p.ParentJobTaskId == null))
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Additional Description
                                                    </div>
                                                    <div class="filtersection-body">
                                                        @Model.JobRequestDescription
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @if (role == "Admin")
                                        {
                                            <div class="row"><button class="btn btn-default" onclick="validateJobRequest(@Model.JobRequestId)">Validate</button></div>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Our Trusted Partners</h2>
                    </div><!-- headline -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel logos-slider">
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/6.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/5.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/4.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/3.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/2.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/1.jpg);"></a></div>
                    </div><!-- logos-slider -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>

    <!---- Tab Section end-->



</div>




<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#FilterjobId").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '358px');
                $('.jobsearch-section .right-section').css('right', '0');
                $('.Filterjob').css('display', 'none');
                $('.switch').css('right', '10px');
                $('.filter-overlay').css('display', 'block');

            });
            $("#FilterClose").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '0');
                $('.jobsearch-section .right-section').css('right', '-350px');
                $('.Filterjob').css('display', 'block');
                $('.switch').css('right', '50px');
                $('.filter-overlay').css('display', 'none');
            });
        });

    </script>

    <script>
        //$('#set_favourite_job_req_link').click(function () {



        //    $.ajax
        //        ({
        //            url: 'reservebook.php',
        //            data: { "bookID": book_id },
        //            type: 'post',
        //            success: function (result) {
        //                $('.modal-box').text(result).fadeIn(700, function () {
        //                    setTimeout(function () {
        //                        $('.modal-box').fadeOut();
        //                    }, 2000);
        //                });
        //            }
        //        });
        //});
    </script>
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('searchJobRequestCtrl', function ($scope, $http) {
            $scope.jobRequests = [];
            $scope.message = "Welcome Angular JS";
            $scope.searchParam = {};


            $scope.searchJobRequests = function () {
                $http.get("/api/jobtekapi/SearchJobRequests", {
                    //params: { page: 1, limit: 100, sort: 'name', direction: 'desc' },
                    //headers: { 'Authorization': 'Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==' }
                    params: $scope.searchParam
                })
                    .then(function (response) {
                        console.log(response.data);
                        $scope.jobRequests = response.data;
                    });
            }

            $scope.setFavouriteJobRequest = function (jobRequestId) {

                //alert(jobRequestId);
                $.ajax
                    ({
                        url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                        //data: { "id": jobRequestId },
                        type: 'get',
                        success: function (result) {
                            //$('.modal-box').text(result).fadeIn(700, function () {
                            //    setTimeout(function () {
                            //        $('.modal-box').fadeOut();
                            //    }, 2000);
                            //});

                            alert("Job Request added to your favourite list.");
                        }
                    });

            }

            $scope.searchJobRequests();
        });
    </script>

}

