@model IEnumerable<HireMe.Models.Candidate>

<style>
    #footer-container {
        display: none;
    }
</style>



<script type="text/javascript">
    function activateCandidateAccount(candidateId) {

        //alert(jobRequestId);
        $.ajax
            ({
                url: '/Agency/ActivateCandidate?id=' + candidateId,
                //data: { "id": jobRequestId },
                type: 'get',
                success: function (result) {
                    //$('.modal-box').text(result).fadeIn(700, function () {
                    //    setTimeout(function () {
                    //        $('.modal-box').fadeOut();
                    //    }, 2000);
                    //});

                    alert("Candidate Profile verified successfully.");
                    window.location.reload();
                }
            });

    }
</script>

<div id="main-container-user">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                .Select(c => c.Value);
        string role = roles.FirstOrDefault();}

    <section class="right-side">
        <!---- Tab Section -->

        <div class="full-section-container wow fadeInUp">
            <div class="tab-section">
                <div class="tab-section-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline text-center mb-1">
                                <h2>Verify Candidate Profiles</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="tabs style-2">

                                @*<ul class="nav nav-tabs job-tab">
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                        var item = Model.ElementAt(i);
                                        <li><a class="@(i == 0 ? " active"
                                               "" )" href="@(" #tab-1-" + i)" data-toggle="tab"><img src="@item.IconImage" />@item.CategoryName</a></li>
                                        }
                                    </ul>*@
                                <ul class="nav nav-tabs job-tab">
                                    <li><a class="active" href="#tab-agency-candidate-1" data-toggle="tab"><img src="~/assets/images/home-icon.png" />Home Jobs</a></li>
                                    <li><a href="#tab-agency-candidate-2" data-toggle="tab"><img src="~/assets/images/settings-icon.png" />Troubleshooting</a></li>
                                    <li><a href="#tab-agency-candidate-3" data-toggle="tab"><img src="~/assets/images/salon-icon.png" />Hairstyle/ Care</a></li>
                                    <li><a href="#tab-agency-candidate-4" data-toggle="tab"><img src="~/assets/images/ceremony-icon.png" />Organization Ceremony</a></li>
                                    <li><a href="#tab-agency-candidate-5" data-toggle="tab"><img src="~/assets/images/course-icon.png" />Course</a></li>
                                    
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-agency-candidate-1">
                                        <div class="row">

                                            @foreach (var item in Model)
                                            {
                                                <div class="col-sm-6">
                                                    <div class="profileitems searchprofile-section">
                                                        @if (item.ProfileVerified)
                                                        {
                                                            <span class="validate">
                                                                <img src="~/assets/images/verified.png" />
                                                            </span>
                                                        }
                                                        <div class="left">
                                                            <img src="data:image/jpeg;base64,@item.ProfilePicUrl" />

                                                            <h2 class="contact-num"><i class="fa fa-phone"></i> <span>@item.ContactNo</span></h2>

                                                            @if (!item.ProfileVerified)
                                                            {
                                                                <button class="btn btn-default btn-xs btn-block" type="button" onclick="activateCandidateAccount(@item.CandidateId)"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Verify</button>
                                                            }
                                                        </div>
                                                        <div class="right">
                                                            @*<div class="idcard">
                                                                <a href="data:image/jpeg;base64,@item.IdProofDoc" class="fancybox">
                                                                    <img src="data:image/jpeg;base64,@item.IdProofDoc" />
                                                                </a>
                                                            </div>*@
                                                            <div class="idcard twoidcard d-none d-md-block">
                                                                <a href="data:image/jpeg;base64,@item.IdProofDoc" class="fancybox">
                                                                    <img src="data:image/jpeg;base64,@item.IdProofDoc" />
                                                                </a>
                                                                <a href="data:image/jpeg;base64,@item.IdProofDoc1" class="fancybox">
                                                                    <img src="data:image/jpeg;base64,@item.IdProofDoc1" style="margin-top:5px;" />
                                                                </a>
                                                            </div>
                                                            <div class="right-left">
                                                                <h2 class="name">
                                                                    @if (item.Gender == HireMe.Models.Gender.Male)
                                                                    {<img src="~/assets/images/man-user.png" />  }
                                                                    else
                                                                    {<img src="~/assets/images/woman-user.png" />  }

                                                                    @(item.FirstName + " " + item.LastName)
                                                                </h2>
                                                                <h2 class="email"><i class="fa fa-envelope"></i> @item.ApplicationUser.Email</h2>
                                                                <h3 class="location"><i class="fa fa-birthday-cake"></i> @item.Age Yrs</h3>
                                                                @*<h3><span class="age"><span>(</span>@item.Age Yrs)</span><span class="experience">Exp: @item.ExperienceInYears Yrs</span></h3>*@
                                                                <p class="location">@item.Address</p>
                                                                <p class="location"><span>@item.Country,</span><span> @item.City,</span><span> @item.District</span></p>
                                                                <div class="published">Registered on: <span>@item.CreatedDate</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="row d-md-none d-lg-none d-sm-block" style="margin-top: 30px;">
                                                            <div class="col col-id-card" style="margin-left: 10px;margin-right:5px;">
                                                                <a href="data:image/jpeg;base64,@item.IdProofDoc" class="fancybox">
                                                                    <img src="data:image/jpeg;base64,@item.IdProofDoc" />
                                                                </a>
                                                            </div>
                                                            <div class="col col-id-card" style="margin-left: 5px;margin-right:10px;">
                                                                <a href="data:image/jpeg;base64,@item.IdProofDoc1" class="fancybox">
                                                                    <img src="data:image/jpeg;base64,@item.IdProofDoc1" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                            }

                                        </div>
                                        @*<div style=" text-align center;">

                                                <button class="btn btn-style-1 btn-lg waves" id="submit" name="submit" value=""><a style="color: #ffffff;" href="~/JobCategories"><i class="fa fa-plus"></i> Create a Job Request</a></button>

                                            </div>*@

                                    </div>
                                    <div class="tab-pane fade show" id="tab-agency-candidate-2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="isotope cols-3 gutter">
                                                    <div class="row">


                                                    </div>
                                                    @*<div style=" text-align center;">

                                                            <button class="btn btn-style-1 btn-lg waves" id="submit" name="submit" value=""><a style="color: #ffffff;" href="~/JobCategories"><i class="fa fa-plus"></i> Create a Job Request</a></button>

                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show" id="tab-agency-candidate-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="isotope cols-3 gutter">
                                                    <div class="row">


                                                    </div>
                                                    @*<div style=" text-align center;">

                                                            <button class="btn btn-style-1 btn-lg waves" id="submit" name="submit" value=""><a style="color: #ffffff;" href="~/JobCategories"><i class="fa fa-plus"></i> Create a Job Request</a></button>

                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show" id="tab-agency-candidate-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="isotope cols-3 gutter">
                                                    <div class="row">


                                                    </div>
                                                    @*<div style=" text-align center;">

                                                            <button class="btn btn-style-1 btn-lg waves" id="submit" name="submit" value=""><a style="color: #ffffff;" href="~/JobCategories"><i class="fa fa-plus"></i> Create a Job Request</a></button>

                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show" id="tab-agency-candidate-5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="isotope cols-3 gutter">
                                                    <div class="row">

                                                    </div>
                                                    @*<div style=" text-align center;">

                                                            <button class="btn btn-style-1 btn-lg waves" id="submit" name="submit" value=""><a style="color: #ffffff;" href="~/JobCategories"><i class="fa fa-plus"></i> Create a Job Request</a></button>

                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div><!-- tab-content -->
                            </div><!-- tabs -->
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <!---- Tab Section end-->
        @*@if (Model != null)
            {
            foreach (var item in Model)
            {
            <div class="col-md-4 col-sm-6">
                <div class="profileitems">
                    <div class="left">
                        <img src="@Url.Content(item.ApplicationUser.ProfilePicUrl)" />
                        <div class="rating">

                        </div>
                        <div class="favorite">

                        </div>
                    </div>s
                    <div class="right">
                        <h1>@(item.FirstName)<span></span></h1>


                        <h2 class="name">Contact No: @item.ApplicationUser.PhoneNumber </h2>
                        <h2 class="name">Email : @item.ApplicationUser.Email</h2>

                        <div class="published">Published: <span>@item.CreatedDate</span></div>
                    </div>
                    <div class="profile-footer">

                        <div class="row">
                            @if (!item.ProfileVerified)
                            {
                            <button class="btn-default" type="button" onclick="activateCandidateAccount(@item.CandidateId)">Verify</button>
                            }
                            else
                            {
                            <p>Verified</p>
                            }
                        </div>
                    </div>

                </div>

            </div>
            }
            }
            else
            {
            <div class="row"><h2>No Employer registered yet.</h2></div>
            }*@
    </section>
</div>
