@model IEnumerable<HireMe.Models.Candidate>

@{
    ViewBag.Title = "GetAgencyCandidates";
}




@{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                                                .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                                                .Select(c => c.Value);
    string role = roles.FirstOrDefault();}



<div id="main-container">

    <div class="container">
        
        <!---- Tab Section -->
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>


                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Age)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExperienceInYears)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExperienceInMonths)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdProofDoc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdProofDocDesc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProfileVerified)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StaffType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disponibility)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CountryId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CityId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DistrictId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SalaryType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SalaryTypeOtherDesc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CanRead)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CanWrite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpectedMinSalary)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpectedMaxSalary)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SleepOnSite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpectedMinRooms)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpectedMaxRooms)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MinGroupPeople)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaxGroupPeople)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UpdatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmailId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AdditionalDescription)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExperienceInYears)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExperienceInMonths)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdProofDoc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdProofDocDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProfileVerified)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StaffType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Disponibility)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CountryId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CityId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DistrictId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SalaryType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SalaryTypeOtherDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CanRead)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CanWrite)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpectedMinSalary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpectedMaxSalary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SleepOnSite)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpectedMinRooms)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpectedMaxRooms)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MinGroupPeople)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaxGroupPeople)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdditionalDescription)
                                </td>
                                <td>

                                    @Html.ActionLink("Details", "Details", new { id = item.CandidateId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CandidateId })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
        <!---- Tab Section end-->

    </div>

</div>

<script>
     function openNav() {
         document.getElementById("mySidenav").style.width = "280px";
         document.getElementById("main-container-user").style.marginLeft = "280px";
     }

     function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
         document.getElementById("main-container-user").style.marginLeft = "0";
     }
</script>