@model HireMe.Models.RegisterCandidateViewModel
@{
    ViewBag.Title = "RegisterCandidate";
}



@using System.Linq
@using HireMe.Models
<style>
    #footer-container {
        display: none;
    }
</style>

<div id="main-container">


    <div class="container">
        @if (ViewBag.AgencyProfileVerfied)
        {



            using (Html.BeginForm("RegisterCandidate", "Agency", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()

                <div class="form-box">
                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="home">
                                <a href="/" class="">
                                    <i class="fa fa-home"></i>&nbsp;Home
                                </a>
                            </div>*@
                            <div class="headline text-center">
                               <br />
                                <h2>Register Candidate</h2>
                            </div><!-- headline -->
                        </div>
                    </div><!-- row -->


                    <div class="row">
                        <div class="col-md-12 formreg">
                            <div class="tabs style-2">
                                <div class="tab-content regd-form" style="margin-top:0;">
                                    <div class="tab-pane fade show active" id="tab-1-1">
                                        <div class="form-section">
                                            <h6 class="text-uppercase">Personal Details</h6>

                                            <fieldset>

                                                <div id="alert-area"></div>
                                                <div class="input-group">
                                                    <div class="mr-3">
                                                        <label class="label">Gender</label>
                                                    </div>
                                                    <div class="radio mr-3">
                                                        <label>
                                                            @Html.RadioButtonFor(p => p.Gender, Gender.Male, new { @value = Gender.Male })
                                                            Man
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            @Html.RadioButtonFor(p => p.Gender, Gender.Female, new { @value = Gender.Female })
                                                            Woman
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 error-arrow">
                                                            @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "" })
                                                        </div>
                                                    </div>
                                                    @*<div class="row">
                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger", @placeholder = "Gender" })
            </div>*@
                                                    @*<span class="input-lable">Gender</span>*@

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "" })
                                                    </div>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "" })
                                                    <span class="input-lable">First Name</span>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "" })
                                                    <span class="input-lable">Last Name</span>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/calendar.png" alt=""></span>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @placeholder = "", @type = "date" })
                                                    <span class="input-lable">Date of birth</span>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger", @placeholder = "Date of birth" })
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </div>
                                        <div class="form-section">
                                            <h6 class="text-uppercase">Address Details</h6>
                                            <fieldset>
                                                <div id="alert-area"></div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                    </div>
                                                    @*@if (ViewBag.Country != null)
                                                    {
                                                        @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.Country, "CountryId", "CountryName"), htmlAttributes: new { @class = "form-control", id = "Country" })

                                                    }*@
                                                    @Html.DropDownList("CountryId", ViewData["Country"] as List<SelectListItem>, "--Select Country--", new { @class = "form-control" })
                                                    <span class="input-lable">Country</span>
                                                </div>


                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                    </div>
                                                    @Html.DropDownList("CityId", new SelectList("", "Value", "Text"), "--Select City --", new { @class = "form-control" })
                                                    @*@Html.DropDownListFor(m => m.CityId, new List<SelectListItem>
                                                                    {
                                                       new SelectListItem{ Text="Choose City", Value = "" },
                                                                        new SelectListItem{ Text="Abidjan (Capitale Eco)", Value = "1" },
                                                                        new SelectListItem{ Text="Yamoussoukro (Capitale Pol)", Value = "2" },
                                                                        new SelectListItem{ Text="Abengourou", Value = "3" },
                                                                        new SelectListItem{ Text="Anyama", Value = "4" },
                                                                        new SelectListItem{ Text="Agnibilékrou", Value = "5" },
                                                                     }, htmlAttributes: new { @class = "form-control", id = "City" })*@
                                                    @*@Html.DropDownListFor(m => m.CityId, new SelectList(ViewBag.City, "CityId", "CityName"), htmlAttributes: new { @class = "form-control", id = "City" })*@
                                                    <span class="input-lable">City</span>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.CityId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                    </div>
                                                    @Html.DropDownList("DistrictId", new SelectList("", "Value", "Text"), "--Select District--", new { @class = "form-control" })
                                                    @*<select id="District" name="DistrictId" class="form-control"></select>*@
                                                    @*@Html.DropDownListFor(m => m.DistrictId, new SelectList(ViewBag.District, "DistrictId", "DistrictName"), htmlAttributes: new { @class = "form-control", id = "District" })*@
                                                    <span class="input-lable">District</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.DistrictId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                    </div>
                                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "", @rows = 3, @height = "100%" })
                                                    <span class="input-lable">Address</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="form-section">
                                            <h6 class="text-uppercase">Email & Contact</h6>
                                            <fieldset>
                                                <div id="alert-area"></div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/email.png" alt=""></span>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "" })
                                                    <span class="input-lable">Email</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/phone.png" alt=""></span>
                                                        @*<span class="input-group-text">
                                                            @Html.DropDownListFor(m => m.CountryCode, new List
                                                            <SelectListItem>
                                                                {
                                                                    new SelectListItem{ Text="(+235)", Value = "+235" },
                                                                    }, htmlAttributes: new { @class = "form-control", @style = "margin:0;", id = "country_code" })
                                                            </span>*@
                                                    </div>
                                                    <div style="width:100px;">
                                                        @Html.DropDownListFor(m => m.CountryCode, new List
                                                <SelectListItem>
                                                {
                                                new SelectListItem{ Text="(+225)", Value = "+225" },
                                                }, htmlAttributes: new { @class = "", @style = "margin:0;", id = "country_code" })
                                                    </div>
                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "" })
                                                    <span class="input-lable">Contact number</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 error-arrow">
                                                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </div>
                                    </div><!-- tab-pane -->
                                    <div class="tab-pane fade show active" id="tab-1-2">
                                        <div class="form-section">
                                            <h6 class="text-uppercase">Document to Upload</h6>

                                            <fieldset>

                                                <div id="alert-area"></div>

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                    </div>
                                                    <input type="file" class="form-control" placeholder="Profile Picture" id="profile_pic" name="profile_pic">
                                                    <span class="input-lable">Profile Picture</span>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/id.png" alt=""></span>
                                                    </div>
                                                    <input type="file" class="form-control" placeholder="Proof of ID" id="id_proof" name="id_proof">
                                                    <span class="input-lable">Proof of ID</span>
                                                </div>
                                                

                                            </fieldset>
                                        </div>

                                        <button style="float:right;" class="btn btn-style-1 btn-lg waves" id="submit" type="submit" name="submit" value="">Submit</button>
                                    </div><!-- tab-pane -->
                                </div>
                                @*<span style="float:right;"><a href="/Account/ForgotPassword">Forgotten password?</a></span>*@
                                <ul class="nav nav-tabs" style="width: 100%;">
                                    <li style="width: 50%;">
                                        <a style="float:left;" class="active backbtn" href="#tab-1-1" data-toggle="tab">Back</a>
                                    </li>
                                    <li style="width: 50%;">
                                        <a style="float:right;" class="active nextbtn" href="#tab-1-2" data-toggle="tab">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            }

        }
        else
        {
            <div class="row"><h2>Your profile is not verified by Admin...</h2></div>
        }
    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.inputmask.bundle.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {

        var districts = ["", ""]

        $("#CountryId").change(function () {
            $("#CityId").empty();
            $.ajax({
                type: 'GET',
                url: '/Account/GetCities?id=' + $("#CountryId").val(), // we are calling json method
                dataType: 'json',
                success: function (cities) {
                    $("#CityId").append('<option value="">' + ' --Select City--' + '</option>');
                    $.each(cities, function (i, city) {
                        $("#CityId").append('<option value="' + city.Value + '">' + city.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })

        $("#CityId").change(function () {
            $("#DistrictId").empty();
            $.ajax({
                type: 'GET',
                url: '/Account/GetDistricts?id=' + $("#CityId").val(), // we are calling json method

                dataType: 'json',
                success: function (districts) {
                    $("#DistrictId").append('<option value="">' + ' --Select District--' + '</option>');
                    $.each(districts, function (i, district) {
                        $("#DistrictId").append('<option value="' + district.Value + '">' + district.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
<script type="text/javascript">


    //alert(jobRequestId);
    //$(document).ready(function () {
    //    // alert("s")
    //    $(".backbtn").hide();
    //    $("#tab-1-2").hide();
    //    $("#tab-1-1").show();
    //    $(".backbtn").click(function () {
    //        //alert("s")
    //        $(this).hide();
    //        $(".nextbtn").show();
    //        $(".nextbtn").addClass("active");
    //        $("#tab-1-2").hide();
    //        $("#tab-1-1").show();
    //        //$(".backbtn").click();
    //    })
    //    $(".nextbtn").click(function () {
    //        $(this).hide();
    //        $(".backbtn").show();
    //        $(".backbtn").addClass("active");
    //        // $(".nextbtn").click();
    //        $("#tab-1-1").hide();
    //        $("#tab-1-2").show();
    //    })
    //})




    //alert(jobRequestId);
    $(document).ready(function () {
        // alert("s")
        $(".backbtn").hide();
        $("#tab-1-2").hide();
        $("#tab-1-1").show();
        $(".backbtn").click(function () {
            //alert("s")
            $(this).hide();
            $(".nextbtn").show();
            $(".nextbtn").addClass("active");
            $("#tab-1-2").hide();
            $("#tab-1-1").show();
            //$(".backbtn").click();
        })
        $(".nextbtn").click(function () {

            // first check if the form is valid
            //alert();

            //if ($('#Gender').valid()
            //    && $('#FirstName').valid()
            //    && $('#LastName').valid()
            //    && $('#DOB').valid()
            //    && $('#Country').valid()
            //    && $('#City').valid()
            //    && $('#District').valid()
            //    //&& $('input[name="ExperienceInMonths"]').valid()
            //    && $('#Address').valid()
            //    && $('#Email').valid()
            //    && $('#PhoneNumber').valid()) {

            //    $(this).hide();
            //    $(".backbtn").show();
            //    $(".backbtn").addClass("active");
            //    // $(".nextbtn").click();
            //    $("#tab-1-1").hide();
            //    $("#tab-1-2").show();
            //}

            if ($('#Gender').valid()
                && $('#FirstName').valid()
                && $('#LastName').valid()
                && $('#DOB').valid()
                && $('#CountryId').valid()
                && $('#CityId').valid()
                //&& $('#District').valid()
                //&& $('input[name="ExperienceInMonths"]').valid()
                && $('#Address').valid()
                && $('#Email').valid()
                && $('#PhoneNumber').valid()) {

                $(this).hide();
                $(".backbtn").show();
                $(".backbtn").addClass("active");
                // $(".nextbtn").click();
                $("#tab-1-1").hide();
                $("#tab-1-2").show();
            }

            //$("#job-creation-form-container form").valid();

            //$(this).hide();
            //$(".backbtn").show();
            //$(".backbtn").addClass("active");
            //// $(".nextbtn").click();
            //$("#tab-1-1").hide();
            //$("#tab-1-2").show();
        })

        //alert();


    })

    $("#phone").inputmask({ "mask": "(999) 999-9999" });
    $("#PhoneNumber").inputmask({ "mask": "99-99-99-99" });
</script>



