@model HireMe.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<style>
    #footer-container {
        display: none;
    }
</style>

<div id="main-container-user" style="margin-left: 280px;">

    <header id="header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">

                    <!-- LOGO -->
                    <div id="logo">
                        <a href="index.html">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div><!-- LOGO -->

                </div><!-- col -->
                <div class="col-sm-10">

                    <!-- MENU -->
                    <nav>

                        <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>

                        <ul class="menu clearfix" id="menu">
                            @*
                                <li class="active"><a href="index.html">HOME</a></li>*@
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                            }

                            @*
                                <li><a href="#">ADMIN</a></li>
                                <li><a href="#">LOGIN</a></li>*@
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="dropdown">
                                <a href="#">AIDE</a>
                                <ul>
                                    <li>
                                        <a class="waves" href="about-us.html">REPORT A BUG</a>
                                    </li>
                                    <li>
                                        <a class="waves" href="services.html">SHARE YOUR OPINION</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="waves" href="#">Post a Job</a>
                            </li>
                            @Html.Partial("_LoginPartial")
                            <li class="secondary-menu-btn">
                                <a href="#" onclick="openNav()"><i class="bizhub-icon-menu-bars"></i></a>
                            </li>
                        </ul>

                    </nav>

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container-fluid -->

    </header>

    <div id="mySidenav" class="sidenav" style="width: 280px;">

        @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                                                                            .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                                                                            .Select(c => c.Value);
            string role = roles.FirstOrDefault();}


        <div class="sidenav-header">User Account - @role</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a href="~/Users"><i class="fa fa-home"></i>Dashboard</a>

        @if (role == "Candidate")
        {


            <a href="~/SearchJobOffers/CheckCandidateProfileExists"><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/JobRequests"><i class="fa fa-graduation-cap"></i> Job Requests</a>

            <a href="~/FavouriteJobOffers"><i class="fa fa-heart"></i> Manage my favorites</a>

            <a href="~/Notification"><i class="fa fa-envelope"></i> Messages & Notifications</a>

            <a href="~/Manage" class="active"><i class="fa fa-cog"></i> Manage my settings</a>
        }
        else if (role == "Employer")
        {
            <a href="~/SearchJobRequests"><i class="fa fa-search"></i> Search Employee</a>

            <a href="~/JobOffers"><i class="fa fa-graduation-cap"></i> My Job Offers</a>

            <a href="~/FavouriteJobRequests"><i class="fa fa-heart"></i> Manage my favorites</a>

            <a href="~/Notification"><i class="fa fa-envelope"></i> Messages & Notifications</a>

            <a href="~/Manage" class="active"><i class="fa fa-cog"></i> Manage my settings</a>
        }
        else if (role == "Agency")
        {

            <a href="~/JobCategories"><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/Agency/RegisterCandidate"><i class="fa fa-search"></i> Create a Job Request</a>

            <a href="~/Agency/GetJobRequests"><i class="fa fa-search"></i> My Job Requests</a>

            <a href="#"><i class="fa fa-heart"></i> Manage my favorites</a>
        }
    </div>




    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="full-section-container wow fadeInUp">
            <div class="tab-section">
                <div class="tab-section-body">
                    <div class="row">
                        <div class="col-md-12 regd-form">
                            <div class="headline text-center wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                <h2><i class="bizhub-icon-lock-1"></i>&nbsp;Change My Password</h2>
                            </div>
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="changepassword-box round form-section">
                                <div id="alert-area"></div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="~/assets/images/password.png" alt=""></span>
                                    </div>
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "" })
                                    <span class="input-lable">Old Password</span>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="~/assets/images/password.png" alt=""></span>
                                    </div>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "" })
                                    <span class="input-lable">New Password</span>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="~/assets/images/password.png" alt=""></span>
                                    </div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "" })
                                    <span class="input-lable">Confirm Password</span>
                                </div>
                                <button type="submit" class="btn btn-style-1 btn-lg waves mt-3 mb-0"><i class="fa fa-check"></i>&nbsp;Change Password</button>
                            </div>


                           
                                @*<div class="form-group">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>*@
                                @*<div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Change password" class="btn btn-default" />
                                    </div>
                                </div>*@

                            </div>
                    </div>
                </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="headline text-center">
                                    <h2>Our Trusted Partners</h2>
                                </div><!-- headline -->
                            </div><!-- col -->
                        </div><!-- row -->
                    </div><!-- container -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="owl-carousel logos-slider">
                                    <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/6.jpg);"></a></div>
                                    <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/5.jpg);"></a></div>
                                    <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/4.jpg);"></a></div>
                                    <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/3.jpg);"></a></div>
                                    <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/2.jpg);"></a></div>
                                    <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/1.jpg);"></a></div>
                                </div><!-- logos-slider -->
                            </div><!-- col -->
                        </div><!-- row -->
                    </div><!-- container -->
                </div>

    <!---- Tab Section end-->


    }

</div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
