@model HireMe.Models.UpdateProfileViewModel


<style>
    #footer-container {
        display: none;
    }
</style>

<script>
    function setFavouriteJobRequest(jobRequestId) {

        //alert(jobRequestId);
        $.ajax
            ({
                url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                //data: { "id": jobRequestId },
                type: 'get',
                success: function (result) {
                    //$('.modal-box').text(result).fadeIn(700, function () {
                    //    setTimeout(function () {
                    //        $('.modal-box').fadeOut();
                    //    }, 2000);
                    //});

                    alert("Job Request added to your favourite list.");
                }
            });

    }

    function setJobRequestSearchParam() {
        var gender = $('input[name="options"]').val();
        var yearsOfExp = $(".yrs_of_exp").val();

        console.log("Gender" + gender);
        console.log("years of exp = " + yearsOfExp);
        //SetJobRequestSearchParam

        //$.ajax
        //    ({
        //        url: '/SearchJobRequests/SetJobRequestSearchParam?Gender=' + gender + "&YearsOfExperience=" + yearsOfExp,
        //        data: { "Gender": gender, "YearsOfExperience": yearsOfExp },
        //        contentType: "json",
        //        type: 'get',
        //        success: function (result) {
        //            //$('.modal-box').text(result).fadeIn(700, function () {
        //            //    setTimeout(function () {
        //            //        $('.modal-box').fadeOut();
        //            //    }, 2000);
        //            //});

        //            alert("Job Request added to your favourite list.");
        //        }
        //    });

        // window.location.href = "SearchJobRequests?gender=" + gender + "&yearsOfExperience=" + yearsOfExp;
    }
</script>


<div id="main-container-user" style="margin-left: 280px;" ng-app="myApp" ng-controller="searchJobRequestCtrl">

    <header id="header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">

                    <!-- LOGO -->
                    <div id="logo">
                        <a href="index.html">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div><!-- LOGO -->

                </div><!-- col -->
                <div class="col-sm-10">

                    <!-- MENU -->
                    <nav>

                        <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>

                        <ul class="menu clearfix" id="menu">
                            @*
                                <li class="active"><a href="index.html">HOME</a></li>*@
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                            }

                            @*
                                <li><a href="#">ADMIN</a></li>
                                <li><a href="#">LOGIN</a></li>*@
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="dropdown">
                                <a href="#">AIDE</a>
                                <ul>
                                    <li>
                                        <a class="waves" href="about-us.html">REPORT A BUG</a>
                                    </li>
                                    <li>
                                        <a class="waves" href="services.html">SHARE YOUR OPINION</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="waves" href="#">Post a Job</a>
                            </li>
                            @Html.Partial("_LoginPartial")
                            <li class="secondary-menu-btn">
                                <a href="#" onclick="openNav()"><i class="bizhub-icon-menu-bars"></i></a>
                            </li>
                        </ul>

                    </nav>

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container-fluid -->

    </header>

    <div id="mySidenav" class="sidenav" style="width: 280px;">

        @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                                                                        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                                                                        .Select(c => c.Value);
            string role = roles.FirstOrDefault();}


        <div class="sidenav-header">User Account - @role</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a href="~/Users"><i class="fa fa-home"></i>Dashboard</a>

        @if (role == "Candidate")
        {

            <a href="~/JobCategories"><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/JobRequests"><i class="fa fa-search"></i> Job Requests</a>

            <a href="~/FavouriteJobOffers"><i class="fa fa-heart"></i> Manage my favorites</a>
        }
        else if (role == "Employer")
        {
            <a href="~/SearchJobRequests"><i class="fa fa-search"></i> Search Employee</a>

            <a href="~/JobOffers"><i class="fa fa-graduation-cap"></i> My Job Offers</a>

            <a href="~/FavouriteJobRequests"><i class="fa fa-heart"></i> Manage my favorites</a>

            <a href="~/Notification"><i class="fa fa-envelope"></i> Messages & Notifications</a>

            <a href="~/Manage" class="active"><i class="fa fa-cog"></i> Manage my settings</a>
        }
        else if (role == "Agency")
        {

            <a href="~/JobCategories"><i class="fa fa-search"></i> Search Employer</a>

            <a href="~/Agency/RegisterCandidate"><i class="fa fa-search"></i> Create a Job Request</a>

            <a href="~/Agency/GetJobRequests"><i class="fa fa-search"></i> My Job Requests</a>

            <a href="#"><i class="fa fa-heart"></i> Manage my favorites</a>
        }
    </div>


@using (Html.BeginForm("UpdateProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <!---- Tab Section -->

    <div class="full-section-container wow fadeInUp">
        <div class="tab-section">
            <div class="tab-section-body">
                <div class="row">
                    <div class="col-md-12 regd-form">
                        <div class="headline text-center wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                            <h2><i class="fa fa-cogs"></i>&nbsp;Manage my Profile</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-4 text-center">
                                <div class="profile-pic">
                                    <img src="data:image/jpeg;base64,@ViewBag.ProfilePicUrl">
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Email:</td>
                                            <td>@Model.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td>@Model.PhoneNumber</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @*<h5>Advance Profiles</h5>*@
                            </div>

                            <div class="col-md-6">
                                <div class="form-section">
                                    <fieldset>
                                        <div id="alert-area"></div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">First Name</span>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">Last Name</span>
                                        </div>

                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                            </div>
                                            @Html.DropDownListFor(m => m.CityId, new List<SelectListItem>
                                                                    {
                                                       new SelectListItem{ Text="Choose City", Value = "" },
                                                                        new SelectListItem{ Text="Abidjan (Capitale Eco)", Value = "1" },
                                                                        new SelectListItem{ Text="Yamoussoukro (Capitale Pol)", Value = "2" },
                                                                        new SelectListItem{ Text="Abengourou", Value = "3" },
                                                                        new SelectListItem{ Text="Anyama", Value = "4" },
                                                                        new SelectListItem{ Text="Agnibilékrou", Value = "5" },
                                                                     }, htmlAttributes: new { @class = "form-control", id = "City" })
                                            @*@Html.DropDownListFor(m => m.CityId, new SelectList(ViewBag.City, "CityId", "CityName"), htmlAttributes: new { @class = "form-control", id = "City" })*@
                                            <span class="input-lable">City</span>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                            </div>
                                            <select id="District" name="DistrictId" class="form-control"></select>
                                            @*@Html.DropDownListFor(m => m.DistrictId, new SelectList(ViewBag.District, "DistrictId", "DistrictName"), htmlAttributes: new { @class = "form-control", id = "District" })*@
                                            <span class="input-lable">District</span>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                            </div>


                                            @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.Country, "CountryId", "CountryName"), htmlAttributes: new { @class = "form-control", id = "Country" })
                                            <span class="input-lable">Country</span>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                            </div>
                                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "", @rows = 3, @height = "100%" })
                                            <span class="input-lable">Address</span>
                                        </div>
                                    </fieldset>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-section">

                                    <fieldset>

                                        <div id="alert-area"></div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/email.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">Email</span>
                                        </div>


                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="~/assets/images/phone.png" alt=""></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "" })
                                            <span class="input-lable">Contact number</span>
                                        </div>

                                        <div class="input-group mb-2">
                                            Set your contact option
                                            <div class='switch' style="right:0;top:0;">
                                                <div class='quality'>
                                                    <input checked="@(Model.ContactOption == "Email")" id="contact_option1" name='ContactOption' type='radio' value='Email'>
                                                    <label for="contact_option1">Email</label>
                                                </div><div class='quality'>
                                                    <input checked="@(Model.ContactOption == "Phone")" id="contact_option2" name='ContactOption' type='radio' value='Phone'>
                                                    <label for="contact_option2">Phone Number</label>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>

                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-style-1 btn-lg waves"><i class="fa fa-check"></i>&nbsp;Update Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Our Trusted Partners</h2>
                    </div><!-- headline -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel logos-slider">
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/6.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/5.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/4.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/3.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/2.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/1.jpg);"></a></div>
                    </div><!-- logos-slider -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>

    <!---- Tab Section end-->
}
</div>




<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#FilterjobId").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '358px');
                $('.jobsearch-section .right-section').css('right', '0');
                $('.Filterjob').css('display', 'none');
                $('.switch').css('right', '10px');
                $('.filter-overlay').css('display', 'block');

            });
            $("#FilterClose").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '0');
                $('.jobsearch-section .right-section').css('right', '-350px');
                $('.Filterjob').css('display', 'block');
                $('.switch').css('right', '50px');
                $('.filter-overlay').css('display', 'none');
            });
        });

    </script>

    <script>
        //$('#set_favourite_job_req_link').click(function () {



        //    $.ajax
        //        ({
        //            url: 'reservebook.php',
        //            data: { "bookID": book_id },
        //            type: 'post',
        //            success: function (result) {
        //                $('.modal-box').text(result).fadeIn(700, function () {
        //                    setTimeout(function () {
        //                        $('.modal-box').fadeOut();
        //                    }, 2000);
        //                });
        //            }
        //        });
        //});
    </script>
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('searchJobRequestCtrl', function ($scope, $http) {
            $scope.jobRequests = [];
            $scope.message = "Welcome Angular JS";
            $scope.searchParam = {};


            $scope.searchJobRequests = function () {
                $http.get("/api/jobtekapi/SearchJobRequests", {
                    //params: { page: 1, limit: 100, sort: 'name', direction: 'desc' },
                    //headers: { 'Authorization': 'Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==' }
                    params: $scope.searchParam
                })
                    .then(function (response) {
                        console.log(response.data);
                        $scope.jobRequests = response.data;
                    });
            }

            $scope.setFavouriteJobRequest = function (jobRequestId) {

                //alert(jobRequestId);
                $.ajax
                    ({
                        url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                        //data: { "id": jobRequestId },
                        type: 'get',
                        success: function (result) {
                            //$('.modal-box').text(result).fadeIn(700, function () {
                            //    setTimeout(function () {
                            //        $('.modal-box').fadeOut();
                            //    }, 2000);
                            //});

                            alert("Job Request added to your favourite list.");
                        }
                    });

            }

            $scope.searchJobRequests();
        });
    </script>

}










@*<p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />*@
@*<dl class="dl-horizontal">
    <dt>Password:</dt>
    <dd>
        [
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
        ]
    </dd>
    <dt>External Logins:</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Manage", "ManageLogins") ]
    </dd>*@
@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
*@
@*<dt>Two-Factor Authentication:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>*@
@*@if (Model.TwoFactor)
    {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Enabled
            <input type="submit" value="Disable" class="btn btn-link" />
            </text>
        }
    }
    else
    {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Disabled
            <input type="submit" value="Enable" class="btn btn-link" />
            </text>
        }
    }*@
@*</dd>
        </dl>
    </div>*@
