@model HireMe.Models.UpdateProfileViewModel


<style>
    #footer-container {
        display: none;
    }
</style>

<script>
    function setFavouriteJobRequest(jobRequestId) {

        //alert(jobRequestId);
        $.ajax
            ({
                url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                //data: { "id": jobRequestId },
                type: 'get',
                success: function (result) {
                    //$('.modal-box').text(result).fadeIn(700, function () {
                    //    setTimeout(function () {
                    //        $('.modal-box').fadeOut();
                    //    }, 2000);
                    //});

                    alert("Job Request added to your favourite list.");
                }
            });

    }

    function setJobRequestSearchParam() {
        var gender = $('input[name="options"]').val();
        var yearsOfExp = $(".yrs_of_exp").val();

        console.log("Gender" + gender);
        console.log("years of exp = " + yearsOfExp);
        //SetJobRequestSearchParam

        //$.ajax
        //    ({
        //        url: '/SearchJobRequests/SetJobRequestSearchParam?Gender=' + gender + "&YearsOfExperience=" + yearsOfExp,
        //        data: { "Gender": gender, "YearsOfExperience": yearsOfExp },
        //        contentType: "json",
        //        type: 'get',
        //        success: function (result) {
        //            //$('.modal-box').text(result).fadeIn(700, function () {
        //            //    setTimeout(function () {
        //            //        $('.modal-box').fadeOut();
        //            //    }, 2000);
        //            //});

        //            alert("Job Request added to your favourite list.");
        //        }
        //    });

        // window.location.href = "SearchJobRequests?gender=" + gender + "&yearsOfExperience=" + yearsOfExp;
    }
</script>


<div id="main-container-user" style="margin-left: 280px;" ng-app="myApp" ng-controller="searchJobRequestCtrl">

    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                        .Select(c => c.Value);
        string role = roles.FirstOrDefault();}




    @using (Html.BeginForm("UpdateProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
    <!---- Tab Section -->
        <section class="right-side">
            <div class="full-section-container wow fadeInUp">
                <div class="tab-section">
                    <div class="tab-section-body">
                        <div class="row">
                            <div class="col-md-12 regd-form">
                                <div class="headline text-center wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                    <h2><i class="fa fa-cogs"></i>&nbsp;Manage my Profile</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 text-center">
                                        <div class="profile-pic">
                                            <a href="data:image/jpeg;base64,@ViewBag.ProfilePicUrl" class="fancybox">
                                                <img src="data:image/jpeg;base64,@ViewBag.ProfilePicUrl">
                                            </a>
                                            <div class="title">Profile Pic</div>
                                        </div>
                                        @if (!Model.ProfileVerified)
                                        {
                                            <input class="form-control" accept="image/*" id="profilepic" name="profilepic" placeholder="" type="file" style="height:inherit;">
                                            <button type="button" id="upload-profile-pic-button" class="btn btn-style-1 waves mb-0 btn-block"><i class="fa fa-check"></i>&nbsp;Save &nbsp;<i id="progress1" class="fa fa-spinner fa-spin" style="font-size:24px;display:none;"></i></button>
                                        }
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Name:</td>
                                                    <td>@(Model.FirstName + " " + Model.LastName)</td>
                                                </tr>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td>@Model.Email</td>
                                                </tr>
                                                <tr>
                                                    <td>Phone:</td>
                                                    <td>@Model.PhoneNumber</td>
                                                </tr>
                                                <tr>
                                                    <td>Profile Verified:</td>
                                                    <td>@(Model.ProfileVerified ? "Yes" : "No")</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="col-md-3 col-sm-4 text-center">
                                        <div class="profile-pic">
                                            <a href="data:image/jpeg;base64,@ViewBag.IdProofDoc" class="fancybox">
                                                <img src="data:image/jpeg;base64,@ViewBag.IdProofDoc">
                                            </a>
                                            <div class="title">ID Card</div>
                                        </div>
                                        @*<input class="form-control" id="IdProofDoc" name="IdProofDoc" placeholder="" type="file" style="height:inherit;">
                                            <button type="submit" class="btn btn-style-1 waves mb-0 btn-block"><i class="fa fa-check"></i>&nbsp;Save</button>*@
                                        @if (!Model.ProfileVerified)
                                        {
                                            <input class="form-control" accept="image/*" id="idcard" name="idcard" placeholder="" type="file" style="height:inherit;">
                                            <button type="button" id="upload-id-card-button" class="btn btn-style-1 waves mb-0 btn-block"><i class="fa fa-check"></i>&nbsp;Save &nbsp;<i id="progress2" class="fa fa-spinner fa-spin" style="font-size:24px;display:none;"></i></button>
                                        }
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        @*<h5>Advance Profiles</h5>*@
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-section">
                                            <fieldset>
                                                <div id="alert-area"></div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                    </div>
                                                    @if (Model.ProfileVerified)
                                                    {
                                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "", @disabled = "disabled" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "" })
                                                    }<span class="input-lable">First Name</span>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                    </div>
                                                    @if (Model.ProfileVerified)
                                                    {
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "", @disabled = "disabled" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "" })
                                                    }<span class="input-lable">Last Name</span>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/user.png" alt=""></span>
                                                    </div>
                                                    @if (Model.ProfileVerified)
                                                    {
                                                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @placeholder = "", @disabled = "disabled" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @placeholder = "" })
                                                    }
                                                    <span class="input-lable">Age</span>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                    </div>
                                                    @Html.DropDownListFor(m => m.CityId, new List<SelectListItem>
                                                                    {
                                                       new SelectListItem{ Text="Choose City", Value = "" },
                                                                        new SelectListItem{ Text="Abidjan (Capitale Eco)", Value = "1" },
                                                                        new SelectListItem{ Text="Yamoussoukro (Capitale Pol)", Value = "2" },
                                                                        new SelectListItem{ Text="Abengourou", Value = "3" },
                                                                        new SelectListItem{ Text="Anyama", Value = "4" },
                                                                        new SelectListItem{ Text="Agnibilékrou", Value = "5" },
                                                                     }, htmlAttributes: new { @class = "form-control", id = "City" })
                                                    @*@Html.DropDownListFor(m => m.CityId, new SelectList(ViewBag.City, "CityId", "CityName"), htmlAttributes: new { @class = "form-control", id = "City" })*@
                                                    <span class="input-lable">City</span>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                    </div>
                                                    <select id="District" name="DistrictId" class="form-control"></select>
                                                    @*@Html.DropDownListFor(m => m.DistrictId, new SelectList(ViewBag.District, "DistrictId", "DistrictName"), htmlAttributes: new { @class = "form-control", id = "District" })*@
                                                    <span class="input-lable">District</span>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                    </div>


                                                    @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.Country, "CountryId", "CountryName"), htmlAttributes: new { @class = "form-control", id = "Country" })
                                                    <span class="input-lable">Country</span>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/map.png" alt=""></span>
                                                    </div>
                                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "", @rows = 3, @height = "100%" })
                                                    <span class="input-lable">Address</span>
                                                </div>
                                            </fieldset>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-section">

                                            <fieldset>

                                                <div id="alert-area"></div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/email.png" alt=""></span>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "" })
                                                    <span class="input-lable">Email</span>
                                                </div>


                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><img src="~/assets/images/phone.png" alt=""></span>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "" })
                                                    <span class="input-lable">Contact number</span>
                                                </div>

                                                @*<div class="input-group mb-2"></div>*@


                                                @if (Model.ContactOption != null)
                                                {
                                                    <div class="mb-4">
                                                        <span class="mr-3">Set your contact option</span>
                                                        <div class="checkbox inline mr-3">
                                                            <label>
                                                                <input checked="@(Model.ContactOption.Contains("Email"))" name='ContactOption' type="checkbox" value="Email"> Email
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="checkbox inline">
                                                            <label>
                                                                <input checked="@(Model.ContactOption.Contains("Phone"))" name='ContactOption' type="checkbox" value="Phone"> Phone
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                }
                                                @*<div class="filtersection-header">
                                                        Email
                                                        <div class="switch-area-inner switch-area-inner-cus">
                                                            <label class="checkbox">
                                                                <input checked="@(Model.ContactOption.Contains("Email"))" name='ContactOption' type="checkbox" value="Email">
                                                                <span class=""></span>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="filtersection-header">
                                                        Phone
                                                        <div class="switch-area-inner switch-area-inner-cus">
                                                            <label class="checkbox">
                                                                <input checked="@(Model.ContactOption.Contains("Phone"))" name='ContactOption' type="checkbox" value="Phone">
                                                                <span class=""></span>
                                                            </label>
                                                        </div>
                                                    </div>*@

                                                <p>
                                                    <i class="bizhub-icon-lock-1" style="font-size:20px;"></i> <a href="/Manage/ChangePassword">Change Password</a>
                                                </p>


                                            </fieldset>

                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-style-1 btn-lg waves"><i class="fa fa-check"></i>&nbsp;Update Profile</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline text-center">
                                <h2>Our Trusted Partners</h2>
                            </div><!-- headline -->
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- container -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="owl-carousel logos-slider">
                                <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/6.jpg);"></a></div>
                                <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/5.jpg);"></a></div>
                                <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/4.jpg);"></a></div>
                                <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/3.jpg);"></a></div>
                                <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/2.jpg);"></a></div>
                                <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/1.jpg);"></a></div>
                            </div><!-- logos-slider -->
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- container -->
            </div>
        </section>
    <!---- Tab Section end-->
    }
</div>




<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>

@section scripts {



    <script type="text/javascript">

        $(document).ready(function () {
            $("#FilterjobId").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '358px');
                $('.jobsearch-section .right-section').css('right', '0');
                $('.Filterjob').css('display', 'none');
                $('.switch').css('right', '10px');
                $('.filter-overlay').css('display', 'block');

            });
            $("#FilterClose").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '0');
                $('.jobsearch-section .right-section').css('right', '-350px');
                $('.Filterjob').css('display', 'block');
                $('.switch').css('right', '50px');
                $('.filter-overlay').css('display', 'none');
            });
        });

    </script>

    <script>
        $(':file').on('change', function () {
            var file = this.files[0];
            if (file.size > (1024 * 1024)) {
                alert('max upload size is 1mb')
            }

            // Also see .name, .type
        });

        $('#upload-profile-pic-button').on('click', function () {

            //alert();
            //var form = document.createElement("form");
            var fileSelect = document.getElementById('profilepic')
            var files = fileSelect.files;
            //$(form).append(file);

            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // Check the file type.
                if (!file.type.match('image.*')) {
                    continue;
                }

                // Add the file to the request.
                formData.append('profile_pic', file, file.name);
            }

            console.log(formData);
            $.ajax({
                // Your server script to process the upload
                url: '/Manage/UpdateProfilePic',
                type: 'POST',

                // Form data
                data: formData,

                // Tell jQuery not to process data or worry about content-type
                // You *must* include these options!
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    $("#progress1").hide();
                    alert("Profile picture updated successfully.");
                    window.location.reload();
                },
                // Custom XMLHttpRequest
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        // For handling the progress of the upload
                        myXhr.upload.addEventListener('progress', function (e) {
                            if (e.lengthComputable) {
                                //$('progress').attr({
                                //    value: e.loaded,
                                //    max: e.total,
                                //}).show();

                                $("#progress1").show();
                                console.log(e.loaded);
                                console.log(e.total)
                            }
                        }, false);
                    }
                    return myXhr;
                }
            });
        });

        $('#upload-id-card-button').on('click', function () {

            //alert();
            //var form = document.createElement("form");
            var fileSelect = document.getElementById('idcard')
            var files = fileSelect.files;
            //$(form).append(file);

            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // Check the file type.
                if (!file.type.match('image.*')) {
                    continue;
                }

                // Add the file to the request.
                formData.append('idcard', file, file.name);
            }

            console.log(formData);
            $.ajax({
                // Your server script to process the upload
                url: '/Manage/UpdateIdCard',
                type: 'POST',

                // Form data
                data: formData,

                // Tell jQuery not to process data or worry about content-type
                // You *must* include these options!
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    $("#progress2").hide();
                    alert("Id card updated successfully.");
                    window.location.reload();
                },
                // Custom XMLHttpRequest
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        // For handling the progress of the upload
                        myXhr.upload.addEventListener('progress', function (e) {
                            if (e.lengthComputable) {
                                //$('progress').attr({
                                //    value: e.loaded,
                                //    max: e.total,
                                //}).show();

                                $("#progress2").show();
                                console.log(e.loaded);
                                console.log(e.total)
                            }
                        }, false);
                    }
                    return myXhr;
                }
            });
        });
    </script>
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('searchJobRequestCtrl', function ($scope, $http) {
            $scope.jobRequests = [];
            $scope.message = "Welcome Angular JS";
            $scope.searchParam = {};


            $scope.searchJobRequests = function () {
                $http.get("/api/jobtekapi/SearchJobRequests", {
                    //params: { page: 1, limit: 100, sort: 'name', direction: 'desc' },
                    //headers: { 'Authorization': 'Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==' }
                    params: $scope.searchParam
                })
                    .then(function (response) {
                        console.log(response.data);
                        $scope.jobRequests = response.data;
                    });
            }

            $scope.setFavouriteJobRequest = function (jobRequestId) {

                //alert(jobRequestId);
                $.ajax
                    ({
                        url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                        //data: { "id": jobRequestId },
                        type: 'get',
                        success: function (result) {
                            //$('.modal-box').text(result).fadeIn(700, function () {
                            //    setTimeout(function () {
                            //        $('.modal-box').fadeOut();
                            //    }, 2000);
                            //});

                            alert("Job Request added to your favourite list.");
                        }
                    });

            }

            $scope.searchJobRequests();
        });
    </script>

}










@*<p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />*@
@*<dl class="dl-horizontal">
    <dt>Password:</dt>
    <dd>
        [
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
        ]
    </dd>
    <dt>External Logins:</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Manage", "ManageLogins") ]
    </dd>*@
@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
*@
@*<dt>Two-Factor Authentication:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>*@
@*@if (Model.TwoFactor)
    {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Enabled
            <input type="submit" value="Disable" class="btn btn-link" />
            </text>
        }
    }
    else
    {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Disabled
            <input type="submit" value="Enable" class="btn btn-link" />
            </text>
        }
    }*@
@*</dd>
        </dl>
    </div>*@
