
@if (Request.QueryString["id"] == null)
{
    @model IEnumerable<HireMe.Models.JobCategory>
}
<style>
    #footer-container {
        display: none;
    }

    .rating {
        color: #a9a9a9;
        margin: 0;
        padding: 0;
    }

    ul.rating {
        display: inline-block;
    }

    .rating li {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        font-size: 20px;
    }

    .rating .filled {
        color: #ff0052;
    }

    .clear {
        margin-top: 20px;
    }
</style>

<script>
    function setFavouriteJobRequest(jobRequestId) {

        //alert(jobRequestId);
        $.ajax
            ({
                url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                //data: { "id": jobRequestId },
                type: 'get',
                success: function (result) {
                    //$('.modal-box').text(result).fadeIn(700, function () {
                    //    setTimeout(function () {
                    //        $('.modal-box').fadeOut();
                    //    }, 2000);
                    //});

                    alert("Job Request added to your favourite list.");
                }
            });

    }

    function setJobRequestSearchParam() {
        var gender = $('input[name="options"]').val();
        var yearsOfExp = $(".yrs_of_exp").val();

        console.log("Gender" + gender);
        console.log("years of exp = " + yearsOfExp);
        //SetJobRequestSearchParam

        //$.ajax
        //    ({
        //        url: '/SearchJobRequests/SetJobRequestSearchParam?Gender=' + gender + "&YearsOfExperience=" + yearsOfExp,
        //        data: { "Gender": gender, "YearsOfExperience": yearsOfExp },
        //        contentType: "json",
        //        type: 'get',
        //        success: function (result) {
        //            //$('.modal-box').text(result).fadeIn(700, function () {
        //            //    setTimeout(function () {
        //            //        $('.modal-box').fadeOut();
        //            //    }, 2000);
        //            //});

        //            alert("Job Request added to your favourite list.");
        //        }
        //    });

        // window.location.href = "SearchJobRequests?gender=" + gender + "&yearsOfExperience=" + yearsOfExp;
    }
</script>


<div id="main-container-user" style="margin-left: 280px;" ng-app="myApp" ng-controller="searchJobRequestCtrl">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                            .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                            .Select(c => c.Value);
        string role = roles.FirstOrDefault();}

    @if (Request.QueryString["id"] != null)
    {

        <div class="full-section-container">
            <div class="jobsearch-section">
                <div class="right-section">
                    <div class="header">
                        <a title="Filter" id="FilterClose" class="filter-close"><i class="bizhub-icon-close-2"></i></a>
                        <i class="fa fa-filter"></i>Set all filter to Indifferent
                        <div class="switch-area">
                            <label class="switchsmall">
                                <input type="checkbox" data-ng-model="searchParam.enableFilter" data-ng-change="changeMasterFilter()">
                                <span class="slider1 round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="body search-filter-section">




                        <div class="row">
                            <div class="col-md-12">


                                <div class="filtersection-panel">
                                    <div class="filtersection-header">
                                        Standard Criterias
                                    </div>
                                    <div class="filtersection-body">


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Gender
                                                        <div class="switch-area-inner">
                                                            <label class="switchsmall">
                                                                <input type="checkbox" data-ng-model="searchParam.enableGenderFilter" data-ng-change="searchParam.enableGenderFilter ? searchParam.gender = searchParam.gender : searchParam.gender = ''">
                                                                <span class="slider1 round"></span>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="filtersection-body" data-ng-if="searchParam.enableGenderFilter">
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="gender" ng-value="2" data-ng-model="searchParam.gender">
                                                                Woman
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="gender" ng-value="1" data-ng-model="searchParam.gender">
                                                                Man
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        ID Card Checked
                                                        <div class="switch-area-inner">
                                                            <label class="switchsmall">
                                                                <input type="checkbox" data-ng-model="searchParam.enableProfileVerifiedFilter" data-ng-change="searchParam.enableProfileVerifiedFilter ? searchParam.profileVerified = searchParam.profileVerified : searchParam.profileVerified = ''">
                                                                <span class="slider1 round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="filtersection-body" data-ng-if="searchParam.enableProfileVerifiedFilter">
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" ng-value="true" data-ng-model="searchParam.profileVerified">
                                                                Yes
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" ng-value="false" data-ng-model="searchParam.profileVerified">
                                                                No
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Age
                                                        <div class="switch-area-inner">
                                                            <label class="switchsmall">
                                                                <input type="checkbox" data-ng-model="searchParam.enableAgeFilter" data-ng-change="resetAgeFilter()">
                                                                <span class="slider1 round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="filtersection-body" data-ng-if="searchParam.enableAgeFilter">
                                                        <div class="inlineform-filter">
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <select class="" data-ng-model="searchParam.minAge">
                                                                        <option value="">--select--</option>
                                                                        <option>25</option>
                                                                        <option>30</option>
                                                                        <option>35</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-2 text-center">&amp;</div>
                                                                <div class="col-md-5">
                                                                    <select class="" data-ng-model="searchParam.maxAge">
                                                                        <option value="">--select--</option>
                                                                        <option>35</option>
                                                                        <option>30</option>
                                                                        <option>35</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Years of Experiences
                                                        <div class="switch-area-inner">
                                                            <label class="switchsmall">
                                                                <input type="checkbox" data-ng-model="searchParam.enableExperienceFilter">
                                                                <span class="slider1 round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="filtersection-body" data-ng-if="searchParam.enableExperienceFilter">
                                                        <div class="inlineform-filter">
                                                            <div class="row">
                                                                <div class="col-sm-2 text-center">
                                                                    <i class="fa fa-plus"></i>
                                                                </div>
                                                                <div class="col-sm-3" style="padding-left: 0;">
                                                                    <select class="yrs_of_exp" data-ng-model="searchParam.minYearsOfExperience">
                                                                        <option value="">--min--</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option>4</option>
                                                                        <option>5</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-3" style="padding-left: 0;">
                                                                    <select class="yrs_of_exp" data-ng-model="searchParam.maxYearsOfExperience">
                                                                        <option value="">--max--</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option>4</option>
                                                                        <option>5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Type of Staff
                                                        <div class="switch-area-inner">
                                                            <label class="switchsmall">
                                                                <input type="checkbox" data-ng-model="searchParam.enableStaffTypeFilter">
                                                                <span class="slider1 round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="filtersection-body" data-ng-if="searchParam.enableStaffTypeFilter">
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" ng-value="1" data-ng-model="searchParam.staffType">
                                                                Independant
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" ng-value="2" data-ng-model="searchParam.staffType">
                                                                Agency
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Disponibility
                                                        <div class="switch-area-inner">
                                                            <label class="switchsmall">
                                                                <input type="checkbox" data-ng-model="searchParam.enableDisponibilityFilter">
                                                                <span class="slider1 round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="filtersection-body" data-ng-if="searchParam.enableDisponibilityFilter">
                                                        <div class="widget widget-calendar">
                                                            <input type="date" data-ng-model="searchParam.disponibility" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Localizations
                                                        <div class="switch-area-inner">
                                                            <label class="switchsmall">
                                                                <input type="checkbox" data-ng-model="searchParam.enableLocalizationFilter">
                                                                <span class="slider1 round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="filtersection-body" data-ng-if="searchParam.enableLocalizationFilter">
                                                        <div class="inlineform-filter">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div>City</div>
                                                                    <select data-ng-model="searchParam.city" data-ng-options="item.CityId as item.CityName for item in cities" data-ng-change="getDistricts()">
                                                                        <option value="">--select--</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div>District</div>
                                                                    <select data-ng-model="searchParam.district" data-ng-options="item.DistrictId as item.DistrictName for item in districts">
                                                                        <option value="">--select--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        Salary Between
                                                        <div class="switch-area-inner">
                                                            <label class="switchsmall">
                                                                <input type="checkbox" data-ng-model="searchParam.enableSalaryFilter">
                                                                <span class="slider1 round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="filtersection-body" data-ng-if="searchParam.enableSalaryFilter">
                                                        <div class="inlineform-filter">
                                                            <div class="row">
                                                                @*<div class="col-md-12 mb-2">
                                                                        <div class="radio inline mr-2">
                                                                            <label>
                                                                                <input type="radio" name="options" id="option2" value="option2">
                                                                                Monthly
                                                                                <span></span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="radio inline">
                                                                            <label>
                                                                                <input type="radio" name="options" id="option2" value="option2">
                                                                                Hourly
                                                                                <span></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>*@
                                                                <div class="col-md-5">
                                                                    <select data-ng-model="searchParam.minSalary">
                                                                        <option value="">--select--</option>
                                                                        <option>25</option>
                                                                        <option>30</option>
                                                                        <option>35</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-2 text-center">&amp;</div>
                                                                <div class="col-md-5">
                                                                    <select data-ng-model="searchParam.maxSalary">
                                                                        <option value="">--select--</option>
                                                                        <option>35</option>
                                                                        <option>30</option>
                                                                        <option>35</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" data-ng-if="job">
                            <div class="col-md-12">


                                <div class="filtersection-panel">
                                    <div class="filtersection-header">
                                        Specific Criterias ({{job.JobName}})
                                    </div>
                                    <div class="filtersection-body" data-ng-init="counter = 0">

                                        <div class="row" data-ng-if="job">
                                            <div class="col-md-12" data-ng-repeat="task in job.JobTasks | filter : {'ParentJobTaskId': null}">
                                                <div class="filtersection-panel">
                                                    <div class="filtersection-header">
                                                        <img style="width: 15px;" ng-src="{{task.IconImage}}" alt=""> {{task.JobTaskName}}
                                                        <div class="switch-area-inner">
                                                            <label class="switchsmall">
                                                                @*<input type="checkbox" data-ng-model="searchParam.tasks[$index]">*@
                                                                <input type="checkbox"
                                                                       name="selectedTasks[]"
                                                                       value="{{task.JobTaskId}}"
                                                                       ng-checked="searchParam.tasks.indexOf(task.JobTaskId) > -1"
                                                                       ng-click="toggleSelection(task.JobTaskId)">
                                                                <span class="slider1 round"></span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="filtersection-body">
                                                        @*<img src="~/assets/images/write.png" alt="">*@
                                                        {{task.JobTaskDescription}}
                                                        <div class="row">
                                                            <div class="col-md-12" data-ng-if="task.SubTasks && task.SubTasks.length > 0">
                                                                <div class="filtersection-panel" data-ng-repeat="subTask in task.SubTasks">
                                                                    <div class="filtersection-header">
                                                                        <img style="width: 15px;" ng-src="{{subTask.IconImage}}" alt=""> {{subTask.JobTaskName}}
                                                                        <div class="switch-area-inner">
                                                                            <label class="switchsmall">
                                                                                @*<input type="checkbox" data-ng-model="searchParam.tasks[$index]">*@
                                                                                <input type="checkbox"
                                                                                       name="selectedTasks[]"
                                                                                       value="{{subTask.JobTaskId}}"
                                                                                       ng-checked="searchParam.tasks.indexOf(subTask.JobTaskId) > -1"
                                                                                       ng-click="toggleSelection(subTask.JobTaskId)">
                                                                                <span class="slider1 round"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="filtersection-body">
                                                                        {{subTask.JobTaskDescription}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>




                            </div>
                        </div>


                    </div>
                    <div class="footer">
                        <button type="button" class="btn btn-default btn-lg" data-ng-click="searchJobRequests()"><i class="bizhub-icon-search"></i> Search</button>
                    </div>
                </div>
                <div class="left-section">
                    <div class="filter-overlay">
                        <div class="lds-ripple"><div></div><div></div></div>
                    </div>
                    <div class="header">
                        <i class="fa fa-align-left"></i>

                        <span class="grid-title">Search Results - <strong>{{job ? job.JobName : ''}}</strong> </span>
                        <span class="grid-title-small" data-ng-bind="jobRequests ? '(' + jobRequests.length + ' profiles found)' : ''"></span>

                        <a title="Filter" class="Filterjob" id="FilterjobId"><i class="fa fa-filter"></i></a>

                    </div>

                    <div class="body">


                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6" data-ng-repeat="jr in jobRequests">
                                <div class="profileitems searchprofile-section">
                                    <span class="validate" data-ng-if="jr.Candidate.ProfileVerified"><img src="~/assets/images/verified.png" alt="Varified"></span>
                                    <div class="left">
                                        <img ng-src="data:image/jpeg;base64, {{jr.Candidate.ProfilePicUrl}}" />
                                        <div class="rating">
                                            @*<a href="#" ng-click="setFavouriteJobRequest(jr.JobRequestId)">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </a>*@
                                            <div star-rating rating-value="jr.StarRating" max="'5'"></div>
                                        </div>
                                        <h3><span class="age"><span data-ng-bind="jr.Candidate.Age + ' yrs'"></span></span><span class="experience" data-ng-bind="'Exp: '+ jr.Candidate.ExperienceInYears + 'yrs'"></span></h3>
                                        <h2 class="contact-num"><i class="fa fa-phone"></i> <span data-ng-if="!jr.Candidate.ContactOption || jr.Candidate.ContactOption == 'Phone'" data-ng-bind="jr.Candidate.ContactNo"></span></h2>
                                    </div>
                                    <div class="right">
                                        <h1>
                                            <span data-ng-if="jr.Candidate.Gender == 2"><img src="~/assets/images/woman-user.png" /></span>
                                            <span data-ng-if="jr.Candidate.Gender == 1"><img src="~/assets/images/user.png" /></span>
                                            <span data-ng-bind="jr.Candidate.StaffType == 1 ? '(Individual)' : '(Agency)'"></span>
                                        </h1>
                                        @*<h1 data-ng-bind="jr.Candidate.StaffType == 1 ? '(Individual)' : '(Agency)'"></h1>*@
                                        @*<span data-ng-bind="jr.Candidate.StaffType == 1 ? '(Individual)' : '(Agency)'"></span>*@

                                        <h2 class="name">
                                            <span data-ng-bind="jr.Candidate.FirstName + ' ' + jr.Candidate.LastName"></span>
                                        </h2>
                                        <h2 class="jobname"><span data-ng-bind="jr.Job.JobName"></span></h2>
                                        @*<h3><span class="age"><span data-ng-bind="jr.Candidate.Age + ' yrs'"></span></span><span class="experience" data-ng-bind="'Exp: '+ jr.Candidate.ExperienceInYears + 'yrs'"></span></h3>*@
                                        @*<h2 class="contact-num"><i class="fa fa-phone"></i> <span data-ng-if="!jr.Candidate.ContactOption || jr.Candidate.ContactOption == 'Phone'" data-ng-bind="jr.Candidate.ContactNo"></span></h2>*@
                                        <h2 class="email"><i class="fa fa-envelope"></i> <span data-ng-if="!jr.Candidate.ContactOption || jr.Candidate.ContactOption == 'Email'" data-ng-bind="jr.Candidate.EmailId"></span></h2>
                                        <p class="location"><i class="fa fa-map-marker"></i> <span data-ng-bind="jr.Candidate.Country">,</span><span> {{jr.Candidate.City}},</span><span> {{jr.Candidate.District}}</span></p>
                                        <div class="published">Published: <span>{{jr.PublishedDate | date :  "dd-MMM-yyyy"}}</span></div>
                                        <div class="published">Disponibility: <span>{{jr.Candidate.Disponibility | date :  "dd-MMM-yyyy"}}</span></div>
                                    </div>
                                    <div class="profile-footer">
                                        {{jr.Candidate.AdditionalDescription}}&nbsp;
                                    </div>
                                    <div class="team-contact-info">
                                        <ul class="social-icons">
                                            <li><a href="#" title="Favorite" id="set_favourite_job_req_link" data-ng-click="setFavouriteJobRequest(jr.JobRequestId)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                            <li><a href="/JobRequests/Details/{{jr.JobRequestId}}" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-overlay" style="display:block;" data-ng-if="jobRequests.length == 0">
                                <div class="lds-ripple"><div></div><div></div></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!--Modal-->
            <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModal" aria-hidden="true">
                <div class="modal-wrapper">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel13">Agency Name</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <div class="profile-pic">
                                            <img src="~/assets/images/image-18.jpg" />
                                        </div>
                                        @*<button type="submit" class="btn btn-style-1 btn-lg waves"><i class="fa fa-check"></i>&nbsp;Validate</button>*@
                                    </div>
                                    <div class="col-md-8">
                                        @*<div class="row">
                                                <div class="col-md-4">Email:</div>
                                                <div class="col-md-8">agency@gmail.com</div>
                                            </div>*@
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td>agency@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>Phone:</td>
                                                    <td>111111111</td>
                                                </tr>
                                                <tr>
                                                    <td>Rating:</td>
                                                    <td><a href="javascropt(0);"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Description:</td>
                                                    <td>I offer my service for babysitting for long term period. I looking for a job of nanny. I love to take care of children</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Modal-->
        </div>
    }
    else
    {
        <div class="full-section-container wow fadeInUp">
            <div class="tab-section">
                <div class="tab-section-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline text-center mb-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                @if (role == "Candidate")
                                {
                                    <h2>Select your Job</h2>
                                }
                                else if (role == "Employer")
                                {
                                    <h2>What you are looking for ?</h2>
                                }
                                else if (role == "Agency")
                                {
                                    <h2>Select Job for candidate</h2>
                                }

                            </div>
                            <div class="tabs style-2">

                                <ul class="nav nav-tabs job-tab">
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        var item = Model.ElementAt(i);
                                        <li><a class="@(i == 0 ? "active" : "")" href="@("#tab-1-" + i)" data-toggle="tab"><img src="@item.IconImage" />@item.CategoryName</a></li>
                                    }
                                </ul>
                                <div class="tab-content">

                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        var item = Model.ElementAt(i);
                                        <div class="tab-pane fade show @(i == 0 ? "active" : "")" id="@("tab-1-"+i)">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="isotope cols-3 gutter">
                                                        @foreach (var job in item.Jobs)
                                                        {
                                                            <div class="isotope-item categ-1 categ-2">
                                                                <div class="portfolio-item">
                                                                    <div class="portfolio-item-thumbnail">
                                                                        <img src="@(job.IconImage)" alt="">
                                                                        <div class="portfolio-item-hover"></div>
                                                                        <div class="portfolio-item-description">
                                                                            <h5><a href='~/@("SearchJobRequests?id="+job.JobId)'>@job.JobName</a></h5>
                                                                        </div><!-- portfolio-item-description -->
                                                                        <a class="zoom-action" href='~/@("SearchJobRequests?id="+job.JobId)'><i class="bizhub-icon-search"></i></a>
                                                                    </div><!-- portfolio-item-thumbnail -->
                                                                </div><!-- portfolio-item -->
                                                            </div>
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div><!-- tab-content -->
                            </div><!-- tabs -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="headline text-center">
                            <h2>Our Trusted Partners</h2>
                        </div><!-- headline -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel logos-slider">
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/6.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/5.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/4.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/3.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/2.jpg);"></a></div>
                            <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/1.jpg);"></a></div>
                        </div><!-- logos-slider -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div>
    }


</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#FilterjobId").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '358px');
                $('.jobsearch-section .right-section').css('right', '0');
                $('.Filterjob').css('display', 'none');
                $('.switch').css('right', '10px');
                $('.filter-overlay').css('display', 'block');

                var scope = angular.element(document.getElementById('main-container-user')).scope();
                // on search box open call the details
                if (scope) {
                    if (!scope.cities || scope.cities.length == 0) {
                        scope.getCities();
                    }
                    if (!scope.jobTasks || scope.jobTasks.length == 0) {
                        scope.getJobTasks();
                    }
                }
            });
            $("#FilterClose").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '0');
                $('.jobsearch-section .right-section').css('right', '-350px');
                $('.Filterjob').css('display', 'block');
                $('.switch').css('right', '50px');
                $('.filter-overlay').css('display', 'none');
            });
        });

    </script>

    <script>
        //$('#set_favourite_job_req_link').click(function () {



        //    $.ajax
        //        ({
        //            url: 'reservebook.php',
        //            data: { "bookID": book_id },
        //            type: 'post',
        //            success: function (result) {
        //                $('.modal-box').text(result).fadeIn(700, function () {
        //                    setTimeout(function () {
        //                        $('.modal-box').fadeOut();
        //                    }, 2000);
        //                });
        //            }
        //        });
        //});
    </script>
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('myApp', []);

        angular.module('myApp').filter('filterByJobCategoryId', [function () {
            return function (jobRequests, jobCaegoryId) {
                if (!angular.isUndefined(jobRequests) && !angular.isUndefined(jobCaegoryId) && jobRequests.length > 0) {
                    return $.grep(jobRequests, function (elem, index) { return elem.Job && elem.Job.JobCategoryId == jobCaegoryId });
                } else {
                    return jobRequests;
                }
            };
        }]);

        angular.module('myApp').directive('starRating', function () {
            return {
                restrict: 'A',
                template: '<ul class="rating">' +
                '<li ng-repeat="star in stars" ng-class="star">' +
                '\u2605' +
                '</li>' +
                '</ul>',
                scope: {
                    ratingValue: '=',
                    max: '=',
                    onRatingSelected: '&'
                },
                link: function (scope, elem, attrs) {

                    var updateStars = function () {
                        scope.stars = [];
                        for (var i = 0; i < scope.max; i++) {
                            scope.stars.push({
                                filled: i < scope.ratingValue
                            });
                        }
                    };

                    scope.toggle = function (index) {
                        scope.ratingValue = index + 1;
                        scope.onRatingSelected({
                            rating: index + 1
                        });
                    };

                    scope.$watch('ratingValue', function (oldVal, newVal) {
                        if (newVal) {
                            updateStars();
                        }
                    });
                }
            }
        });
        app.controller('searchJobRequestCtrl', function ($scope, $http) {
            $scope.jobRequests = [];
            $scope.cities = [];
            $scope.districts = [];
            $scope.jobTasks = [];
            $scope.message = "Welcome Angular JS";
            $scope.searchParam = { tasks: [], job: @(Request.QueryString["id"] ?? "0")};



            $scope.searchJobRequests = function () {
                if ($scope.searchParam.job) {
                    $http.get("/api/jobtekapi/SearchJobRequests", {
                        //params: { page: 1, limit: 100, sort: 'name', direction: 'desc' },
                        //headers: { 'Authorization': 'Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==' }
                        params: $scope.searchParam
                    })
                        .then(function (response) {
                            console.log(response.data);
                            $scope.jobRequests = response.data;
                            $("#FilterClose").click();
                        });
                }
            }

            $scope.getCities = function () {
                $http.get("/api/jobtekapi/GetCities", {
                })
                    .then(function (response) {
                        console.log(response.data);
                        $scope.cities = response.data;
                    });
            }

            $scope.getDistricts = function () {
                var searchDist = {};
                if ($scope.searchParam && $scope.searchParam.city) {
                    searchDist.cityId = $scope.searchParam.city;
                }
                console.log(searchDist);
                if (searchDist.cityId) {
                    $http.get("/api/jobtekapi/GetDistricts", {
                         params: searchDist
                    })
                        .then(function (response) {
                            //console.log(response.data);
                            if (response && response.data) {
                                $scope.districts = response.data;
                            } else {
                                $scope.districts = [];
                            }
                        });
                } else {
                    $scope.districts = [];
                }
            }

            $scope.getJobTasks = function () {
                var jobId = @(Request.QueryString["id"] ?? "0");
                if (jobId) {
                    $http.get("/api/jobtekapi/GetJobTasks", {
                        params: { jobId: jobId }
                    })
                        .then(function (response) {
                            console.log(response.data);
                            $scope.job = response.data;
                            //$scope.jobTasks = response.data.JobTasks;
                        });
                }
            }
            $scope.toggleSelection = function toggleSelection(jobTaskId) {
                var idx = $scope.searchParam.tasks.indexOf(jobTaskId);

                // Is currently selected
                if (idx > -1) {
                    $scope.searchParam.tasks.splice(idx, 1);
                }

                // Is newly selected
                else {
                    $scope.searchParam.tasks.push(jobTaskId);
                }

                console.log($scope.searchParam);
            };

            $scope.setFavouriteJobRequest = function (jobRequestId) {

                //alert(jobRequestId);
                $.ajax
                    ({
                        url: '/FavouriteJobRequests/Create?id=' + jobRequestId,
                        //data: { "id": jobRequestId },
                        type: 'get',
                        success: function (result) {
                            //$('.modal-box').text(result).fadeIn(700, function () {
                            //    setTimeout(function () {
                            //        $('.modal-box').fadeOut();
                            //    }, 2000);
                            //});

                            alert("Job Request added to your favourite list.");
                        }
                    });

            }

            $scope.searchJobRequests();
            //$scope.getCities();
            //$scope.getJobTasks();
        });
    </script>

}
