@model HireMe.Models.Agency


@{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                        .Select(c => c.Value);
    string role = roles.FirstOrDefault();}

<div>
    <h4>Agency</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyLogo)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.AgencyLogo)*@
            <img src="data:image/jpeg;base64, @(Model.AgencyLogo)"/>
        </dd>

@if (role == "Admin")
{

        <dt>
            @Html.DisplayNameFor(model => model.IdProofDoc)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.AgencyLogo)*@
            <img src="data:image/jpeg;base64, @(Model.IdProofDoc)" />
        </dd>
}
        <dt>
            @Html.DisplayNameFor(model => model.AgencyWebsiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyWebsiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerLastName)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.ManagerDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyActivityDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyActivityDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileVerified)
        </dd>

    

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

   

    </dl>
</div>

