@model HireMe.Models.Agency


@{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                        .Select(c => c.Value);
    string role = roles.FirstOrDefault();}

<!--Needs to be added-->
<div class="row">
    <div class="col-sm-4">
@if (role == "Admin")
{
        <div class="agency-pics">
            <img src="data:image/jpeg;base64, @(Model.IdProofDoc)" />
            <h3>Agency Logo</h3>
        </div>
}
        <div class="agency-pics">
            <img src="data:image/jpeg;base64, @(Model.AgencyLogo)" />
            <h3>Agency ID Proof</h3>
        </div>
    </div>
    <div class="col-sm-8">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Agency Name
                    </td>
                    <td>
                        <strong>@Html.DisplayFor(model => model.AgencyName)</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Agency website URL
                    </td>
                    <td>
                        <a href="#" target="_blank">@Html.DisplayFor(model => model.AgencyWebsiteURL)</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Manager first name
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.ManagerFirstName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Manager last name
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.ManagerLastName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Manager DOB
                    </td>
                    <td>
                       @Html.DisplayFor(model => model.ManagerDOB)
                    </td>
                </tr>
                <tr>
                    <td>
                        Company Activity Desc.
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CompanyActivityDesc)
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="tab-section">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Country
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Country)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            City
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.City)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            District
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.District)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Profile Verified
                        </td>
                        <td>
                           @Html.DisplayFor(model => model.ProfileVerified)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Created Date
                        </td>
                        <td>
                             @Html.DisplayFor(model => model.CreatedDate)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

