@model HireMe.Models.Agency


@{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                        .Select(c => c.Value);
    string role = roles.FirstOrDefault();}

<!--Needs to be added-->
<div class="row">
    <div class="col-sm-4">
        <div class="agency-pics">
            <img src="~/assets/images/agency.jpg" />
            <h3>Agency Logo</h3>
        </div>

        <div class="agency-pics">
            <img src="~/assets/images/no-IDcard.jpg" />
            <h3>Agency ID Proof</h3>
        </div>
    </div>
    <div class="col-sm-8">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Agency Name
                    </td>
                    <td>
                        <strong>Nounou babi</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Agency website URL
                    </td>
                    <td>
                        <a href="https://www.facebook.com/ecoleyarani/" target="_blank">https://www.facebook.com/ecoleyarani</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Manager first name
                    </td>
                    <td>
                        Kouakou
                    </td>
                </tr>
                <tr>
                    <td>
                        Manager last name
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        Manager DOB
                    </td>
                    <td>
                        11/23/2003
                    </td>
                </tr>
                <tr>
                    <td>
                        Company Activity Desc.
                    </td>
                    <td>
                        Nous formons des professionnel
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="tab-section">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Country
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            City
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            District
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Profile Verified
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Created Date
                        </td>
                        <td>
                            11/23/2003
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/Needs to be added-->


<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyLogo)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.AgencyLogo)*@
            <img src="data:image/jpeg;base64, @(Model.AgencyLogo)"/>
        </dd>

@if (role == "Admin")
{

        <dt>
            @Html.DisplayNameFor(model => model.IdProofDoc)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.AgencyLogo)*@
            <img src="data:image/jpeg;base64, @(Model.IdProofDoc)" />
        </dd>
}
        <dt>
            @Html.DisplayNameFor(model => model.AgencyWebsiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyWebsiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerLastName)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.ManagerDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyActivityDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyActivityDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileVerified)
        </dd>

    

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>

