<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- FAVICON AND APPLE TOUCH -->
    <link rel="icon" href="~/favicon.ico">
    @*<link rel="shortcut icon" href="favicon.png">*@
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-180x180.png">
    <meta name="msapplication-TileImage" content="mstile.png">
    <meta name="msapplication-TileColor" content="#fe005a">
    <meta name="theme-color" content="#fe005a">
    <title>@ViewBag.Title JOBtek :: Select A Job</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i%7CRaleway:400,700%7CSource+Sans+Pro:300,400,400i,600,600i,700,900">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body class="sticky-header header-classic page-header-style-1 footer-style-1">
    <div id="main-container">
        @if (Request.RawUrl.ToString() == "/" || Request.RawUrl.ToString() == "/Home" || Request.RawUrl.ToString() == "/Home/Index")
        {
            <div class="rev_slider_wrapper mb-0">
                <div class="rev_slider" data-version="5.4.5">
                    <ul>
                        <li data-transition="fade">
                            <img src="~/assets/images/bg-slide-1.jpg" alt="">
                            <div class="tp-caption title-xl"
                                 data-x="300"
                                 data-y="center"
                                 data-voffset="0"
                                 data-start="1300"
                                 data-speed="300"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <span class="text-gradient">Personal Home Management Platform</span>
                            </div>
                            <div class="tp-caption"
                                 data-x="750"
                                 data-y="center"
                                 data-voffset="100"
                                 data-start="1450"
                                 data-speed="300"
                                 style="left:100%;"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                                    <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                                </a>
                            </div>
                        </li>
                        <li data-transition="fade">
                            <img src="~/assets/images/bg-slide-2.jpg" alt="">
                            <div class="tp-caption title-xl"
                                 data-x="300"
                                 data-y="center"
                                 data-voffset="0"
                                 data-start="1300"
                                 data-speed="300"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <span class="text-gradient">Personal Home Management Platform</span>
                            </div>
                            <div class="tp-caption"
                                 data-x="750"
                                 data-y="center"
                                 data-voffset="100"
                                 data-start="1450"
                                 data-speed="300"
                                 style="left:100%;"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                                    <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                                </a>
                            </div>
                        </li>
                        <li data-transition="fade">
                            <img src="~/assets/images/bg-slide-3.jpg" alt="">
                            <div class="tp-caption title-xl"
                                 data-x="300"
                                 data-y="center"
                                 data-voffset="0"
                                 data-start="1300"
                                 data-speed="300"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <span class="text-gradient">Personal Home Management Platform</span>
                            </div>
                            <div class="tp-caption"
                                 data-x="750"
                                 data-y="center"
                                 data-voffset="100"
                                 data-start="1450"
                                 data-speed="300"
                                 style="left:100%;"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                                    <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                                </a>
                            </div>
                        </li>
                        <li data-transition="fade">
                            <img src="~/assets/images/bg-slide-4.jpg" alt="">
                            <div class="tp-caption title-xl"
                                 data-x="300"
                                 data-y="center"
                                 data-voffset="0"
                                 data-start="1300"
                                 data-speed="300"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <span class="text-gradient">Personal Home Management Platform</span>
                            </div>
                            <div class="tp-caption"
                                 data-x="750"
                                 data-y="center"
                                 data-voffset="100"
                                 data-start="1450"
                                 data-speed="300"
                                 style="left:100%;"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                                    <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                                </a>
                            </div>
                        </li>
                        <li data-transition="fade">
                            <img src="~/assets/images/bg-slide-5.jpg" alt="">
                            <div class="tp-caption title-xl"
                                 data-x="300"
                                 data-y="center"
                                 data-voffset="0"
                                 data-start="1300"
                                 data-speed="300"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <span class="text-gradient">Personal Home Management Platform</span>
                            </div>
                            <div class="tp-caption"
                                 data-x="750"
                                 data-y="center"
                                 data-voffset="100"
                                 data-start="1450"
                                 data-speed="300"
                                 style="left:100%;"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                                    <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                                </a>
                            </div>
                        </li>
                        <li data-transition="fade">
                            <img src="~/assets/images/bg-slide-6.jpg" alt="">
                            <div class="tp-caption title-xl"
                                 data-x="300"
                                 data-y="center"
                                 data-voffset="0"
                                 data-start="1300"
                                 data-speed="300"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <span class="text-gradient">Personal Home Management Platform</span>
                            </div>
                            <div class="tp-caption"
                                 data-x="750"
                                 data-y="center"
                                 data-voffset="100"
                                 data-start="1450"
                                 data-speed="300"
                                 style="left:100%;"
                                 data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                                 data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                                <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                                    <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div><!-- rev_slider -->
            </div>
            <header id="header">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2">

                            <!-- LOGO -->
                            <div id="logo">
                                <a href="index.html">
                                    <img src="~/assets/images/logo.png" alt="">
                                </a>
                            </div><!-- LOGO -->

                        </div><!-- col -->
                        <div class="col-sm-10">

                            <!-- MENU -->
                            <nav>

                                <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>
                                <div class="mobile-app">
                                    <a class="btn btn-style-4 waves" href="#"><i class="fa fa-download"></i> Mobile App</a>
                                </div>
                                <ul class="menu clearfix" id="menu">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                    {
                                        <li>@Html.ActionLink("Dashboard", "Index", "Users")</li>
                                    }
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@



                                    @Html.Partial("_LoginPartial")
                                    @*<li class="secondary-menu-btn">
                                            <ul class="secondary-menu">
                                                <li><a class="waves" href="index.html">Home</a></li>
                                                <li><a class="waves" href="#">ADMIN</a></li>
                                                <li><a class="waves" href="#">LOGIN</a></li>
                                                <li><a class="waves" href="#">CONTACT</a></li>
                                                <li><a class="waves" href="#">AIDE</a></li>
                                            </ul>
                                        </li>*@
                                </ul>

                            </nav>

                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- container-fluid -->

            </header>
        }
        

        @if (HttpContext.Current.User.Identity.IsAuthenticated && !((Request.RawUrl.ToString() == "/" || Request.RawUrl.ToString() == "/Home" || Request.RawUrl.ToString() == "/Home/Index")))
        {
            <div id="mySidenav" class="sidenav" style="width: 280px;">

                @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                    .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                    .Select(c => c.Value);
                    string role = roles.FirstOrDefault();}

                <div class="sidenav-header">User Account - @role</div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                @Html.Partial("_LoginPartial")
                @*<div class="user-panel">
                    <a href="#" class="dropdown-toggle userdropdown" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </a>
                    <ul class="dropdown-menu box userpanel">
                        <li class="">
                            <a href="#"><i class="fa fa-cogs"></i>Manage Account</a>
                        </li>
                        <li>
                            <a href="#" class="border-top"><i class="fa fa-power-off"></i>Log Out</a>
                        </li>
                    </ul>
                    <div class="profile-image">
                        <img src="~/assets/images/photo.png" alt="">
                    </div>
                    <div class="userid">
                        employee1@gmail.com
                    </div>
                </div>*@

                <a href="~/Users" class="active"><i class="fa fa-home"></i>Dashboard</a>

                @if (role == "Candidate")
                {
                    <a href="~/PublishedJobs"><i class="fa fa-search"></i> Search Jobs</a>

                    <a href="~/SearchJobOffers/CheckCandidateProfileExists"><i class="fa fa-search"></i> Search Employer (Not fixed)</a>

                    <a href="~/JobRequests"><i class="fa fa-graduation-cap"></i>Manage My Job Requests</a>

                    <a href="~/FavouriteJobOffers"><i class="fa fa-heart"></i> Manage my favorites</a>

                    <a href="~/Notification"><i class="fa fa-bell"></i> Messages &amp; Notifications</a>

                    <a href="~/Manage"><i class="fa fa-cog"></i> Manage my settings</a>
                }
                else if (role == "Employer")
                {

                    @*<a href="~/SearchJobRequests"><i class="fa fa-search"></i> Search Employee</a>*@
                    <a href="~/PublishedJobs"><i class="fa fa-search"></i> Search Jobs</a>
                    <a href="~/JobOffers"><i class="fa fa-graduation-cap"></i> My Job Offers</a>
                    <a href="~/FavouriteJobRequests"><i class="fa fa-heart"></i> Manage my favorites</a>
                    <a href="~/Notification"><i class="fa fa-bell"></i> Messages &amp; Notifications</a>
                    <a href="~/Manage"><i class="fa fa-cog"></i> Manage my settings</a>
                }
                else if (role == "Agency")
                {

                    <a href="~/PublishedJobs"><i class="fa fa-search"></i> Search Jobs</a>

                    <a href="~/SearchJobOffers"><i class="fa fa-search"></i> Search Employer (Not fixed)</a>

                    <a href="~/Agency/RegisterCandidate"><i class="fa fa-plus"></i> Create a Job Request</a>

                    <a href="~/Agency/GetJobRequests"><i class="fa fa-graduation-cap"></i> My Job Requests</a>

                    <a href="~/Notification"><i class="fa fa-heart"></i> Messages & Notifications</a>

                    <a href="~/Manage"><i class="fa fa-cog"></i> Manage my settings</a>

                }
                else if (role == "Admin")
                {
                    <a href="~/Admin/Agencies"><i class="fa fa-search"></i> Verify Agency Profiles</a>
                    <a href="~/Admin/Candidates"><i class="fa fa-search"></i> Verify Candidate Profiles</a>
                    <a href="~/Admin/Employers"><i class="fa fa-search"></i> Verify Employer Profiles</a>
                    <a href="~/Admin/ValidateJobRequests"><i class="fa fa-search"></i> Job Requests</a>
                    <a href="~/Admin/ValidateJobOffers"><i class="fa fa-search"></i> Job Offers</a>
                    <a href="~/Admin/ExportMembers"><i class="fa fa-upload"></i> Export</a>
                }
                
            </div>
        }

        @RenderBody()
    </div>
    @*<h1>@Request.Url.ToString()</h1>

    <h1>@Request.RawUrl.ToString()</h1>
    <h1>@Request.Url.AbsoluteUri</h1>*@
    <footer id="footer-container">
        <div id="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-6 order-2 order-sm-1">

                        <div class="widget widget-text">

                            <div>
                                <p>Select A Job &copy; @DateTime.Now.Year - All rights reserved</p>
                            </div>

                        </div><!-- widget-text -->

                    </div><!-- col -->
                    <div class="col-sm-6 order-1 order-sm-2">

                        <div class="widget widget-social">

                            <div class="social-media">

                                <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
                                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>

                            </div><!-- social-media -->

                        </div><!-- widget-social -->

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->

        </div><!-- footer-bottom -->

    </footer>

    <a id="scroll-up" class="waves"><i class="fa fa-angle-up"></i></a>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(".chb").change(function () {
            var checked = $(this).is(':checked');
            $(".chb").prop('checked', false);
            if (checked) {
                $(this).prop('checked', true);
            }
        });
    </script>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <script type="text/javascript" src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
        <script type="text/javascript" src="~/signalr/hubs"></script>
        <script type="text/javascript">
            $(function () {
                // Reference the auto-generated proxy for the hub.
                var chat = $.connection.notificationHub;
                // Create a function that the hub can call back to display messages.
                chat.client.showNotification = function (subject, message) {

                    alert(subject);
                    alert(message);
                };
                // Start the connection.
                $.connection.hub.start().done(function () {
                });
            });
            // This optional function html-encodes messages for display in the page.
            function htmlEncode(value) {
                var encodedValue = $('<div />').text(value).html();
                return encodedValue;
            }
        </script>
    }
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
                window.__lc = window.__lc || {};
                window.__lc.license = 10397537;
                (function () {
                    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
                    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
                })();
    </script>
    <noscript>
        <a href="https://www.livechatinc.com/chat-with/10397537/">Chat with us</a>,
        powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener" target="_blank">LiveChat</a>
    </noscript>
    <!-- End of LiveChat code -->
</body>
</html>
