@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    @*<ul class="menu clearfix pull-right login-partial">*@
        @*<li>
            @Html.ActionLink(User.Identity.GetUserName() + "", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fade fa-signout glyphicon glyphicon-off"></i>Log Off</a></li>*@
        


        <!--<li style="list-style:none;" class="dropdown profile-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-lg"></i>
                <span class="username">@User.Identity.GetUserName()</span>
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu box profile">
                <li>
                    <a href="/Manage"><i class="fa fa-gears"></i> Manage Account</a>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Log Off</a>
                </li>
            </ul>
        </li>-->


        if (!((Request.RawUrl.ToString() == "/" || Request.RawUrl.ToString() == "/Home" || Request.RawUrl.ToString() == "/Home/Index"  || Request.RawUrl.ToString() ==  "/Home/EmployerInfo?Length=4"
            || Request.RawUrl.ToString() == "/Home/CandidatInfo?Length=4" || Request.RawUrl.ToString() == "/Home/AgencyInfo?Length=4" || Request.RawUrl.ToString() == "/Home/About" || Request.RawUrl.ToString() == "/Account/Login"
            || Request.RawUrl.ToString() == "/Account/Register?userRole=Employer" || Request.RawUrl.ToString() == "/Account/Register?userRole=Candidate" || Request.RawUrl.ToString() == "/Account/Register?userRole=Agency")))
        //if(!Request.IsAuthenticated)
        {
        <div class="user-panel" style="display:none;">
        <a href="#" class="dropdown-toggle userdropdown" data-toggle="dropdown">
            <i class="fa fa-cog"></i>
        </a>
        <ul class="dropdown-menu box userpanel">
            <li class="">
                <a href="/Manage"><i class="fa fa-cogs"></i>Manage Account</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class=""><i class="fa fa-power-off"></i>&nbsp;Log Out</a>
            </li>
        </ul>
        <div class="profile-image">
            @*<img src="~/assets/images/photo.png" alt="">*@
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                var userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
                var profilePicUrl = userManager.FindByName(@User.Identity.GetUserName()).ProfilePicUrl;
                if (!string.IsNullOrWhiteSpace(profilePicUrl))
                {
                    <img src=" @profilePicUrl" alt="">
                }
                else
                {
                    <img src="~/assets/images/photo.png" alt="">
                }

            }
            else
            {
                <img src="~/assets/images/photo.png" alt="">
            }
        </div>
        <div class="userid">
            @User.Identity.GetUserName()
        </div>
    </div>
        }
        else
        {
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="waves"><i class="fa fa-power-off"></i>&nbsp;Log Out</a>
            </li>
        }


    @*</ul>*@
    }
}
else
{
    @*<ul class=""></ul>*@
        <li class="dropdown">
            @*@Html.ActionLink("REGISTER", "Register", "Account", routeValues: new { userRole = "Candidate" }, htmlAttributes: new { id = "registerLink" })*@
            <a href="#" class="waves">Register1</a>
            <ul>
                <li><a class="waves" href="~/Home/CandidatInfo?Length=4">CANDIDATE</a></li>
                <li><a class="waves" href="~/Home/EmployerInfo?Length=4">EMPLOYER</a></li>
                <li><a class="waves" href="~/Home/AgencyInfo?Length=4">AGENCY</a></li>
            </ul>
    </li>
    <li>@Html.ActionLink("LOG IN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    
}


