@model HireMe.Models.Job

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>

    <div>
        <h4>Job</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.JobName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobCategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobCategoryId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobGroup)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobGroup)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IconImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IconImage)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

@helper ShowTaskTree(IEnumerable<HireMe.Models.JobTask> jobTasks)
{
foreach (var item in jobTasks)
{
        <div class="checkbox"  style="margin-left:25px;">
            <label>
                
                <input type="checkbox" name="SecurityQuestionId" value="@item.JobTaskId" />
                @*@Html.CheckBoxFor(p => p.SecurityQuestionId, new { @value= item.Id})*@
                @item.JobTaskName
                <span></span>
            </label>
            @if (item.SubTasks.Any())
            {
                
                    @ShowTaskTree(item.SubTasks)
                
            }
        </div>


        @*<li class="@(item.SubTasks.Any() ? "dropdown-submenu" : "")">


            <input type="checkbox" class="chb" name="jobTaskId" value="@item.JobTaskId" />
            @item.JobTaskName
            @if (item.SubTasks.Any())
            {
                <ul class="dropdown-menu">
                    @ShowTaskTree(item.SubTasks)
                </ul>
            }
        </li>*@

}
}
<div id="main-container">

    <div class="container">
        @*<ul>*@
            @ShowTaskTree(Model.JobTasks.Where(p => p.ParentJobTaskId == null))
        @*</ul>*@
    </div>
</div>


