@model IEnumerable<HireMe.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IconImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobId })
        </td>
    </tr>
}

</table>
