<div id="main-container">
    <!-- HEADER -->
    <header id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">

                    <!-- LOGO -->
                    <div id="logo">
                        <a href="index.html">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div><!-- LOGO -->

                </div><!-- col -->
                <div class="col-sm-10">

                    <!-- MENU -->
                    <nav>

                        <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>
                        <div class="mobile-app">
                            <a class="btn btn-style-4 waves" href="#"><i class="fa fa-download"></i> Mobile App</a>
                        </div>
                        
                        <ul class="menu clearfix" id="menu">
                            
                            @*
                                <li class="active"><a href="index.html">HOME</a></li>*@
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                            }

                            @*
                                <li><a href="#">ADMIN</a></li>
                                <li><a href="#">LOGIN</a></li>*@
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>
                                <a class="waves" href="#">Post a Job</a>
                            </li>
                            @Html.Partial("_LoginPartial")
                            
                        </ul>

                    </nav>

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container-fluid -->

    </header><!-- HEADER -->
    <!-- PAGE CONTENT -->

    <!-- PAGE CONTENT -->
    <div id="page-content">
        <div id="page-header">
            <div class="ken-burns" style="background-image:url(../images/backgrounds/page-header-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>OFFERS & SERVICES FOR ALL</h1>
                        @*<ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">About us</li>
                        </ol>*@
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- page-header -->


        <section class="full-section half-image" id="section-311">
            <div class="half-image-left wow fadeInLeft" style="background-image:url(/assets/images/candidate1.jpg);">
                <img src="/assets/images/candidate1.jpg" alt="">
            </div><!-- half-image-right -->
            <div class="full-section-container">
                <div class="container-fluid wow fadeInRight">
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <h4>Candidate</h4>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-search"></i></span>
                                <div class="service-box-content">
                                    <p>We strive to validate all published job offers to ensure compliance in your search results</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-success"></i></span>
                                <div class="service-box-content">
                                    <p>We highlight your profile to the employers community thanks to the logo "profile checked" which proves that you have uploaded a 
                                    proof of identification that corresponds well to the information declared</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-funnel"></i></span>
                                <div class="service-box-content">
                                    <p>We offer you criteria made on measures and specific by job (nanny, troubleshooting, home courses...) that 
                                    will allow you to effectively filter the offers of employers who are looking for your profile</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="fa fa-handshake-o"></i></span>
                                <div class="service-box-content">
                                    <p>We strive by our partnerships to offer you jobs in renowned institutes (Resto, pastry, agency...)</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->
                   
                </div><!-- container-fluid -->
            </div><!-- full-section-container -->
        </section><!-- full-section -->

        <section class="full-section half-image" id="section-32">
            <div class="full-section-container">
                <div class="container-fluid wow fadeInLeft">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 mr-auto">
                            <div class="service-box style-9 icon-left mb-3">
                               <h4>Employer</h4>
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 mr-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-search"></i></span>
                                <div class="service-box-content">
                                    <p>We strive to validate all published job applications to ensure compliance in your search results</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 mr-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-success"></i></span>
                                <div class="service-box-content">
                                    <p>We strive to validate the identity documents of all the candidates who download one and we put at your disposal a logo that will allow you to identify these profiles</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 mr-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-funnel"></i></span>
                                <div class="service-box-content">
                                    <p>We offer you criteria made on measures and specific by jobs (nanny, troubleshooting, home courses...) that will allow you to effectively filter the ideal profile</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 mr-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-internet"></i></span>
                                <div class="service-box-content">
                                    <p>We strive to make you belong to a community where all members participate to note and recommend the profiles already hired which facilitates the search for everyone</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 mr-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="fa fa-handshake-o"></i></span>
                                <div class="service-box-content">
                                    <p>We strive to offer you qualified profiles resulting from our partnerships with agencies, reputable institutes..</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- container-fluid -->
            </div><!-- full-section-container -->
            <div class="half-image-right wow fadeInRight" style="background-image:url(/assets/images/employer1.jpg);">
                <img src="/assets/images/employer1.jpg" alt="">
            </div><!-- half-image-right -->
        </section><!-- full-section -->

        <section class="full-section half-image" id="section-311">
            <div class="half-image-left wow fadeInLeft" style="background-image:url(/assets/images/agency1.jpg);">
                <img src="/assets/images/agency1.jpg" alt="">
            </div><!-- half-image-right -->
            <div class="full-section-container">
                <div class="container-fluid wow fadeInRight">
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <h4>Agency</h4>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-search"></i></span>
                                <div class="service-box-content">
                                    <p>We allow our trusted partners to increase the visibility of their company by offering them the opportunity to have their logo... 
                                    In a list located in the main page of each type job section and visible to all members before making their Research</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-success"></i></span>
                                <div class="service-box-content">
                                    <p>
                                        We offer you criteria made on measures and specific by jobs (nanny, troubleshooting, home courses...) 
                                        that will allow you to effectively filter the ideal candidates or employers
                                    </p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-funnel"></i></span>
                                <div class="service-box-content">
                                    <p>
                                        We offer you specific tools to quickly register your candidates and to have an overview on their info to validate
                                    </p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-5 ml-auto">
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="fa fa-handshake-o"></i></span>
                                <div class="service-box-content">
                                    <p>We strive by our partnerships to offer your members recurring jobs in renowned institutes (Resto, pastry, agency...)</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div><!-- col -->
                        <div class="col-lg-1"></div>
                    </div><!-- row -->

                </div><!-- container-fluid -->
            </div><!-- full-section-container -->
        </section><!-- full-section -->


    </div><!-- PAGE CONTENT -->
</div>
