
<div id="main-container">

    <div class="rev_slider_wrapper mb-0">
        <div class="rev_slider" data-version="5.4.5">
            <ul>
                <li data-transition="fade">
                    <img src="~/assets/images/bg-slide-1.jpg" alt="">
                    <div class="tp-caption title-xl"
                         data-x="300"
                         data-y="center"
                         data-voffset="0"
                         data-start="1300"
                         data-speed="300"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        <span class="text-gradient">Personal Home Management Platform</span>
                    </div>
                    <div class="tp-caption"
                         data-x="750"
                         data-y="center"
                         data-voffset="100"
                         data-start="1450"
                         data-speed="300"
                         style="left:100%;"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                            <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                        </a>
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="~/assets/images/bg-slide-2.jpg" alt="">
                    <div class="tp-caption title-xl"
                         data-x="300"
                         data-y="center"
                         data-voffset="0"
                         data-start="1300"
                         data-speed="300"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        <span class="text-gradient">Personal Home Management Platform</span>
                    </div>
                    <div class="tp-caption"
                         data-x="750"
                         data-y="center"
                         data-voffset="100"
                         data-start="1450"
                         data-speed="300"
                         style="left:100%;"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        @*<a class="btn btn-style-1 waves" href="http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4" data-fancybox data-small-btn="false"><i style="font-size:28px;" class="bizhub-icon-play-button"></i> <span>Play Video</span></a>*@
                        <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                            <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                        </a>
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="~/assets/images/bg-slide-3.jpg" alt="">
                    <div class="tp-caption title-xl"
                         data-x="300"
                         data-y="center"
                         data-voffset="0"
                         data-start="1300"
                         data-speed="300"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        <span class="text-gradient">Personal Home Management Platform</span>
                    </div>
                    <div class="tp-caption"
                         data-x="750"
                         data-y="center"
                         data-voffset="100"
                         data-start="1450"
                         data-speed="300"
                         style="left:100%;"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                            <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                        </a>
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="~/assets/images/bg-slide-4.jpg" alt="">
                    <div class="tp-caption title-xl"
                         data-x="300"
                         data-y="center"
                         data-voffset="0"
                         data-start="1300"
                         data-speed="300"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        <span class="text-gradient">Personal Home Management Platform</span>
                    </div>
                    <div class="tp-caption"
                         data-x="750"
                         data-y="center"
                         data-voffset="100"
                         data-start="1450"
                         data-speed="300"
                         style="left:100%;"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                            <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                        </a>
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="~/assets/images/bg-slide-5.jpg" alt="">
                    <div class="tp-caption title-xl"
                         data-x="300"
                         data-y="center"
                         data-voffset="0"
                         data-start="1300"
                         data-speed="300"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        <span class="text-gradient">Personal Home Management Platform</span>
                    </div>
                    <div class="tp-caption"
                         data-x="750"
                         data-y="center"
                         data-voffset="100"
                         data-start="1450"
                         data-speed="300"
                         style="left:100%;"
                         data-transform_in="o:0;sX:0.75;sY:0.75;s:250;e:Power2.easeInOut;"
                         data-transform_out="o:0;sX:0.75;sY:0.75;s:300;e:Power2.easeInOut;">
                        @*<a class="btn btn-style-1 waves" href="http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4" data-fancybox data-small-btn="false"><i style="font-size:28px;" class="bizhub-icon-play-button"></i> <span>Play Video</span></a>*@
                        <a class="play-but" data-fancybox data-small-btn="false" data-width="640" data-height="360" href="https://youtu.be/3PyO0iOHwH8">
                            <i style="font-size:28px;" class="bizhub-icon-play-button"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div><!-- rev_slider -->
    </div><!-- rev_slider_wrapper -->
    <!-- HEADER -->
    <header id="header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">

                    <!-- LOGO -->
                    <div id="logo">
                        <a href="index.html">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div><!-- LOGO -->

                </div><!-- col -->
                <div class="col-sm-10">

                    <!-- MENU -->
                    <nav>

                        <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>

                        <ul class="menu clearfix" id="menu">
                            @*
                            <li class="active"><a href="index.html">HOME</a></li>*@
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                            }

                            @*
                            <li><a href="#">ADMIN</a></li>
                            <li><a href="#">LOGIN</a></li>*@
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>
                                <a class="waves" href="#">Post a Job</a>
                            </li>
                            @Html.Partial("_LoginPartial")
                            <li class="secondary-menu-btn">
                                @*<a href="#"><i class="bizhub-icon-menu-bars"></i></a>*@
                                <ul class="secondary-menu">
                                    <li><a class="waves" href="index.html">Home</a></li>
                                    <li><a class="waves" href="#">ADMIN</a></li>
                                    <li><a class="waves" href="#">LOGIN</a></li>
                                    <li><a class="waves" href="#">CONTACT</a></li>
                                    <li><a class="waves" href="#">AIDE</a></li>
                                </ul>
                            </li>
                        </ul>

                    </nav>

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container-fluid -->

    </header><!-- HEADER -->
    <!-- PAGE CONTENT -->


    <div id="page-content" style="padding:0 0 50px 0;">
        <div class="hr mt-0 ml-3 mr-3 ml-xl-5 mr-xl-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="headline text-center mb-1 wow fadeInDown">
                        <h2>What is JOBTEK?</h2>
                        <h5><strong style="color:#fe005a;">JOBTEK</strong> is a platform for connecting home employers and candidates & designed to offer you a simple, fast & efficient search experience</h5>
                    </div><!-- headline -->

                </div><!-- col -->
            </div><!-- row -->
        </div>

        <section class="team-section full-section dark-section parallax" id="section-33">
            <div class="full-section-overlay" data-overlay-opacity="13" data-overlay-color="linear-gradient(left, #ff005a, #310068)" style="opacity: 0.3;"></div>
            <div class="full-section-container">
                <div class="container">
                    <div class="team-wrapper  wow fadeInUp">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <a href="#"><img src="~/assets/images/candidate.jpg" alt=""></a>
                                            <div class="team-content-holder">
                                                <div class="personal-info">
                                                    <h3>Candidat</h3>
                                                    <a class="btn btn-style-1 waves" href="#">Start Here</a>
                                                </div>
                                                <!-- .awsm-personal-info -->
                                                <div class="team-contact-info">
                                                    <p>You are looking for a home job to propose a qualified service for long term service (nanny, Guardian…) or a short term  (School support, ceremony organization…)</p>
                                                    @Html.ActionLink("Start Here", "Register", "Account", new { userRole = "Candidate" }, new { @class = "btn btn-style-1 waves" })
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <a href="#"><img src="~/assets/images/employer.jpg" alt=""></a>
                                            <div class="team-content-holder">
                                                <div class="personal-info">
                                                    <h3>Employer</h3>
                                                    <a class="btn btn-style-1 waves" href="#">Start Here</a>
                                                </div>
                                                <!-- .awsm-personal-info -->
                                                <div class="team-contact-info">
                                                    <p>You are looking for a short term home service (nanny, Cook...) or occasional (troubleshooting, braiding, Esthetician...)</p>
                                                    @*<a class="btn btn-style-1 waves" href="#">Start Here</a>*@
                                                    @Html.ActionLink("Start Here", "Register", "Account", new { userRole = "Employer" }, new { @class = "btn btn-style-1 waves" })
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            
                            <div class="col-sm-12 col-lg-4">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <a href="#"><img src="~/assets/images/agency.jpg" alt=""></a>
                                            <div class="team-content-holder">
                                                <div class="personal-info">
                                                    <h3>Agency</h3>
                                                    <a class="btn btn-style-1 waves" href="#">Start Here</a>
                                                </div>
                                                <!-- .awsm-personal-info -->
                                                <div class="team-contact-info">
                                                    <p>You are looking for new candidates to hire or home employer for your candidates. You would like to manage efficiently your research</p>
                                                    @Html.ActionLink("Start Here", "Register", "Account", new { userRole = "Agency" }, new { @class = "btn btn-style-1 waves" })
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="page-content" style="padding-bottom:0;">
       
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="headline text-center wow fadeInDown">
                        <h2>STRONG POINTS OF JOBTEK</h2>
                        @*<h5>We guarantee you a unique experience on this platform</h5>*@
                    </div><!-- headline -->

                </div><!-- col -->
            </div><!-- row -->
        </div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="service-box style-5">
                        <span>
                        @*<i class="bizhub-icon-television"></i>*@
                            <img src="~/assets/images/multiservice.png" />
                        </span>
                        <div class="service-box-content">
                            <h5><a href="single-service.html">MULTI SERVICES AT HOME</a></h5>
                            <p>Offer you long term services of quality (nanny, Cook...) but also occasional services of professionals (troubleshooting, Estheticians...)</p>
                        </div><!-- service-box-content -->
                    </div><!-- service-box -->
                </div><!-- col -->
                <div class="col-lg-3 col-sm-6 wow fadeInLeft">
                    <div class="service-box style-5">
                        <span>
                        @*<i class="bizhub-icon-photo-camera"></i>*@
                            <img src="~/assets/images/filter.png" />
                        </span>
                        <div class="service-box-content">
                            <h5><a href="single-service.html">FILTRE BY MULTI CRITERIA</a></h5>
                            <p>Target with a few clicks the ideal profile thanks to the panoply of customized criteria put at your disposal (agency profile, read/write, verified ID...)</p>
                        </div><!-- service-box-content -->
                    </div><!-- service-box -->
                </div><!-- col -->
                <div class="col-lg-3 col-sm-6 wow fadeInRight">
                    <div class="service-box style-5">
                        <span>
                        @*<i class="bizhub-icon-note"></i>*@
                            <img src="~/assets/images/mission.png" />
                        </span>
                        <div class="service-box-content">
                            <h5><a href="single-service.html">PRECISION & CLARITY</a></h5>
                            <p>The accuracy of the profile info displayed will allow you to make in a few seconds a clear opinion if the candidate meets your expectations</p>
                        </div><!-- service-box-content -->
                    </div><!-- service-box -->
                </div><!-- col -->
                <div class="col-lg-3 col-sm-6 wow fadeInRight" data-wow-delay="0.1s">
                    <div class="service-box style-5">
                        <span>
                        @*<i class="bizhub-icon-smartphone"></i>*@
                            <img src="~/assets/images/recommendation.png" />
                        </span>
                        <div class="service-box-content">
                            <h5><a href="single-service.html">NOTES & RECOMMENDATIONS</a></h5>
                            <p>Use feedback from the "JOBTEK community" to identify confidence profiles and guide your choice</p>
                        </div><!-- service-box-content -->
                    </div><!-- service-box -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- PAGE CONTENT -->
</div>